---
layout: blog
---

<h1 class="post-title">Archives</h1>

<!-- Capture & Assign Variables Used In Menu -->

    <!-- Months Array -->
    {% assign months = "January|February|March|April|May|June|July|August|September|October|November|December" | split: "|"  %}

    <!-- First Post Variables -->
    {% capture firstyear %} {{ site.posts.last.date | date: '%Y' | times: 1 }} {% endcapture %}
    {% capture firstmonth %} {{ site.posts.last.date | date: '%B' | times: 1 }} {% endcapture %}
    {% capture firstmonthint %} {{ site.posts.last.date | date: '%m' | times: 1 }} {% endcapture %}
    {% assign firstyear = firstyear | times: 1 %}
    {% assign firstmonthint = firstmonthint | times: 1 %}

    <!-- Latest Post Variables -->
    {% capture latestyear %} {{ site.posts.first.date | date: '%Y' | times: 1 }} {% endcapture %}
    {% capture latestmonth %} {{ site.posts.first.date | date: '%B' | times: 1 }} {% endcapture %}
    {% capture latestmonthint %} {{ site.posts.first.date | date: '%m' | times: 1 }} {% endcapture %}
    {% assign latestyear = latestyear | times: 1 %}
    {% assign latestmonthint = latestmonthint | times: 1 %}

<div id="MainMenu">
  <div class="list-group panel">
  <!-- Loop Through Years -->
    {% for year in (firstyear..latestyear) reversed %}
      {% assign year = year | times: 1 %}

    <a href="#{{ year }}" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">{{ year }}</a>
    <div class="collapse" id="{{ year }}">

        <!-- Loop Through Months -->
        {% for month in (months) %}

          {% assign counter = 0 %}
            <!-- Get Count of Posts This Month -->
            {% for post in site.posts %}

              {% if post.categories contains 'changelog'%}

                {% assign postyear = post.date | date: "%Y" | times: 1 %}
                {% assign postmonth = post.date | date: "%B"%}

                {% if year == postyear and month == postmonth %}
                  {% assign counter = counter | plus: 1 %}
                {% endif %}

                {% if forloop.index == site.posts.size and counter > 0 %}
                  <a href="#{{ month }}" class="list-group-item" data-toggle="collapse" data-parent="#{{ year }}">{{ month }} ({{counter}})</a>
                  <div class="collapse" id="{{ month }}">
                {% endif %}

              {% endif %}
            {% endfor %}

            {% for post in site.posts %}

              {% if post.categories contains 'changelog'%}

                {% assign postyear = post.date | date: "%Y" | times: 1 %}
                {% assign postmonth = post.date | date: "%B"%}

                {% if year == postyear and month == postmonth and post.categories contains 'changelog' %}
                  <a href="{{ post.url }}"  class="list-group-item"> {{ post.title }} • {{ post.date | date: "%A, %B %-d"}} </a>
                {% endif %}
                {% if forloop.index == site.posts.size and counter > 0 %}
                  </div>
                {% endif %}

              {% endif %}

            {% endfor %}

        {% endfor %} <!-- Close Month Loop -->

      </div>

    {% endfor %} <!-- Close Year Loop -->
  </div>
</div>
