.jumbotron-home {
  background-color: white !important;
  height: 100vh;
  padding-top: 100px !important;

  h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-size: 36px;
    font-weight: 400;
  }

  p {
    color: #4a4a4a;
    font-size: 16px !important;
    font-weight: 300;
    line-height: 1.75;
  }
}

.card-content {
  padding: 50px 0;
}

.home-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px;
  min-height: 380px;
  border: 2px solid $light-gray;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);

  img {
    min-height: 120px;
    padding: 10px;
  }

  .btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
