.headline h2, 
.headline h3,
.headline h4 {
  border-bottom: 2px solid #0275BC;
}

.title-v1 h1:after,
.title-v1 h2:after {
  background: #0275BC;
}

.headline-center h2:after {
  background: #0275BC;
}


.headline-left .headline-brd:after {
  background: #0275BC;
}


.tab-v1 .nav-tabs {
  border-bottom: solid 2px #0275BC;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
  background: #0275BC;
}

.tab-v1 .nav-tabs > li > a:hover {
  background: #0275BC;
}


.tab-v2 .nav-tabs li.active a {
  border-top: solid 2px #0275BC;
}


.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
  background: #0275BC;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
   border-color: #0275BC;
   background-color: #0275BC;
}

.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
  color: #0275BC;
}

.btn-u {
   background: #0275BC;
}

.btn-u.btn-brd {
  border-color: #0275BC;
}

span.label-u,
span.badge-u {
  background: #0275BC;
}

.link-icon:hover i {
  color: #0275BC;
  border: solid 1px #0275BC;
}

.link-bg-icon:hover i {
  color: #0275BC;
  background: #0275BC;
  border-color: #0275BC;
}

i.icon-color-u {
   color: #0275BC;
   border: solid 1px #0275BC;
}

i.icon-bg-u {
   background: #0275BC;
}

.content-boxes-v4 i {
  color: #0275BC;
}

.content-boxes-v5:hover i {
  background: #0275BC;
}

.content-boxes-v6:hover i {
  background: #0275BC;
}

.content-boxes-v6:hover i:after {
  border-color: #0275BC;
}

.service-block-u {
  background: #0275BC;
}


.funny-boxes p a {
  color: #0275BC;
}

.funny-boxes .funny-boxes-img li i {
  color: #0275BC;
}

/*Green Left Bordered Funny Box**/
.funny-boxes-left-green {
  border-left: solid 2px #0275BC;
}

/*Green Right Bordered Funny Box**/
.funny-boxes-right-u {
  border-right: solid 2px #0275BC;
}

/*Typography
------------------------------------*/
/*Text Dropcap*/
.dropcap {
  color: #0275BC;
}

.dropcap-bg {
  background: #0275BC;
}

.text-highlights-green {
   background: #0275BC;
}
.text-border-green {
   border-color: #0275BC;
}

blockquote:hover,
blockquote.text-right:hover {
  border-color: #0275BC;
}

blockquote.bq-green {
  border-color: #0275BC;
}

blockquote.hero.hero-default {
  background: #0275BC;
}

/*Tag Boxes v1*/
.tag-box-v1 {
  border-top: solid 2px #0275BC;
}

/*Tag Boxes v2*/
.tag-box-v2 {
  border-left: solid 2px #0275BC;
}

/*Tag Boxes v7*/
.tag-box-v7 {
  border-bottom: solid 2px #0275BC;
}

.testimonials .testimonial-info {
  color: #0275BC;
}

.testimonials .carousel-arrow i:hover {
  background: #0275BC;
}

/*Testimonials Default*/
.testimonials-bg-default .item p {
  background: #0275BC;
}

.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
  border-top-color: #0275BC;
}

.testimonials-bg-default .carousel-arrow i {
  background: #0275BC;
}

/*Panel Unify*/
.panel-u {
   border-color: #0275BC;
}

.panel-u > .panel-heading {
   background: #0275BC;
}

.progress-bar-u {
  background: #0275BC;
}

/*Count Stars
------------------------------------*/
.stars-existing {
  color: #0275BC;
}

.color-green { color: #0275BC;}

.bg-color-green { background-color: #0275BC !important;}
