body {
	font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}

.edit-github-link > a {
	color: #fff;
}

.edit-github-link > a:hover {
	color: #fff;
}

.edit-github-link > a > i {
	margin-right: 5px;
}
