 /*Top Bar (login, search etc.)

#0275BC

------------------------------------*/

.header .navbar-toggle,
.header .navbar-default .navbar-toggle:hover, 
.header .navbar-default .navbar-toggle:focus {
	background: #0275BC;
}

.header .navbar-default .navbar-nav > .active > a {
	color: #0275BC;
}

.header .navbar-brand {
	padding-bottom: 7px;
}

/*Responsive Navbar*/
@media (max-width: 991px) {

	.header .navbar-default .navbar-nav > li > a:hover {
		color: #0275BC;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: #0275BC;
	}

}

@media (min-width: 992px) {	
	
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #0275BC;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #0275BC;
	}

	.header .navbar-default .navbar-nav > li:hover > a {
        color: #0275BC;
    }

	/*Dropdown Menu*/
	.header .dropdown-menu { 
		border-top: solid 2px #0275BC; 
	}

}


.header .navbar .nav > li > .search:hover {
	color: #0275BC;
	border-bottom-color: #0275BC;
}
