.revolution-ch2 {
	content: none;
	font-size: 40px;
	line-height: normal;
	text-align: center;
	max-width: 900px;
	width: 900px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.revolution-ch2:after {
	content: none;
}

.tp-caption a{
	color:#ffffff;
}
