.footer-logo {
  margin: 0 0 20px;
}

a {
   color: #0275BC;
}

a:hover {
   color: #0275BC;
}

.service .service-icon {
	color: #0275BC;
}

.recent-work a:hover span {
	border-bottom: solid 2px #0275BC;
}

.breadcrumb li.active,
.breadcrumb li a:hover {
	color: #0275BC;
}

.thumbnail h3 a:hover,
.thumbnail-style h3 a:hover {
	color: #0275BC;
}

.thumbnail-style a.btn-more {
	background: #0275BC;
}

.posts .dl-horizontal dd a:hover {
	color: #0275BC;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
	color: #0275BC;
	border-color: #0275BC !important;
}

.team ul.team-socail li i:hover {
	background: #0275BC;
}

.team .thumbnail-style:hover h3 a {
	color: #0275BC !important;
}

.privacy a:hover {
	color: #0275BC;
}

ul.blog-tags a:hover {
	background: #0275BC;
}

.blog-photos li img:hover {
	box-shadow: 0 0 0 2px #0275BC;
}

.blog-twitter .blog-twitter-inner:hover {
	border-color: #0275BC;
	border-top-color: #0275BC;
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: #0275BC;
}

.blog-twitter .blog-twitter-inner a {
	color: #0275BC;
}

.who li i {
	color: #0275BC;
}

.promo-box:hover strong,
.promo-box:hover strong a {
	color: #0275BC;
}

.info-blocks:hover i.icon-info-blocks {
	color: #0275BC;
}

.line-icon-page .item:hover {
	color: #0275BC;
}

.bs-glyphicons li:hover {
	color: #0275BC;
}

.status-bar li i {
	color: #0275BC;
}

.share-list li i {
	color: #0275BC;
}

.testimonials-bs .carousel-control-v2 i:hover {
  color: #0275BC;
  border-color: #0275BC;
}

.col-md-9 li a{
  color: #0275BC;
}

/* Navbar Pull Bottom */

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

div.container.content { /* Container Content is usually what we want the bottom padding on. */
  padding-bottom:400px;
}

div.container.content-sm { /* Sometimes it's small. */
  padding-bottom:400px;
}

.one-page-inner div.container.content { /* Some pages use these combo classes in other ways - remove the padding... */
  padding-bottom: 0px;
}
div.container.content.last { /* ... and only apply it to the last item. */
  padding-bottom: 400px;
}
.footer-v1 {
	width:100%;
	height:375px;
	position:absolute;
	bottom:0;
	left:0;
}
