<footer class="hidden-print">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 company-description">
          <p>
            Concur is a leading provider of integrated travel and expense management solutions.
            <a href="https://www.concur.com/en-us/about">More <i class="fa fa-angle-right"></i></a>
          </p>
        </div>
        <div class="col-md-3">
          <h2 class="headline">About Concur</h2>
          <ul class="list-unstyled link-list">
            <li><a href="https://www.concur.com/en-us/media-resources/press-releases">Press Releases</a><i class="fa fa-angle-right"></i></li>
            <li><a href="https://www.concur.com/en-us/about/news">In the News</a><i class="fa fa-angle-right"></i></li>
            <li><a href="https://www.concur.com/en-us/perfect-trip-fund">Perfect Trip Fund</a><i class="fa fa-angle-right"></i></li>
            <li><a href="https://www.concur.com/en-us/events">Events</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2 class="headline">Contact</h2>
          <address>
            601 108th Ave NE, Suite 1000 <br />
            Bellevue, WA 98004 USA <br />
            Phone: 800 401 8412 <br />
            Fax: 425 590 5999
          </address>
        </div>
      </div>

      <div class="row footer-github">
        <div class="col-md-12 text-center">
          <a href="{{ site.repository_url }}{{ page.path }}"><i class="fa fa-github fa-2x"></i> Edit this page on GitHub</a>
          <span>|</span>
          <a href="https://github.com/concur/developer.concur.com/commit/{{ site.data.git.commit }}">Produced from {{ site.data.git.commit }}</a>
        </div>
      </div>

      <div class="row footer-copyright">
        <div class="col-md-8">
          <p>
            &copy;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
            All Rights Reserved.
            <a href="https://www.concur.com/en-us/privacy-policy">Privacy Policy</a> |
            <a href="{{ site.baseurl }}/Terms-of-Use.html">Terms of Use</a> |
            <a href="{{ site.baseurl }}/tools-support/deprecation-policy.html">API Deprecation Policy</a>
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-4">
          <ul class="list-inline social-icons">
            <li>
              <a href="https://www.facebook.com/SAPConcur" target="_blank">
                <span class="sr-only">Facebook</span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/5822" target="_blank">
                <span class="sr-only">LinkedIn</span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/concurapi" target="_blank">
                <span class="sr-only">Twitter</span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/playlist?list=PLLNSVdjqNPVseaDkR5hSF4CDjnlLK7_nq" target="_blank">
                <span class="sr-only">Youtube</span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div> <!--/.footer-copyright-->
    </div> <!--/.container-->
  </div> <!--/.footer-->
</footer>
