<div class="hidden-print">
  <nav class="navbar navbar-default hidden-print">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/img/concur_logo_white_gold.png" alt="Logo">
          <div class="app-name">Developer Center</div>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="nav-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- Development -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
              Development <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-column three-column-menu">
              <div class="row">
                <div class="col-sm-4">
                  <ul class="multi-column-dropdown">
                    <li class="column-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                      </span>
                    </li>
                    <li class="column-title">About</li>
                    <li><a href="{{ site.baseurl }}/getting-started.html">Getting Started</a></li>
                    <li><a href="{{ site.baseurl }}/api-reference/authentication/getting-started.html">Authentication</a></li>
                    <li><a href="{{ site.baseurl }}/platform/index.html">Platform</a></li>
                    <li><a href="{{ site.baseurl }}/tools-support/deprecation-policy.html">API Deprecation</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <ul class="multi-column-dropdown">
                    <li class="column-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                      </span>
                    </li>
                    <li class="column-title">Documentation</li>
                    <li><a href="{{ site.baseurl }}/api-reference/">API Reference</a></li>
                    <li><a href="{{ site.baseurl }}/api-explorer/">API Explorer</a></li>
                    <li><a href="{{ site.baseurl }}/api-guides/">API Guides</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <ul class="multi-column-dropdown">
                    <li class="column-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
                      </span>
                    </li>
                    <li class="column-title">UX Guidelines</li>
                    <li><a href="{{ site.baseurl }}/manage-apps/go-market-docs/app-center-ux-guidelines-enterprise.html">Apps for My
                        Business</a></li>
                    <li><a href="{{ site.baseurl }}/manage-apps/go-market-docs/app-center-ux-guidelines-consumer.html">Apps for Me</a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Partner Resources -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Partner Resources <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="column-icon">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
                </span>
              </li>
              <li class="column-title">Partner Resources</li>
              <li><a href="{{ site.baseurl }}/manage-apps/app-certification.html">App Certification</a></li>
              <li><a href="{{ site.baseurl }}/manage-apps/partner-applications.html">App Registration & Management</a></li>
              <li><a href="{{ site.baseurl }}/manage-apps/redirect.html">Go to Market</a></li>
              <li><a href="https://www.concur.com/en-us/app-center" target="_blank">App Center</a></li>
              <li><a href="https://www.concursolutions.com/" target="_blank">Login to Concur</a></li>
            </ul>
          </li>
          <!-- Support -->
          <li
            class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
              Support <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-column two-column-menu">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <li class="column-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                      </span>
                    </li>
                    <li class="column-title">Support</li>
                    <li><a href="{{ site.baseurl }}/tools-support/support.html">Support Options</a></li>
                    <li><a href="https://open.concur.com/" target="_blank">Service Status</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <li class="column-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
                      </span>
                    </li>
                    <li class="column-title">Bulletin</li>
                    <li><a href="{{ site.baseurl }}/announcements/index.html">Announcements</a></li>
                    <li><a href="{{ site.baseurl }}/tools-support/release-notes/index.html">Release Notes</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Search -->
          <li>
            <a href="#" class="search">
              <span class="sr-only">Search</span>
              <i class="fas fa-search search-btn"></i>
            </a>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <form method="GET" action="{{ site.baseurl }}/search.html" id="searchbox_000165422556797149853:qlbg8re_3tu">
                  <input value="000165422556797149853:qlbg8re_3tu" name="cx" type="hidden">
                  <input value="FORID:11" name="cof" type="hidden"> <!-- FORID values configure ad positions -->
                  <div class="input-group">
                    <label for="q" hidden>Search</label>
                    <input type="text" id="q" class="form-control" name="q" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn bright-blue">Go</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </li>
        </ul> <!-- /.navbar-nav -->
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container -->
  </nav> <!-- /.navbar -->
</div>
