<div class="alert alert-danger">
  <p><strong>This API has been retired.</strong></p>
  {% if include.deprecation_date %}
  <p>Deprecation Date: {{ include.deprecation_date }}</p>
  {% endif %}
  {% if include.unsupported_date %}
  <p>Unsupported Date: {{ include.unsupported_date }}</p>
  {% endif %}
  {% if include.retired-date %}
  <p>Retired Date: {{ include.retired-date }}</p>
  {% endif %}
  <p>{{ include.content | markdownify }}</p>
  <p>Partners and customers using a deprecated API should contact SAP Concur and discuss moving to the latest versions.</p>
  <p>Learn more in the <a href="/tools-support/deprecation-policy.html">API Lifecycle & Deprecation Policy.</a></p>
</div>
