{
  "swagger": "2.0",
  "host": "rqa3-cb.concurtech.net",
  "basePath": "/api/v3.1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "",
    "description": "",
    "version": "3.1"
  },
  "paths": {
    "/travelrequest/requests/{id}": {
      "get": {
        "summary": "Get a Request by ID",
        "description": "Returns a Request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OutputRequest"
            }
          }
        }
      },
      "put": {
        "summary": "Update a Request",
        "description": "Update a Request",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "Partial or complete Request object to save",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutInputRequest"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "doSubmit",
            "in": "query",
            "description": "Trigger a submit action upon a successfull save operation",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "forceSubmit",
            "in": "query",
            "description": "Force the submit operation even if non-blocking functional exceptions were to be raised on request creation or update operation.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestResponse"
            }
          }
        }
      }
    },
    "/travelrequest/requests": {
      "get": {
        "summary": "Get all Requests",
        "description": "Returns all Requests owned by the user.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Starting page offset",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return (default 100)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this Request. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The Status search term specifies which travel request or approval status to return. If no Status value is sent, the default Status of Active will be used.",
            "required": false,
            "type": "string"
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "This returns travel requests in which the associated dependents (header, entries, segments, allocations, attendees, comments ) were modified after the specified date and time. This search term can be used along with other search terms to narrow the results. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "This returns travel requests in which the associated dependents (header, entries, segments, allocations, attendees, comments ) were modified before the specified date and time.This search term can be used along with other search terms to narrow the results. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "withSegmentTypes",
            "in": "query",
            "description": "Pass true to populate the SegmentType field in the result.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "withUserPermissions",
            "in": "query",
            "description": "Pass true to get the UserPermssions in the result.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestCollection"
            }
          }
        }
      },
      "post": {
        "summary": "Create a Request",
        "description": "Create a Request",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "Partial or complete Request object to save",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostInputRequest"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "doSubmit",
            "in": "query",
            "description": "Trigger a submit action upon a successfull save operation",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "forceSubmit",
            "in": "query",
            "description": "Force the submit operation even if non-blocking functional exceptions were to be raised on request creation or update operation.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestResponse"
            }
          }
        }
      }
    },
    "/travelrequest/requests/{id}/submit": {
      "post": {
        "summary": "Submit a Request by ID",
        "description": "Submit a Request by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    },
    "/travelrequest/requests/{id}/recall": {
      "post": {
        "summary": "Recall a Request by ID",
        "description": "Recall a Request by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Comment": {
      "properties": {
        "AuthorFirstName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "AuthorLastName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "CommentDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "IsLatest": {
          "type": "boolean",
          "description": "Indicates whether the air segment was self booked. Format: Y/N."
        },
        "Value": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "Decimal": {
      "properties": {}
    },
    "Error": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Message": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "Link": {
      "properties": {
        "Action": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Method": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Url": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean",
          "description": "Indicates whether the air segment was self booked. Format: Y/N."
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    },
    "OutputRequest": {
      "properties": {
        "AgencyOfficeID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "AgencyOfficeName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ApprovalLimitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "ApprovalStatusCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ApprovalStatusName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "AuthorizedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Comments": {
          "$ref": "#/definitions/Comment"
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "CurrencyName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "EmployeeName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Exceptions": {
          "$ref": "#/definitions/TRException"
        },
        "HeaderFormID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "HighestExceptionLevel": {
          "type": "exceptionlevel",
          "description": "Indicates the highest exception level of the Request. Possible value: NONE, NON_BLOCKING, BLOCKING"
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "LoginID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "MainDestinationName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Name": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "PolicyID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "PolicyName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Purpose": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "RequestID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentsEntries": {
          "$ref": "#/definitions/SegmentsEntry"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "SubmitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "TotalApprovedAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "TotalPostedAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "TotalRemainingAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "UserPermissions": {
          "$ref": "#/definitions/UserPermissions"
        }
      }
    },
    "PostInputRequest": {
      "properties": {
        "AgencyOfficeID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Comment": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Name": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "PolicyID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Purpose": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentsEntries": {
          "$ref": "#/definitions/PostSegmentsEntry"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        }
      }
    },
    "PostSegment": {
      "properties": {
        "ArrivalDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Comment": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "DepartureDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "FlightNumber": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationDetail": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ToLocationDetail": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ToLocationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "PostSegmentsEntry": {
      "properties": {
        "ForeignAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "ForeignCurrencyCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Segments": {
          "$ref": "#/definitions/PostSegment"
        },
        "SegmentTypeID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "TripType": {
          "type": "triptype",
          "description": " Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and MULTI_STOP."
        }
      }
    },
    "PutInputRequest": {
      "properties": {
        "AgencyOfficeID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Comment": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Name": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Purpose": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentsEntries": {
          "$ref": "#/definitions/PutRequestSegmentsEntry"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        }
      }
    },
    "PutRequestSegmentsEntry": {
      "properties": {
        "ForeignAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "ForeignCurrencyCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Segments": {
          "$ref": "#/definitions/PutSegment"
        },
        "TripType": {
          "type": "triptype",
          "description": " Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and MULTI_STOP."
        }
      }
    },
    "PutSegment": {
      "properties": {
        "ArrivalDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Comment": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "DepartureDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "FlightNumber": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationDetail": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ToLocationDetail": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ToLocationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "RequestCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/RequestHeader"
        },
        "NextPage": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "RequestHeader": {
      "properties": {
        "ApprovalStatusCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ApprovalStatusName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ApproverLoginID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "EmployeeName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "HeaderFormID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "HighestExceptionLevel": {
          "type": "exceptionlevel",
          "description": "Indicates the highest exception level of the Request. Possible value: NONE, NON_BLOCKING, BLOCKING"
        },
        "ID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "LastComment": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "MainDestinationName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Name": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Purpose": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "RequestID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentTypes": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "TotalApprovedAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "TotalPostedAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "URI": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "UserLoginID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "UserPermissions": {
          "$ref": "#/definitions/UserPermissions"
        }
      }
    },
    "RequestResponse": {
      "properties": {
        "Error": {
          "$ref": "#/definitions/Error"
        },
        "ID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Request": {
          "$ref": "#/definitions/OutputRequest"
        },
        "URI": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "Segment": {
      "properties": {
        "ArrivalDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Comment": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "DepartureDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Exceptions": {
          "$ref": "#/definitions/TRException"
        },
        "FlightNumber": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationDetail": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "FromLocationName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "IsAgencyBooked": {
          "type": "boolean",
          "description": "Indicates whether the air segment was self booked. Format: Y/N."
        },
        "IsSelfBooked": {
          "type": "boolean",
          "description": "Indicates whether the air segment was self booked. Format: Y/N."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Order": {
          "type": "integer",
          "format": "int32",
          "description": "The display order of the segment."
        },
        "ToLocationDetail": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ToLocationID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ToLocationName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "SegmentsEntry": {
      "properties": {
        "Exceptions": {
          "$ref": "#/definitions/TRException"
        },
        "ExchangeRate": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "ForeignAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "ForeignCurrencyCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ForeignCurrencyName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "ID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "SegmentFormID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentFormTypeCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Segments": {
          "$ref": "#/definitions/Segment"
        },
        "SegmentTypeCode": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentTypeID": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "SegmentTypeName": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "TripType": {
          "type": "triptype",
          "description": " Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and MULTI_STOP."
        }
      }
    },
    "TRException": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Level": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        },
        "Message": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "UserPermissions": {
      "properties": {
        "Links": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
