---
layout: page
title: Create an App
---

<div class="col-md-12">
  <h2>App Creation Form</h2>
  {% include form-error.html %}
  {% include form-wait.html %}
  <form action="{{ site.data.forms.server }}/apps" method="POST" id="appCreation" class="sky-form" novalidate="novalidate">
    <fieldset>
      <div class="row">
        <section class="col col-6">
          <label class="label">App Name &#42;</label>
          <label class="input">
            <input type="text" name="appName" id="appName" placeholder="App Name">
          </label>
        </section>
        <section class="col col-6">
          <label class="label">App Description &#42;</label>
          <label class="textarea">
            <textarea name="appDescription" id="appDescription" placeholder="App Description"></textarea>
          </label>
        </section>
      </div>
      <div class="row">
        <section class="col col-6">
          <label class="label">Application Type &#42;</label>
          <label class="select">
            <select name="appType" id="appType">
              <option value="" selected></option>
              <option value="business">Business</option>
              <option value="consumer">Consumer</option>
            </select>
            <i></i>
          </label>
        </section>
        <section class="col col-6">
          <label class="label">Redirect URL &#42;</label>
          <label class="input">
            <input type="url" name="redirectUrl" id="redirectUrl" placeholder="Redirect URL">
          </label>
        </section>
      </div>
      <div class="row">
        <section class="col col-6">
          <label class="label">Allowed Grants &#42;</label>
          <label class="select select-multiple">
            <select name="allowedGrants" id="allowedGrants" multiple>
              {% for grant in site.data.apps.grants %}
              <option value="{{ grant.value }}">{{ grant.title }}</option>
              {% endfor %}
            </select>
          </label>
        </section>
        <section class="col col-6">
          <label class="label">Allowed Scopes &#42;</label>
          <label class="select select-multiple">
            <select name="allowedScopes" id="allowedScopes" multiple>
              {% for scope in site.data.apps.scopes %}
              <option value="{{ scope.value }}">{{ scope.title }}</option>
              {% endfor %}
            </select>
          </label>
        </section>
      </div>
      <section>
        <label class="checkbox">
          <input type="checkbox" name="termsOfUseAgreement">
          <i></i>
          I Agree to the <a href="{{ site.baseurl }}/Terms-of-Use.html">Terms of Use</a> and <a href="https://www.concur.com/en-us/privacy-policy">Privacy Policy</a>
        </label>
      </section>
      <p>&#42; required field</p>
    </fieldset>
    <footer>
      <button type="submit" class="button">Submit</button>
    </footer>
  </form>
</div><!--/col-md-12-->

<script>
  $("#appCreation").validate({
    // Rules for form validation
    rules: {
      appName: { required: true },
      appDescription: { required: true },
      appType: { required: true },
      redirectUrl: { required: true, url: true },
      allowedGrants: { required: true },
      allowedScopes: { required: true },
      termsOfUseAgreement: { required: true }
    },

    // Messages for form validation
    messages: {
      appName: { required: 'Please enter a name for your app' },
      appDescription: { required: 'Please enter your last name' },
      appType: { required: 'Please select an app type' },
      redirectUrl: { required: 'Please enter a valid redirect URL' },
      allowedGrants: { required: 'Please select at least one allowed grant' },
      allowedScopes: { required: 'Please select at least one allowed scope' },
      termsOfUseAgreement: { required: 'Please accept the terms of use to create your app' }
    },

    // Ajax form submition
    submitHandler: function(form) {
      $(form).ajaxSubmit({
        beforeSend: function() {
          $('#status-modal').modal('show');
          $('#appCreation button[type="submit"]').attr('disabled', true);
        },
        error: function(res) {
          $('#status-modal').modal('hide');
          $('#form-error').removeClass('form-error-hidden');
          $('#form-error > h3').append(res.responseText);
          if (res.statusText === 'error' && $('#form-error > h3').text() === '') {
            $('#form-error > h3').append('An error occurred when creating your application.');
          }
        },
        success: function(data) {
          $("#appCreation").addClass('submited');
          $('#form-success').removeClass('form-success-hidden');

          // TODO: redirect to apps home page
        }
      });
    },

    // Do not change code below
    errorPlacement: function(error, element) {
      error.insertAfter(element.parent());
    }
  });
</script>
