{
    "extends": "airbnb",
    "rules": {
        "react/prefer-stateless-function": 1,
        "react/forbid-prop-types": 0,
        "space-before-function-paren": 0,
        "jsx-a11y/no-static-element-interactions": 0
    }
}
