.dropdown-menu {
  min-width: 200px;
  padding: 0;

  li {
    min-width: 250px;
  }

  li > a {
    font-weight: 300;
    padding: 5px 15px;

    &:hover,
    &:focus {
      color: $white;
      background-color: $dark-gray;
    }
  }

  &.two-column-menu {
    min-width: 450px;

    .col-sm-6:nth-child(1) {
      padding-right: 0 !important;
    }

    .col-sm-6:nth-child(2) {
      padding-left: 0 !important;
    }

    li {
      min-width: 200px;
    }
  }

  .multi-column-dropdown {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li > a {
      display: block;
      line-height: 1.428571429;
      color: #333333;

      &:hover {
        background-color: #999;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .dropdown-menu > li > a {
    border-bottom: 1px solid $off-black;
  }
}
