{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Request Group Configurations",
    "description": "",
    "version": "3.1"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/travelrequest/requestgroupconfigurations": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get all Request group configurations.",
        "description": "Get a Request group configuration owned by the user based on the search criteria.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting page offset",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Determines the number of records to return (default 10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestGroupConfigurationCollection"
            }
          }
        }
      }
    },
    "/travelrequest/requestgroupconfigurations/{id}": {}
  },
  "definitions": {
    "AgencyOffice": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The ID of the travel agency office."
        },
        "Name": {
          "type": "string",
          "description": "The travel agency office name."
        }
      }
    },
    "Policy": {
      "properties": {
        "HeaderFormID": {
          "type": "string",
          "description": "The unique identifier of the Header Form resource (See. the \"Forms\" resource for more information)."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsDefault": {
          "type": "boolean",
          "description": "Indicates whether this policy is the default. Format: true or false"
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        },
        "NoCreation": {
          "type": "boolean",
          "description": "Indicates whether this policy allows the creation of new Requests by the user. Format: true or false"
        },
        "SegmentTypes": {
          "$ref": "#/definitions/SegmentType"
        }
      }
    },
    "RequestGroupConfiguration": {
      "properties": {
        "AgencyOffices": {
          "$ref": "#/definitions/AgencyOffice"
        },
        "DefaultPolicyID": {
          "type": "string",
          "description": "The unique identifier of the first policy which allows creation of new Request."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "Name": {
          "type": "string",
          "description": "The name of the Request group Configuration."
        },
        "Policies": {
          "$ref": "#/definitions/Policy"
        },
        "RequestTypes": {
          "$ref": "#/definitions/RequestType"
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "RequestGroupConfigurationCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/RequestGroupConfiguration"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "RequestType": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The Request type code."
        },
        "Name": {
          "type": "string",
          "description": "The Request type name."
        }
      }
    },
    "SegmentType": {
      "properties": {
        "DisplayOrder": {
          "type": "integer",
          "format": "int32",
          "description": "The display order of the icon associated with the segment type."
        },
        "IconCode": {
          "type": "string",
          "description": "The code for the icon associated with the segment type."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "Name": {
          "type": "string",
          "description": "The name of the segment type."
        },
        "SegmentCustomFormID": {
          "type": "string",
          "description": "The unique identifier of the Segment Form resource which contains custom fields (See. the \"Forms\" resource for more information)."
        },
        "SegmentFormID": {
          "type": "string",
          "description": "The unique identifier of the Segment Form resource (See. the \"Forms\" resource for more information)."
        },
        "SegmentTypeCode": {
          "type": "string",
          "description": "The code for the type of itinerary segment."
        }
      }
    }
  }
}
