{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Requests",
    "description": "",
    "version": "3.1"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/travelrequest/requests/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a Request by ID",
        "description": "Returns a Request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OutputRequest"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update a Request",
        "description": "Update a Request",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "Partial or complete Request object to save",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutInputRequest"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "doSubmit",
            "in": "query",
            "description": "Trigger a submit action upon a successfull save operation",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "forceSubmit",
            "in": "query",
            "description": "Force the submit operation even if non-blocking functional exceptions were to be raised on request creation or update operation.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestResponse"
            }
          }
        }
      }
    },
    "/travelrequest/requests": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get all Requests",
        "description": "Returns all Requests owned by the user.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Starting page offset",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return (default 100)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this Request. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The Status search term specifies which travel request or approval status to return. If no Status value is sent, the default Status of Active will be used.",
            "required": false,
            "type": "string"
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "This returns travel requests in which the associated dependents (header, entries, segments, allocations, attendees, comments ) were modified after the specified date and time. This search term can be used along with other search terms to narrow the results. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "This returns travel requests in which the associated dependents (header, entries, segments, allocations, attendees, comments ) were modified before the specified date and time.This search term can be used along with other search terms to narrow the results. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "withSegmentTypes",
            "in": "query",
            "description": "Pass true to populate the SegmentType field in the result.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "withUserPermissions",
            "in": "query",
            "description": "Pass true to get the UserPermssions in the result.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a Request",
        "description": "Create a Request",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "Partial or complete Request object to save",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostInputRequest"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "doSubmit",
            "in": "query",
            "description": "Trigger a submit action upon a successfull save operation",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "forceSubmit",
            "in": "query",
            "description": "Force the submit operation even if non-blocking functional exceptions were to be raised on request creation or update operation.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RequestResponse"
            }
          }
        }
      }
    },
    "/travelrequest/requests/{id}/submit": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Submit a Request by ID",
        "description": "Submit a Request by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    },
    "/travelrequest/requests/{id}/recall": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Recall a Request by ID",
        "description": "Recall a Request by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Request ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Comment": {
      "properties": {
        "AuthorFirstName": {
          "type": "string",
          "description": "The first name of the person who made the comment."
        },
        "AuthorLastName": {
          "type": "string",
          "description": "The last name of the person who made the comment."
        },
        "CommentDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time, in GMT, when the user made the comment."
        },
        "IsLatest": {
          "type": "boolean",
          "description": "Indicates that the comment is the last one."
        },
        "Value": {
          "type": "string",
          "description": "The text of the Request header comment."
        }
      }
    },
    "Decimal": {
      "properties": {}
    },
    "Error": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The text of the Request header comment."
        },
        "Message": {
          "type": "string",
          "description": "The text of the Request header comment."
        }
      }
    },
    "Link": {
      "properties": {
        "Action": {
          "type": "string",
          "description": "The action that the user is allowed to perform on the resource."
        },
        "Method": {
          "type": "string",
          "description": "The method of the request. Possible values: GET, POST, PUT and DELETE."
        },
        "Url": {
          "type": "string",
          "description": "The URL of the resource that the user can access."
        }
      }
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean",
          "description": "Indicates that the comment is the last one."
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    },
    "OutputRequest": {
      "properties": {
        "AgencyOfficeID": {
          "type": "string",
          "description": "The ID of the travel agency office."
        },
        "AgencyOfficeName": {
          "type": "string",
          "description": "The travel agency office name."
        },
        "ApprovalLimitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date by which the Request must be approved. This element appears only when integrated with Concur Travel."
        },
        "ApprovalStatusCode": {
          "type": "string",
          "description": "The code for the approval status the Request."
        },
        "ApprovalStatusName": {
          "type": "string",
          "description": "The approval status of the Request."
        },
        "AuthorizedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the Request was authorized. Format: YYYY-MM-DDThh:mm:ss."
        },
        "Comments": {
          "$ref": "#/definitions/Comment"
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the Request was created."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for the Request currency. The Request currency is defined as the Request creator's default reimbursement currency."
        },
        "CurrencyName": {
          "type": "string",
          "description": "The currency name for the Request currency. The Request currency is defined as the Request creator's default reimbursement currency."
        },
        "EmployeeName": {
          "type": "string",
          "description": "The first, middle (or middle initial), and last name of the employee who created the Request."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the travel request. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss."
        },
        "Exceptions": {
          "$ref": "#/definitions/TRException"
        },
        "HeaderFormID": {
          "type": "string",
          "description": "The unique identifier of the Header Form resource (See. the \"Forms\" resource for more information)."
        },
        "HighestExceptionLevel": {
          "type": "exceptionlevel",
          "description": "Indicates the highest exception level of the Request. Possible value: NONE, NON_BLOCKING, BLOCKING"
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the Request was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "LoginID": {
          "type": "string",
          "description": "The Concur login ID of the Request owner."
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The main destination location ID"
        },
        "MainDestinationName": {
          "type": "string",
          "description": "The main destination location name"
        },
        "Name": {
          "type": "string",
          "description": "The name of the Request."
        },
        "PolicyID": {
          "type": "string",
          "description": "The unique identifier of the policy that applies to this Request. Maximum length 64 characters."
        },
        "PolicyName": {
          "type": "string",
          "description": "The name of the policy that applies to this Request."
        },
        "Purpose": {
          "type": "string",
          "description": "The purpose of the Request."
        },
        "RequestID": {
          "type": "string",
          "description": "The unique key for the Request."
        },
        "SegmentsEntries": {
          "$ref": "#/definitions/SegmentsEntry"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the travel request. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss."
        },
        "SubmitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the Request was submitted. Format: YYYY-MM-DDThh:mm:ss."
        },
        "TotalApprovedAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of approved expenses in the Request."
        },
        "TotalPostedAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the Request."
        },
        "TotalRemainingAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of expenses remaining in the Request."
        },
        "UserPermissions": {
          "$ref": "#/definitions/UserPermissions"
        }
      }
    },
    "PostInputRequest": {
      "properties": {
        "AgencyOfficeID": {
          "type": "string",
          "description": "The ID of the travel agency office."
        },
        "Comment": {
          "type": "string",
          "description": "The text of the most recent comment on the Request."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for the Request currency."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the travel request. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss."
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The main destination location ID"
        },
        "Name": {
          "type": "string",
          "description": "The name of the Request."
        },
        "PolicyID": {
          "type": "string",
          "description": "The unique identifier of the policy that applies to this Request. Maximum length 64 characters."
        },
        "Purpose": {
          "type": "string",
          "description": "The purpose of the Request."
        },
        "SegmentsEntries": {
          "$ref": "#/definitions/PostSegmentsEntry"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the travel request. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss."
        }
      }
    },
    "PostSegment": {
      "properties": {
        "ArrivalDate": {
          "type": "string",
          "format": "date-time",
          "description": "The arrival date of the segment."
        },
        "Comment": {
          "type": "string",
          "description": "A comment added to this segment."
        },
        "DepartureDate": {
          "type": "string",
          "format": "date-time",
          "description": "The departure date of the segment."
        },
        "FlightNumber": {
          "type": "string",
          "description": "The flight number for air segments. Appears only when Request is integrated with Concur Travel."
        },
        "FromLocationDetail": {
          "type": "string",
          "description": "The code for the starting location."
        },
        "FromLocationID": {
          "type": "string",
          "description": "The unique identifier of the departure location. (See. the \"Locations\" resource for more information)."
        },
        "ToLocationDetail": {
          "type": "string",
          "description": "The code for the ending location."
        },
        "ToLocationID": {
          "type": "string",
          "description": "The unique identifier of the arrival location. (See. the \"Locations\" resource for more information)."
        }
      }
    },
    "PostSegmentsEntry": {
      "properties": {
        "ForeignAmount": {
          "type": "number",
          "format": "double",
          "description": "The transaction amount of the travel Request entry."
        },
        "ForeignCurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for the foreign currency amount of the entry."
        },
        "Segments": {
          "$ref": "#/definitions/PostSegment"
        },
        "SegmentTypeID": {
          "type": "string",
          "description": "The unique identifier of the Segment Type resource used to define the type of the segment created (See. the policies and associated data in \"RequestGroupConfigurations\" resource for more information)."
        },
        "TripType": {
          "type": "triptype",
          "description": " Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and MULTI_STOP."
        }
      }
    },
    "PutInputRequest": {
      "properties": {
        "AgencyOfficeID": {
          "type": "string",
          "description": "The ID of the travel agency office."
        },
        "Comment": {
          "type": "string",
          "description": "The text of the most recent comment on the Request."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the travel request. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss."
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The main destination location ID"
        },
        "Name": {
          "type": "string",
          "description": "The name of the Request."
        },
        "Purpose": {
          "type": "string",
          "description": "The purpose of the Request."
        },
        "SegmentsEntries": {
          "$ref": "#/definitions/PutRequestSegmentsEntry"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the travel request. The date and time (if desired) should be in UTC. The format is: YYYY-MM-DDThh:mm:ss."
        }
      }
    },
    "PutRequestSegmentsEntry": {
      "properties": {
        "ForeignAmount": {
          "type": "number",
          "format": "double",
          "description": "The transaction amount of the travel Request entry."
        },
        "ForeignCurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for the foreign currency amount of the entry."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the Segment(s) Entry to update. If there is no ID, the Segment(s) Entry will be added to the Request."
        },
        "Segments": {
          "$ref": "#/definitions/PutSegment"
        },
        "SegmentTypeID": {
          "type": "string",
          "description": "The unique identifier of the Segment Type resource used to define the type of the segment created (See. the policies and associated data in \"RequestGroupConfigurations\" resource for more information)."
        },
        "TripType": {
          "type": "triptype",
          "description": " Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and MULTI_STOP."
        }
      }
    },
    "PutSegment": {
      "properties": {
        "ArrivalDate": {
          "type": "string",
          "format": "date-time",
          "description": "The arrival date of the segment."
        },
        "Comment": {
          "type": "string",
          "description": "A comment added to this segment."
        },
        "DepartureDate": {
          "type": "string",
          "format": "date-time",
          "description": "The departure date of the segment."
        },
        "FlightNumber": {
          "type": "string",
          "description": "The flight number for air segments. Appears only when Request is integrated with Concur Travel."
        },
        "FromLocationDetail": {
          "type": "string",
          "description": "The code for the starting location."
        },
        "FromLocationID": {
          "type": "string",
          "description": "The unique identifier of the departure location. (See. the \"Locations\" resource for more information)."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the segment to update. If there is no ID, the segment will be added to the Segment(s) Entry."
        },
        "ToLocationDetail": {
          "type": "string",
          "description": "The code for the ending location."
        },
        "ToLocationID": {
          "type": "string",
          "description": "The unique identifier of the arrival location. (See. the \"Locations\" resource for more information)."
        }
      }
    },
    "RequestCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/RequestHeader"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "RequestHeader": {
      "properties": {
        "ApprovalStatusCode": {
          "type": "string",
          "description": "The code for the approval status the Request."
        },
        "ApprovalStatusName": {
          "type": "string",
          "description": "The Request's approval status, in the user's language."
        },
        "ApproverLoginID": {
          "type": "string",
          "description": "The login ID of the approver for the user's Request."
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Request."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for the Request currency."
        },
        "EmployeeName": {
          "type": "string",
          "description": "The name of the Request owner."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the Request."
        },
        "HeaderFormID": {
          "type": "string",
          "description": "The unique identifier of the Header Form resource (See. the \"Forms\" resource for more information)."
        },
        "HighestExceptionLevel": {
          "type": "exceptionlevel",
          "description": "Indicates the highest exception level of the Request. Possible value: NONE, NON_BLOCKING, BLOCKING"
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "LastComment": {
          "type": "string",
          "description": "The text of the most recent comment on the Request."
        },
        "MainDestinationID": {
          "type": "string",
          "description": "The main destination location ID"
        },
        "MainDestinationName": {
          "type": "string",
          "description": "The main destination location name"
        },
        "Name": {
          "type": "string",
          "description": "The name of the Request."
        },
        "Purpose": {
          "type": "string",
          "description": "The purpose of the Request."
        },
        "RequestID": {
          "type": "string",
          "description": "The unique identifier for the Request, as it appears in the Concur UI."
        },
        "SegmentTypes": {
          "type": "string",
          "description": "A comma separated list of the segment type names that are present in this Request."
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date of the Request."
        },
        "TotalApprovedAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the Request."
        },
        "TotalPostedAmount": {
          "type": "number",
          "format": "double",
          "description": "The posted amount of the Request entry in the Request currency."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "UserLoginID": {
          "type": "string",
          "description": "The login ID of the user this Request belongs to."
        },
        "UserPermissions": {
          "$ref": "#/definitions/UserPermissions"
        }
      }
    },
    "RequestResponse": {
      "properties": {
        "Error": {
          "$ref": "#/definitions/Error"
        },
        "ID": {
          "type": "string",
          "description": "The login ID of the user this Request belongs to."
        },
        "Request": {
          "$ref": "#/definitions/OutputRequest"
        },
        "URI": {
          "type": "string",
          "description": "The login ID of the user this Request belongs to."
        }
      }
    },
    "Segment": {
      "properties": {
        "ArrivalDate": {
          "type": "string",
          "format": "date-time",
          "description": "The arrival date of the segment."
        },
        "Comment": {
          "type": "string",
          "description": "A comment added to this segment."
        },
        "DepartureDate": {
          "type": "string",
          "format": "date-time",
          "description": "The departure date of the segment."
        },
        "Exceptions": {
          "$ref": "#/definitions/TRException"
        },
        "FlightNumber": {
          "type": "string",
          "description": "The flight number for air segments. Appears only when Request is integrated with Concur Travel."
        },
        "FromLocationDetail": {
          "type": "string",
          "description": "The code for the starting location."
        },
        "FromLocationID": {
          "type": "string",
          "description": "The unique identifier of the departure location. (See. the \"Locations\" resource for more information)."
        },
        "FromLocationName": {
          "type": "string",
          "description": "The name of the starting location."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the segment."
        },
        "IsAgencyBooked": {
          "type": "boolean",
          "description": "Indicates whether the air segment was agency booked. Format: Y/N."
        },
        "IsSelfBooked": {
          "type": "boolean",
          "description": "Indicates whether the air segment was self booked. Format: Y/N."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the segment was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "Order": {
          "type": "integer",
          "format": "int32",
          "description": "The display order of the segment."
        },
        "ToLocationDetail": {
          "type": "string",
          "description": "The code for the ending location."
        },
        "ToLocationID": {
          "type": "string",
          "description": "The unique identifier of the arrival location. (See. the \"Locations\" resource for more information)."
        },
        "ToLocationName": {
          "type": "string",
          "description": "The name of the ending location."
        }
      }
    },
    "SegmentsEntry": {
      "properties": {
        "Exceptions": {
          "$ref": "#/definitions/TRException"
        },
        "ExchangeRate": {
          "type": "number",
          "format": "double",
          "description": "The exchange rate that applies to the entry."
        },
        "ForeignAmount": {
          "type": "number",
          "format": "double",
          "description": "The foreign amount of the Request entry."
        },
        "ForeignCurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for the foreign currency amount of the Request entry."
        },
        "ForeignCurrencyName": {
          "type": "string",
          "description": "The name of the currency for the foreign amount."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the Segment(s) Entry resource (See. the \"SegmentsEntry\" resource for more information)."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the entry was last modified. Format: YYYY-MM-DDThh:mm:ss"
        },
        "SegmentFormID": {
          "type": "string",
          "description": "The unique identifier of the Segment Form resource (See. the \"Forms\" resource for more information)."
        },
        "SegmentFormTypeCode": {
          "type": "string",
          "description": "The code for form type of the segment type."
        },
        "Segments": {
          "$ref": "#/definitions/Segment"
        },
        "SegmentTypeCode": {
          "type": "string",
          "description": "The code for the type of itinerary segment."
        },
        "SegmentTypeID": {
          "type": "string",
          "description": "The unique identifier of the Segment Type resource (See. the policies and associated data in \"RequestGroupConfigurations\" resource for more information)."
        },
        "SegmentTypeName": {
          "type": "string",
          "description": "The name for the type of itinerary segment."
        },
        "TripType": {
          "type": "triptype",
          "description": " Trip type of the air or rail segment. Possible values are: ONE_WAY, ROUND_TRIP and MULTI_STOP."
        }
      }
    },
    "TRException": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The system exception code defined for the exception. Example: BADCODE"
        },
        "Level": {
          "type": "string",
          "description": "The numeric level associated with the exception. Example: 99"
        },
        "Message": {
          "type": "string",
          "description": "The user-facing message defined for the exception."
        }
      }
    },
    "UserPermissions": {
      "properties": {
        "Links": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
