{
  "swagger": "2.0",
  "info": {
    "description": "SAP Concur partners with external payment providers for processing invoice payments. These payment providers are listed on the App Center and can integrate with the Invoice product by using the Invoice Pay APIs. Payment providers can get a list of all the payments authorized to be processed by them, and send back status of those payments.",
    "version": "4.0",
    "title": "Invoice Payment Service API Documentation"
  },
  "host": "www.concursolutions.com",
  "basePath": "/",
  "tags": [
    {
    "name": "Resources",
    "description": " "
    }
  ],
  "paths": {
    "/invoice/provider-payment/v4/payments": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Payment Providers can use this API to get details of payments marked to be paid by them",
        "operationId": "manyUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/readPaymentResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/invoice/provider-payment/v4/payments/{PaymentId}": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Payment Providers can use this API to update the status of payments made by them",
        "operationId": "oneUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Payment",
            "description": "Payment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updatePayment"
            }
          },
          {
            "name": "PaymentId",
            "in": "path",
            "description": "PaymentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/updatePaymentResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "amount": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "description": "Amount. Maximum 20 characters."
        },
        "currency": {
          "type": "string",
          "description": "Currency Code. Maximum 3 characters.",
          "minLength": 3,
          "maxLength": 3
        }
      },
      "title": "amount"
    },
    "invoice": {
      "type": "object",
      "properties": {
        "invoiceAmount": {
          "$ref": "#/definitions/amount"
        },
        "invoiceId": {
          "type": "string",
          "description": "Unique identifier of the invoice in SAP Concur. This can be used to get additional invoice information from other APIs. This is the same as paymentRequestID in other Invoice APIs. Maximum 20 characters."
        },
        "invoiceNumber": {
          "type": "string",
          "description": "Invoice Number. Maximum 50 characters."
        },
        "notesToSupplier": {
          "type": "string",
          "description": "Notes to the supplier contain remittance information that the buyer wants to provide to the supplier. Maximum 500 characters."
        },
        "paymentAmount": {
          "$ref": "#/definitions/amount"
        }
      },
      "title": "invoice"
    },
    "payment": {
      "type": "object",
      "properties": {
        "invoices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/invoice"
          }
        },
        "paymentDueDate": {
          "type": "string",
          "format": "date",
          "description": "The date by which the payment should be made."
        },
        "paymentId": {
          "type": "string",
          "description": "Unique identifier of the payment in SAP Concur. Maximum 36 characters."
        },
        "paymentMethod": {
          "type": "string",
          "description": "The value is always PAYPVD which means that the client wants to pay using a payment provider. Maximum 15 characters."
        },
        "totalAmount": {
          "$ref": "#/definitions/amount"
        },
        "vendor": {
          "$ref": "#/definitions/vendor"
        }
      },
      "title": "payment"
    },
    "readPaymentResult": {
      "type": "object",
      "properties": {
        "payments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/payment"
          }
        }
      },
      "title": "readPaymentResult"
    },
    "updatePayment": {
      "type": "object",
      "required" : ["status", "statusDate"],
      "properties": {
        "paidAmount": {
          "$ref": "#/definitions/amount"
        },
        "paymentAdjustmentNotes": {
          "type": "string",
          "description": "Payment adjustment notes sent by the payment provider. Maximum 255 characters."
        },
        "paymentInitiationDate": {
          "type": "string",
          "format": "date",
          "description": "The date the payment was initiated."
        },
        "paymentMethod": {
          "type": "string",
          "description": "Payment method used by the payment provider. Required if the status is PAID, CHECK_PROCESSED, or CARD_SETTLED.",
          "enum": [
            "ACH",
            "CHECK",
            "WIRE",
            "CARD",
            "OTHER"
          ]
        },
        "paymentSettlementDate": {
          "type": "string",
          "format": "date",
          "description": "The date the payment will be in the payees account."
        },
        "providerReference": {
          "type": "string",
          "description": "Unique identifier of the payment in the payment provider's system. This will be used for internal troubleshooting. Maximum 100 characters.",
          "minLength": 0,
          "maxLength": 100
        },
        "status": {
          "type": "string",
          "description": "Used to depict success, error or any other intermediate state, defined by SAP Concur.",
          "enum": [
            "PAID",
            "CANCELED",
            "CARD_AUTHORIZED",
            "CARD_EMAIL_SENT",
            "CARD_SETTLED",
            "CHECK_MAILED",
            "CHECK_PRINTED",
            "CHECK_PROCESSED",
            "CHECK_VOIDED",
            "PENDING_RETRIEVAL",
            "PROCESSING",
            "REJECTED",
            "RETRIEVED",
            "RETURNED"
          ]
        },
        "statusDate": {
          "type": "string",
          "format": "date",
          "description": "The date that the payment provider recorded this status change."
        },
        "statusMessage": {
          "type": "string",
          "description": "Payment provider description of the status. Providers can supply any message. Maximum 255 characters.",
          "minLength": 0,
          "maxLength": 255
        },
        "thirdPartyPaymentIdentifier": {
          "type": "string",
          "description": "Check number if the payment was done via check or trace number for ACH payments. Maximum 255 characters."
        }
      },
      "title": "updatePayment"
    },
    "updatePaymentResult": {
      "type": "object",
      "required" : ["status", "statusDate"],
      "properties": {
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the payment was created."
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the payment was last modified."
        },
        "paidAmount": {
          "$ref": "#/definitions/amount"
        },
        "paymentAdjustmentNotes": {
          "type": "string",
          "description": "Payment adjustment notes sent by the payment provider. Maximum 255 characters."
        },
        "paymentInitiationDate": {
          "type": "string",
          "format": "date",
          "description": "The date the payment was initiated."
        },
        "paymentMethod": {
          "type": "string",
          "description": "Payment method used by the payment provider. Required if the status is PAID, CHECK_PROCESSED, or CARD_SETTLED.",
          "enum": [
            "ACH",
            "CHECK",
            "WIRE",
            "CARD",
            "OTHER"
          ]
        },
        "paymentSettlementDate": {
          "type": "string",
          "format": "date",
          "description": "The date the payment will be in the payees account."
        },
        "providerReference": {
          "type": "string",
          "description": "Unique identifier of the payment in the payment provider's system. Maximum 100 characters.",
          "minLength": 0,
          "maxLength": 100
        },
        "status": {
          "type": "string",
          "description": "Used to depict success, error or any other intermediate state, defined by SAP Concur.",
          "enum": [
            "PAID",
            "CANCELED",
            "CARD_AUTHORIZED",
            "CARD_EMAIL_SENT",
            "CARD_SETTLED",
            "CHECK_MAILED",
            "CHECK_PRINTED",
            "CHECK_PROCESSED",
            "CHECK_VOIDED",
            "PENDING_RETRIEVAL",
            "PROCESSING",
            "REJECTED",
            "RETRIEVED",
            "RETURNED"
          ]
        },
        "statusDate": {
          "type": "string",
          "format": "date",
          "description": "The date that the payment provider recorded this status change."
        },
        "statusMessage": {
          "type": "string",
          "description": "Payment provider description of the status. Providers can supply any message. Maximum 255 characters.",
          "minLength": 0,
          "maxLength": 255
        },
        "thirdPartyPaymentIdentifier": {
          "type": "string",
          "description": "Check number if the payment was done via check or trace number for ACH payments. Maximum 255 characters."
        }
      },
      "title": "updatePaymentResult"
    },
    "vendor": {
      "type": "object",
      "properties": {
        "addressLine1": {
          "type": "string",
          "description": "Vendor Address line 1. Maximum 255 characters."
        },
        "addressLine2": {
          "type": "string",
          "description": "Vendor Address line 2. Maximum 255 characters."
        },
        "addressLine3": {
          "type": "string",
          "description": "Vendor Address line 3. Maximum 255 characters."
        },
        "buyerAccountNumber": {
          "type": "string",
          "description": "Buyer Account Number. Maximum 50 characters."
        },
        "city": {
          "type": "string",
          "description": "Vendor Address City. Maximum 255 characters."
        },
        "countryCode": {
          "type": "string",
          "description": "Vendor Address Country Code. Maximum 2 characters."
        },
        "countryName": {
          "type": "string",
          "description": "Vendor Address Country Name. Maximum 64 characters."
        },
        "email": {
          "type": "string",
          "description": "Email Address. Maximum 255 characters."
        },
        "firstName": {
          "type": "string",
          "description": "First Name. Maximum 255 characters."
        },
        "lastName": {
          "type": "string",
          "description": "Last Name. Maximum 255 characters."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone Number. Maximum 25 characters."
        },
        "postalCode": {
          "type": "string",
          "description": "Vendor Address Postal Code. Maximum 20 characters."
        },
        "state": {
          "type": "string",
          "description": "Vendor Address State. Maximum 10 characters."
        },
        "vendorAddrCode": {
          "type": "string",
          "description": "Vendor Address Code. Maximum 64 characters."
        },
        "vendorCode": {
          "type": "string",
          "description": "Vendor Code. Maximum 32 characters."
        },
        "vendorName": {
          "type": "string",
          "description": "Vendor Name. Maximum 255 characters."
        }
      },
      "title": "vendor"
    }
  }
}
