    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ page.title }}</h1>
            <!--<ul class="pull-right breadcrumb">-->
                <!--<li><a href="index.html">Home</a></li>-->
                <!--<li><a href="">Pages</a></li>-->
                <!--<li class="active">Left Column</li>-->
            <!--</ul>-->

            <!--
            * get the URL parts
            * remove the first and the last parts
            * for each part, write it out
              * replace hyphens with spaces
              * capitalize the first letter of each word
              * [advanced] for each of the levels, if the path at that level has a /index.html, make that breadcrumb a link
             -->

             <!-- <ol class="pull-right breadcrumb">
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
              {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
              {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
              {% for i in (1..forLoopMaxInt) %}
                  {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
                  {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
                  {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
                  {% for breadcrumb_page in site.pages %}
                      {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                          <li {% if i == forLoopMaxInt %}class="active"{% endif %}>
                              {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                              <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{page.title}}</a>
                          </li>
                      {% endif %}
                  {% endfor %}
              {% endfor %}
             </ol> -->

             <!-- <ol class="pull-right breadcrumb">
               <li><a href="/">Home</a></li>
               {% assign crumbs = page.url | split: '/' %}
               {% assign crumbs_total = crumbs | size | minus: 1 %}
                 {% for crumb in crumbs offset: 1 %}
                  {% if forloop.index == crumbs_total %}
                      <li class="active"><a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></li>
                  {% else %}
                      <li><a href="{% assign crumb_limit = forloop.index | +1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | -1 | replace:'-',' ' | capitalize}}</a>
                  {% endif %}
                {% endfor %}
              </ol> -->

            {% assign allparts = page.url | remove_first:'/' | split: '/' %}
            <script>
              console.log('categories: {{page.categories}}');
            </script>

            <ol class="pull-right breadcrumb">
            {% for p in allparts %}
                {% if forloop.last %}
                    <li class="active"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                {% else %}
                    <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ p | replace:'-',' ' | capitalize }}</a></li>
                {% endif %}
            {% endfor %}
            </ol>

        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
