    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ page.title }}</h1>
            <!--<ul class="pull-right breadcrumb">-->
                <!--<li><a href="index.html">Home</a></li>-->
                <!--<li><a href="">Pages</a></li>-->
                <!--<li class="active">Left Column</li>-->
            <!--</ul>-->

            <!-- 
            * get the URL parts
            * remove the first and the last parts
            * for each part, write it out
              * replace hyphens with spaces
              * capitalize the first letter of each word
              * [advanced] for each of the levels, if the path at that level has a /index.html, make that breadcrumb a link
             -->

            {% assign allparts = page.url | remove_first:'/' | split: '/' %}

            <ol class="pull-right breadcrumb">
            {% for p in allparts %}
                {% if forloop.last %}
                    <li class="active"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                {% else %}
                    <li><a href="#">{{ p | replace:'-',' ' | capitalize }}</a></li>
                {% endif %}
            {% endfor %}
            </ol>
            
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->



