    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="{{ site.baseurl }}/concur_assets/img/concur_logo_symbol.png" alt=""></a>
                        <p>
                          Concur is a leading provider of integrated travel and expense management solutions. <a href="https://www.concur.com/en-us/about">More &gt;</a>
                        </p>

                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>About Concur</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="https://www.concur.com/en-us/media-resources/press-releases">Press Releases</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="https://www.concur.com/en-us/about/news">In the News</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="https://www.concur.com/en-us/perfect-trip-fund">Perfect Trip Fund</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="https://www.concur.com/en-us/events">Events</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul id="blog-list" class="list-unstyled latest-list">
                              <!-- blog content added here with blog-fetch.js -->
                            </ul>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact</h2></div>
                        <address class="md-margin-bottom-40">
                            601 108th Ave NE, Suite 1000 <br />
                            Bellevue, WA 98004 USA <br />
                            Phone: 800 401 8412 <br />
                            Fax: 425 590 5999
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
                <div class="row">
                  <div class="col-md-12 text-center edit-github-link">
                    <a href="{{ site.repository_url }}{{ page.path }}"><i id="edit-github-icon" class="fa fa-github fa-2x"></i> Edit this page on GitHub</a>
                  </div>
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2015 &copy; All Rights Reserved.
                           <a href="https://www.concur.com/en-us/privacy-policy">Privacy Policy</a> | <a href="{{ site.baseurl }}/Terms-of-Use.html">Terms of Use</a> | Produced from <a href="https://github.com/concur/developer.concur.com/commit/{{ site.data.git.commit }}">{{ site.data.git.commit }}</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="https://www.facebook.com/Concur" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/5822" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            </li>
                            <li>
                                <a href="https://twitter.com/concurapi" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                             <li>
                                <a href="https://github.com/concur" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="GitHub">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/playlist?list=PLLNSVdjqNPVseaDkR5hSF4CDjnlLK7_nq" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="YouTube">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
