<footer>


  <section class="twitter_feed_wrapper">
   <div class="container">
    <div class="row wow animated fadeInUp">
     <div class="twitter_feed_icon col-sm-1 col-md-1">
      <a href="#twitter"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-sm-11 col-md-11">
      <blockquote>
       <p>Todo: write a JavaScript widget that will pull in a set of recent tweets on load and then cycle through them in this space.</p>
       — Howard Dierking (<a href="https://twitter.com/howard_dierking/">@howard_dierking</a>) November 14, 2014
     </blockquote>
   </div>
 </div>
</div>
</section>


<section id="footer_teasers_wrapper">
 <div class="container">
  
  <div class="row">
   

   <div class="footer_teaser col-sm-3 col-md-3">
    <h3>Concur Home</h3>
    <h3>Contact Us</h3>
    <h3><a href="https://github.com/concur">Concur on GitHub</a></h3>
  </div>
  

  <div class="footer_teaser col-sm-6 col-md-6">
    <h3>Latest News</h3>
    <ul class="media-list">
     <li class="media"> <a href="#" class="media-photo" style="background-image:url({{ site.baseurl }}/images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
      <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
      <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
    </li>
    <li class="media"> <a href="#" class="media-photo" style="background-image:url({{ site.baseurl }}/images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
      <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
      <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
    </li>
  </ul>
</div>



</div>


</div>


</section>


<section class="copyright">
 <div class="container">
  <div class="row">
   <div class="col-sm-6 col-md-6"> Copyright ©2014 Concur Technologies, Inc. All rights reserved.</div>
 </div>
</div>
</section>
</footer>
