<!-- Modal -->
<div class="modal fade" id="status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creating your sandbox. Please wait.</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>This can take up to 30 seconds.</p>
            <img class="center-block" src="{{ site.baseurl }}/assets/img/loading_spinner.gif" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
