{% assign page_parts = page.url | remove_first: '/' | split: '/' %}
{% assign page_depth = page_parts | size %}
{% if page_depth > 2 %}
  {% assign page_category = page_parts[1] | capitalize %}
{% else %}
  {% assign page_category = null %}
{% endif %}

{% assign pages = site.pages | sort:"url" %}
{% assign last_container = '' %}

<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
{% for node in pages %}
    {% assign node_parts = node.url | remove_first: '/' | split: '/'  %}
    {% if node_parts[0] == page_parts[0] and node_parts[1] != 'index.html' %}
        {% assign node_depth = node_parts | size %}
        {% if node_depth > 2 %}
            {% assign node_category = node_parts[1] | capitalize %}
        {% else %}
            {% assign node_category = null %}
        {% endif %}

        <!-- open sub-list if:
            * previous_node doesn't exist and node_depth > 2
            * previous_node_depth <= 2 and node_depth > 2
            * previous_node_category != node_category -->
        {% if previous_node == null and node_depth > 2 %}
            {% assign sub_open = true %}
        {% elsif previous_node_depth <= 2 and node_depth > 2 %}
            {% assign sub_open = true %}
        {% elsif previous_node_category != node_category and node_category != null %}
            {% assign sub_open = true %}
        {% else %}
            {% assign sub_open = false %}
        {% endif %}

        <!-- close sub list if
            * node_category != previous_node_category -->
        {% if previous_node == null %}
            {% assign sub_close = false %}
        {% elsif previous_node_category != null and node_category != previous_node_category %}
            {% assign sub_close = true %}
        {% else %}
            {% assign sub_close = false %}
        {% endif %}

        <!-- determine whether category and page is active -->
        {% if page_category != null and node_category != null and page_category == node_category %}
          {% assign category_status = 'active' %}
        {% else %}
          {% assign category_status = null %}
        {% endif %}

        {% if page.url == node.url %}
          {% assign node_status = 'active' %}
        {% else %}
          {% assign node_status = null %}
        {% endif %}

{% if sub_close == true %}

        </ul>
    </li>

{% endif %}

{% if sub_open == true %}

{% assign folder_name = node_category | split: '-' %}
{% capture folder_name %}
  {% for item in folder_name %}
    {{ item | capitalize }}
  {% endfor %}
{% endcapture %}

    <li class="list-group-item list-toggle {{ category_status }}">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{{ node_category }}">{{ folder_name | replace: 'Erp', 'ERP'}}</a>
        <ul id="collapse-{{ node_category }}" class="collapse {{ category_status | replace:'active','in' }}">
            <li class="{{ node_status }}">
                <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
{% else %}

        {% if node_category == null %}
        <li class="list-group-item">
        {% else %}
        <li class="{{ node_status }}">
        {% endif %}

            <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        </li>
{% endif %}

        {% assign previous_node = node %}
        {% assign previous_node_depth = node_depth %}
        {% assign previous_node_category = node_category %}


    {% endif %}
{% endfor %}

<!-- close the last category if node_category is not null -->
{% if previous_node_category != null %}

        </ul>
    </li>
{% endif %}

</ul>
