{% assign page_parts = page.url | remove_first: '/' | split: '/' %}

<script>
  console.log('--- left nav ---');
  console.log('page_parts: {{ page_parts }}');
  console.log('----')
</script>

{% assign pages = site.pages | sort:"url" %}
{% assign last_container = '' %}

<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
{% for node in pages %}
    {% assign node_parts = node.url | remove_first: '/' | split: '/'  %}
    {% if node_parts[0] == page_parts[0] and node_parts[1] != 'index.html' %}
        {% assign node_depth = node_parts | size %}
        {% if node_depth > 2 %}
            {% assign node_category = node_parts[1] %}
        {% else %}
            {% assign node_category = null %}
        {% endif %}

        <!-- open sub-list if:
            * previous_node doesn't exist and node_depth > 2
            * previous_node_depth <= 2 and node_depth > 2
            * previous_node_category != node_category -->
        {% if previous_node == null and node_depth > 2 %}
            {% assign sub_open = true %}
        {% elsif previous_node_depth <= 2 and node_depth > 2 %}
            {% assign sub_open = true %}
        {% elsif previous_node_category != node_category and node_category != null %}
            {% assign sub_open = true %}
        {% else %}
            {% assign sub_open = false %}
        {% endif %}

        <!-- close sub list if 
            * node_category != previous_node_category -->
        {% if previous_node == null %}
            {% assign sub_close = false %}
        {% elsif previous_node_category != null and node_category != previous_node_category %}
            {% assign sub_close = true %}
        {% else %}
            {% assign sub_close = false %}
        {% endif %}

{% if sub_close == true %}
    <script>
    console.log('close category: {{ previous_node_category }}');    // note that you're closing the previous category
    </script>
        </ul>
    </li>
{% endif %}

{% if sub_open == true %}
    <script>
    console.log('open category: {{ node_category }}');
    console.log('   node: {{ node.url }}; depth: {{ node_depth }}; category: {{ node_category }}');
    console.log('   previous node: {{ previous_node.url }}; depth: {{ previous_node_depth }}; category: {{ previous_node_category }}');
    </script>

    <li class="list-group-item list-toggle">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{{ node_category }}">{{ node_category }}</a>
        <ul id="collapse-{{ node_category }}" class="collapse">
            <li>
                <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
{% else %}
    <script>
    console.log('   node: {{ node.url }}; depth: {{ node_depth }}; category: {{ node_category }}');
    console.log('   previous node: {{ previous_node.url }}; depth: {{ previous_node_depth }}; category: {{ previous_node_category }}');
    </script>
        {% if node_category == null %}
        <li class="list-group-item">
        {% else %}
        <li>    
        {% endif %}
         
            <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        </li>
{% endif %}




        {% assign previous_node = node %}
        {% assign previous_node_depth = node_depth %}
        {% assign previous_node_category = node_category %}


    {% endif %}
{% endfor %}

<!-- close the last category if node_category is not null -->
{% if previous_node_category != null %}
<script>
    console.log('close category: {{ previous_node_category }}');
</script>

        </ul>
    </li>
{% endif %}

<script>
  console.log('--- end left nav ---')
</script>


</ul>
