<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/jquery-1.9.0.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/woothemes-FlexSlider-06b12f8/jquery.flexslider-min.js"></script>
<script src="{{ site.baseurl }}/js/prettyPhoto_3.1.5/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/easing.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/wow.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/snap.svg-min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/restart_theme.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/collapser.js"></script>
