    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="concur_assets/img/slider_1_bg.png"  alt="Concur"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

                    <!-- <div class="tp-caption revolution-ch1 sft start"
                        data-x="left"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"                        
                        data-endspeed="300">
                        Concur Developer Center
                    </div> -->

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="left"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6; background-color:#0275BC; opacity: 0.6">
                        a <strong>robust platform</strong> that can help<br>
                        you reach <strong>25 million</strong> business travelers
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="left"
                        data-hoffset="0"
                        data-y="220"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <a href="{{ site.baseurl }}/api-reference/index.html">Get started now</a>
                    </div>
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!--=== End Slider ===-->
