<link href='/swagger-ui/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
<link href='/swagger-ui/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
<link href='/swagger-ui/css/print.css' media='print' rel='stylesheet' type='text/css'/>
<link href='/swagger-ui/css/style.css' media='screen' rel='stylesheet' type='text/css'/>
<link href="/concur_assets/css/swagger-ui-styles.css" rel="stylesheet" type="text/css">
<!-- <link href='/swagger-ui/css/ecebook.css' rel='stylesheet' type='text/css'/> -->

<!-- <script src='/swagger-ui/lib/jquery-1.8.0.min.js' type='text/javascript'></script> -->

  {% if site.data.branch.branchname ==  'preview' %}
    {% assign URL = 'preview.developer.concur.com/api-explorer-proxy' %}
  {% else %}
    {% assign URL = 'developer.concur.com/api-explorer-proxy' %}
  {% endif %}

<script>
  var replacementURL = "{{URL}}";
</script>

<script src='/swagger-ui/lib/jquery.slideto.min.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/jquery.wiggle.min.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/handlebars-2.0.0.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/underscore-min.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/backbone-min.js' type='text/javascript'></script>
<script src='/swagger-ui/swagger-ui.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/highlight.7.3.pack.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/marked.js' type='text/javascript'></script>
<script src='/swagger-ui/lib/swagger-oauth.js' type='text/javascript'></script>

<script type="text/javascript">
  var swaggerUI = undefined;
  var oauthTokenPattern = /^\d_.*$/g;

  function addApiKeyAuthorization(){
    // var key = encodeURIComponent($('#input_apiKey')[0].value);
    var key = $('#input_apiKey')[0].value;
    if(key && key.trim() != "") {
      var authScheme = oauthTokenPattern.test(key) ? "OAuth" : "Bearer";
      var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("Authorization", authScheme + " " + key, "header");
      
      swaggerUI.api.clientAuthorizations.add("api_key", apiKeyAuth);

      log("added key " + key);
    }
  }

  function loadSwaggerUi(url, domId) {
    swaggerUI = new SwaggerUi({
      url: url,
      dom_id: domId,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
      onComplete: function(swaggerApi, swaggerUi){
        $('pre code').each(function(i, e) {
          hljs.highlightBlock(e)
        });

        // if(typeof initOAuth == "function") {
        //   initOAuth({
        //     clientId: "your-client-id",
        //     clientSecret: "your-client-secret-if-required",
        //     realm: "your-realms",
        //     appName: "your-app-name",
        //     scopeSeparator: ","
        //   });
        // }

        addApiKeyAuthorization();
        $('#input_apiKey').change(addApiKeyAuthorization);
      },
      onFailure: function(data) {
        log("Unable to Load SwaggerUI");
      },
      docExpansion: "list",
      sorter : "alpha"
    });
    swaggerUI.load();
  }

  function log() {
    if ('console' in window) {
      console.log.apply(console, arguments);
    }
  }
</script>
