        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">
                        <img id="logo-header" src="{{ site.baseurl }}/concur_assets/img/Concur_Logo_VT_Color_40px.png" alt="Logo">
                        Developer Center
                    </a>
                </div>

<script>
  console.log('page.url: {{ page.url }}; site.baseurl: {{ site.baseurl }}');
</script>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Why Concur -->                        
                        {% if page.url == '/why-concur.html' %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ site.baseurl }}/why-concur.html">
                                Why Concur?
                            </a>
                        </li>
                        <!-- End Why Concur -->

                        <!-- Docs & Resources -->
                        {% if page.url contains '/docs/' %}
                        <li class="active dropdown">
                        {% else %}
                        <li class="dropdown">
                        {% endif %}
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Docs
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ site.baseurl }}/docs/get-started/">Get Started</a></li>
                              <li><a href="{{ site.baseurl }}/docs/overviews/">Overviews</a></li>
                              <li><a href="{{ site.baseurl }}/docs/guides/">Guides</a></li>
                              <li><a href="{{ site.baseurl }}/docs/reference/">Reference</a></li>
                            </ul>
                        </li>
                        <!-- End Docs & Resources -->

                        <!-- APIs -->
                        {% if page.url contains '/api-reference/' %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ site.baseurl }}/api-reference/">
                                APIs
                            </a>
                        </li>
                        <!-- End APIs -->

                        <!-- Manage Apps -->
                        {% if page.url contains '/manage-apps/' %}
                        <li class="active dropdown">
                        {% else %}
                        <li class="dropdown">
                        {% endif %}
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Manage Apps
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Sandbox</a></li>
                              <li><a href="{{ site.baseurl }}/manage-apps/go-to-market.html">Go To Market</a></li>
                              <li><a href="https://www.concur.com/en-us/app-center">App Center</a></li>
                            </ul>
                        </li>
                        <!-- End Manage Apps -->

                        <!-- Tools & Support -->
                        {% if page.url contains '/tools-support/' %}
                        <li class="active dropdown">
                        {% else %}
                        <li class="dropdown">
                        {% endif %}
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Tools &amp; Support
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ site.baseurl }}/tools-support/tools.html">Tools</a></li>
                              <li><a href="{{ site.baseurl }}/tools-support/support.html">Support</a></li>
                              <li><a href="https://www.concur.com/blog/">Blog</a></li>
                            </ul>
                        </li>
                        <!-- End Tools & Support -->

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
