{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Expense Group Configurations",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": "" 
    }
  ],
  "paths": {
    "/expense/expensegroupconfigurations": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Get an expense group configuration",
        "description": "Gets the configuration of an expense group.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user associated with this expense group configuration. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return Default value: 10",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpenseGroupConfigurationCollection"
            }
          }
        }
      }
    },
    "/expense/expensegroupconfigurations/{id}": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Get an expense group configuration by ID",
        "description": "Gets an expense group configuration by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the expense group configuration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user associated with this expense group configuration. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpenseGroupConfiguration"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AttendeeType": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The name of the policy."
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    },
    "CashAdvance": {
      "properties": {
        "AllowUserCarryBalance": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "AllowUserLinkMultiple": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "AllowUserUpdateExchangeRate": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        },
        "WorkflowID": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    },
    "ExpenseGroupConfiguration": {
      "properties": {
        "AllowUserDigitalTaxInvoice": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "AllowUserRegisterYodlee": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "AttendeeListFormID": {
          "type": "string",
          "description": "The name of the policy."
        },
        "AttendeeListFormName": {
          "type": "string",
          "description": "The name of the policy."
        },
        "AttendeeTypes": {
          "$ref": "#/definitions/AttendeeType"
        },
        "CashAdvance": {
          "$ref": "#/definitions/CashAdvance"
        },
        "ID": {
          "type": "string",
          "description": "The name of the policy."
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        },
        "PaymentTypes": {
          "$ref": "#/definitions/PaymentType"
        },
        "Policies": {
          "$ref": "#/definitions/Policy"
        },
        "URI": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    },
    "ExpenseGroupConfigurationCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ExpenseGroupConfiguration"
        },
        "NextPage": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    },
    "ExpenseType": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The name of the policy."
        },
        "ExpenseCode": {
          "type": "string",
          "description": "The name of the policy."
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    },
    "PaymentType": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The name of the policy."
        },
        "IsDefault": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    },
    "Policy": {
      "properties": {
        "ExpenseTypes": {
          "$ref": "#/definitions/ExpenseType"
        },
        "ID": {
          "type": "string",
          "description": "The name of the policy."
        },
        "IsDefault": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "IsInheritable": {
          "type": "boolean",
          "description": "Indicates whether the descendent nodes in the Expense Feature Hierarchy are covered by this policy. Format: true or false"
        },
        "Name": {
          "type": "string",
          "description": "The name of the policy."
        }
      }
    }
  }
}
