{
  "swagger": "2.0",
  "host": "rqa3-cb.concurtech.net",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Payment Request",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": "" 
    }
  ],
  "paths": {
    "/invoice/paymentrequest/{id}": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Gets all relevant information of a Payment Request.",
        "description": "This API Gets all relevant information (Payment Request Header, Payment Request Line Item and Payment Request Allocation) of a Payment Request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment Request ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PaymentRequest"
            }
          }
        }
      }
    },
    "/invoice/paymentrequest": {
      "post": {
        "tags": [ "Resources" ],
        "summary": "Create a new Payment Request.",
        "description": "Creates a new Payment Request with all relevant details including line items and associated allocations.",
        "parameters": [
          {
            "name": "paymentRequest",
            "in": "body",
            "description": "An XML or JSON representation of a Payment Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequestPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      },
      "put": {
        "tags": [ "Resources" ],
        "summary": "Update a Payment Request.",
        "description": "Updates a Payment Request with all relevant details including line items and associated allocations.",
        "parameters": [
          {
            "name": "paymentRequest",
            "in": "body",
            "description": "An XML or JSON representation of a Payment Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequestPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Allocation": {
      "properties": {
        "AllocationAccountCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom1": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom2": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom3": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom4": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom5": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom6": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom7": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom8": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom9": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsTestUser": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Percentage": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "AllocationsCollection": {
      "properties": {
        "Allocation": {
          "$ref": "#/definitions/Allocation"
        }
      }
    },
    "CompanyAddress": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Address2": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Address3": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "City": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CountryCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Name": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "State": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "URI": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "LineItem": {
      "properties": {
        "Allocations": {
          "$ref": "#/definitions/AllocationsCollection"
        },
        "AllocationStatus": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ApprovedLineItemAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom1": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom2": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom3": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom4": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom5": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom6": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom7": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom8": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom9": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Description": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsMatched": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ItemCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItemId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItemIsTestUser": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "MatchedPurchaseOrderLineItemId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Quantity": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "RequestedLineItemAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "RequestLineItemNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShipFromPostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShipToPostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "SupplierPartId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Tax": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TaxCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TotalPrice": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UnitOfMeasure": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "LineItemsCollection": {
      "properties": {
        "LineItem": {
          "$ref": "#/definitions/LineItem"
        }
      }
    },
    "PaymentRequest": {
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ApprovalStatus": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ApprovedByDelegate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "AssignedByUsername": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "AssignedDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "BuyerCostCenter": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CalculatedAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CheckNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CompanyBillToAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "CompanyShipToAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "CountryCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CreatedByUsername": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom1": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom2": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom21": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom22": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom23": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom24": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom3": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom4": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom5": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom6": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom7": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom8": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom9": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DataSource": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DeletedDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Description": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeName": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ExternalPolicyId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ExtractDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "FirstApprovalDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "FirstSubmitDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ID": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceReceivedDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsAssigned": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsInvoiceConfirmed": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsPaymentRequestDeleted": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsPaymentRequestDuplicate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsTestTransaction": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LastSubmitDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LedgerCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItems": {
          "$ref": "#/definitions/LineItemsCollection"
        },
        "LineItemTotalAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItemVatAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Name": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "NotesToVendor": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OB10BuyerId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OB10TransactionId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaidAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaidDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentAdjustmentNotes": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentDueDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentMethod": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentRequestCreatedByTestUser": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentRequestDeletedBy": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentStatus": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentTermsDays": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ReceiptConfirmationType": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "SubmittedByDelegate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TaxAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TaxCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TotalApprovedAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "URI": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UserCreationDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRateOne": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VendorRemitAddress": {
          "$ref": "#/definitions/VendorAddress"
        },
        "VendorShipFromAddress": {
          "$ref": "#/definitions/VendorAddress"
        },
        "VendorTaxId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "WorkflowCompleteDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "PaymentRequestAllocationPostPut": {
      "properties": {
        "Custom01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom07": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom08": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom09": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Percentage": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "PaymentRequestLineItemPost": {
      "properties": {
        "Allocations": {
          "$ref": "#/definitions/PaymentRequestAllocationPostPut"
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom07": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom08": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom09": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Description": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ItemCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Quantity": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShipFromPostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShipToPostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "SupplierPartId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Tax": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TotalPrice": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UnitOfMeasure": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "PaymentRequestLineItemPut": {
      "properties": {
        "Action": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Allocations": {
          "$ref": "#/definitions/PaymentRequestAllocationPostPut"
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom07": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom08": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom09": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Description": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ItemCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItemID": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Quantity": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShipFromPostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShipToPostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "SupplierPartId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Tax": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UnitOfMeasure": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "PaymentRequestPost": {
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "BuyerCostCenter": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CheckNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CompanyBillToAddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CompanyShipToAddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CountryCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom07": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom08": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom09": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom21": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom22": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom23": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom24": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DataSource": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Description": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeEmailAddress": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeLoginId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ExternalPolicyId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceReceivedDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsEmergencyCheckRun": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsInvoiceConfirmed": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LedgerCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItems": {
          "$ref": "#/definitions/PaymentRequestLineItemPost"
        },
        "Name": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "NotesToVendor": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OB10BuyerId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OB10TransactionId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentAdjustmentNotes": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentDueDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentTermsDays": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PurchaseOrderId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ReceiptConfirmationType": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TaxAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRateOne": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VendorRemitToIdentifier": {
          "$ref": "#/definitions/VendorIdentifier"
        },
        "VendorShipFromAddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VendorTaxId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "PaymentRequestPut": {
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "BuyerCostCenter": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CheckNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CompanyBillToAddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CompanyShipToAddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CountryCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom07": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom08": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom09": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom10": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom11": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom12": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom13": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom14": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom15": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom16": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom17": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom18": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom19": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom20": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom21": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom22": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom23": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Custom24": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Description": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DoCopyDown": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DoCopyDownFromPO": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeEmailAddress": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "EmployeeLoginId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "InvoiceReceivedDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsEmergencyCheckRun": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "IsInvoiceConfirmed": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "LineItems": {
          "$ref": "#/definitions/PaymentRequestLineItemPut"
        },
        "Name": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "NotesToVendor": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OB10BuyerId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OB10TransactionId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit01": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit02": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit03": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit04": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit05": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "OrgUnit06": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentAdjustmentNotes": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentDueDate": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PaymentTermsDays": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PurchaseOrderId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ReceiptConfirmationType": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "RequestID": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "TaxAmount": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRateOne": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VendorRemitToIdentifier": {
          "$ref": "#/definitions/VendorIdentifier"
        },
        "VendorShipFromAddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VendorTaxId": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "VendorAddress": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Address2": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Address3": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "City": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "CountryCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Name": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "State": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "VendorIdentifier": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "AddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "Name": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "PostalCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        },
        "VendorCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    }
  }
}
