{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Suppliers",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": "" 
    }
  ],
  "paths": {
    "/common/suppliers": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Gets All Suppliers by Search Criteria",
        "description": "Returns all Suppliers based on the search criteria.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "address",
            "in": "query",
            "description": "Address",
            "required": false,
            "type": "string"
          },
          {
            "name": "address2",
            "in": "query",
            "description": "Address",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "State",
            "required": false,
            "type": "string"
          },
          {
            "name": "zip",
            "in": "query",
            "description": "Zip",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Phone",
            "required": false,
            "type": "string"
          },
          {
            "name": "mcCode",
            "in": "query",
            "description": "MCC Code (Ex: Delta Airline - 3058)",
            "required": false,
            "type": "string"
          },
          {
            "name": "taxId",
            "in": "query",
            "description": "Tax Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "merchantType",
            "in": "query",
            "description": "Merchant Type Code(Ex: Visa - VI, Amex - AX) ",
            "required": false,
            "type": "string"
          },
          {
            "name": "merchantID",
            "in": "query",
            "description": "Merchant Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "iataCode",
            "in": "query",
            "description": "IATA Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "relevance",
            "in": "query",
            "description": "Relevance of the Search results",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SupplierCollection"
            }
          }
        }
      }
    },
    "/common/suppliers/{id}": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Get a single Supplier by ID",
        "description": "Returns a single Supplier ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Supplier Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SupplierSingle"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SupplierCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/SupplierGet"
        },
        "NextPage": {
          "type": "string",
          "description": "Worldspan Id"
        }
      }
    },
    "SupplierGet": {
      "properties": {
        "BusinessName": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "City": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "CountryCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "ID": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "PostalCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "State": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "StreetAddress": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "StreetAddress2": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "URI": {
          "type": "string",
          "description": "Worldspan Id"
        }
      }
    },
    "SupplierSingle": {
      "properties": {
        "AmadeusId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "AustinTetra": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "BusinessName": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "ChainCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "ChainName": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "City": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "CountryCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "CreditCardVendorId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "DunsNumber": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "Email": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "Fax": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "GalileoId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "ID": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "MccCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "NorthstarId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "PegasusId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "Phone": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "PostalCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "PrimaryNaics": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "PrimarySic": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "PropertyCode": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "SabreId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "SecondaryNaics": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "SecondarySic": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "State": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "StreetAddress": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "StreetAddress2": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "TaxId": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "TollFree": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "URI": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "WebUrl": {
          "type": "string",
          "description": "Worldspan Id"
        },
        "WorldspanId": {
          "type": "string",
          "description": "Worldspan Id"
        }
      }
    }
  }
}
