%icon {
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\f06a";
}
%icon-info-sign {
  @extend %icon;
  content: "\f05a";
}
%icon-ok-sign {
  @extend %icon;
  content: "\f058";
}
%icon-search {
  @extend %icon;
  content: "\f002";
}
