<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWNB7X4" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <div class="wrapper page-option-v1">
    {% include header.html %}

    <div>
      {{ content }}
    </div>

    {% include footer.html %}
  </div><!--/wrapper-->

  {% include scripts.html %}

</body>
</html>
