---
layout: default
---

{% include breadcrumb.html %}

<div class="wrapper">
  <div class="jumbotron jumbotron-go-to-market">
    <div class="container animated fadeInDown">
      <h3>Let us help you prepare for your<br/>
        SAP Concur App Center launch.</h3>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-md-3">
          {% include left-navigation.html %}
        </div>
        <div class="col-md-9 markdown-body">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
