---
layout: default
---

{% include breadcrumb.html %}

<div class="container content">
  <div class="row">
      <div class="col-md-3">
        {% include left-navigation.html %}
      </div><!--/col-md-3-->

      <div class="col-md-9 markdown-body">

        {% if page.reference-type == 'swagger' %}
          <div class="form-group">
            <label for="input_apiKey">Access Token</label>
            <input class="form-control" id="input_apiKey" type="text">
          </div>
        {% endif %}

        {{ content }}
      </div><!--/col-md-9-->
    </div><!--/row-->
</div><!--/container-->
