.one-page {
  .btn {
    margin: 5px 0 20px;
  }

  .one-page-inner.one-blue {
    background: $concur-blue;

    p a:not(.btn) {
      color: white;
    }
  }
}

.list-group-item a {
  color: inherit;
}

.list-group-item a:hover {
  text-decoration: none;
}

.fine-print > p {
  font-size: 12px;
}

.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
  color: #0275BC;
}

.container.content {
  min-height: 100vh;
}
