.app-management {
  .certification-badge {
    &.certified {
      color: $dark-green;
    }

    &.not-certified {
      color: $orange;
    }
  }

  .has-error .Select-control {
    border-color: #a94442;
  }

  .redirect-uris {
    .fa-plus-circle,
    .fa-minus-circle {
      color: white;
    }

    .input-group-addon {
      cursor: pointer;
    }

    .uri-add {
      background-color: $dark-green;
    }

    .uri-delete {
      background-color: $red;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .app-management .navbar-nav {
    float: right;
  }
}
