$home-image: url('/concur_assets/img/slider_1_bg.png');
$home-bg: rgba(0, 0, 0, 0.2);

.jumbotron-home {
  background: -webkit-linear-gradient($home-bg, $home-bg), $home-image top center;
  background:    -moz-linear-gradient($home-bg, $home-bg), $home-image top center;
  background:      -o-linear-gradient($home-bg, $home-bg), $home-image top center;
  background:         linear-gradient($home-bg, $home-bg), $home-image top center;
  background-size: cover;
}

.card-content {
  padding: 50px 0;
}

.home-card {
  @extend .card;

  position: relative;
  margin-bottom: 20px;
  min-height: 380px;
  border: 2px solid $light-gray;

  img {
    min-height: 100px;
  }

  .btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
