{
  "swagger": "2.0",
  "host": "rqa3-cb.concurtech.net",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "",
    "description": "",
    "version": "3.0"
  },
  "paths": {
    "/expense/entryattendeeassociations": {
      "get": {
        "summary": "Get all entry-attendee associations",
        "description": "Gets all entry-attendee associations owned by the user. These are the associations between an expense entry and an attendee.",
        "parameters": [
          {
            "name": "entryID",
            "in": "query",
            "description": "The ID of the entry for which to retrieve entry-attendee associations.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. Default value: 25",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this entry-attendee association. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EntryAttendeeAssociationCollection"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new entry-attendee association. This is the association between an expense entry and an attendee.",
        "description": "Creates a new entry-attendee association.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "The EntryAttendeeAssociation object to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryAttendeeAssociationPost"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this entry-attendee association. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/expense/entryattendeeassociations/{id}": {
      "get": {
        "summary": "Get a single entry-attendee association by ID",
        "description": "Gets an entry-attendee association by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry-attendee association.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this entry-attendee association. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EntryAttendeeAssociationGet"
            }
          }
        }
      },
      "put": {
        "summary": "Update an entry-attendee association by ID",
        "description": "Updates the specified entry-attendee association. Only the fields provided in the supplied object will be updated. Missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry-attendee association.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The partial or complete EntryAttendeeAssociation object to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryAttendeeAssociationPut"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this entry-attendee association. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an entry-attendee association by ID",
        "description": "Deletes the specified entry-attendee association.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry-attendee association to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns this entry-attendee association. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "URI": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        }
      }
    },
    "Decimal": {
      "properties": {}
    },
    "EntryAttendeeAssociationCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/EntryAttendeeAssociationGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        }
      }
    },
    "EntryAttendeeAssociationGet": {
      "properties": {
        "Amount": {
          "type": "number",
          "format": "double",
          "description": "The portion of the entry transaction amount assigned to this attendee."
        },
        "AssociatedAttendeeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of additional attendees associated with this attendee. A count greater than 1 means there are unnamed attendees associated with this attendee."
        },
        "AttendeeID": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "EntryID": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "ID": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "URI": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        }
      }
    },
    "EntryAttendeeAssociationPost": {
      "properties": {
        "Amount": {
          "type": "number",
          "format": "double",
          "description": "The portion of the entry transaction amount assigned to this attendee."
        },
        "AssociatedAttendeeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of additional attendees associated with this attendee. A count greater than 1 means there are unnamed attendees associated with this attendee."
        },
        "AttendeeID": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "EntryID": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        }
      }
    },
    "EntryAttendeeAssociationPut": {
      "properties": {
        "Amount": {
          "type": "number",
          "format": "double",
          "description": "The portion of the entry transaction amount assigned to this attendee."
        },
        "AssociatedAttendeeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of additional attendees associated with this attendee. A count greater than 1 means there are unnamed attendees associated with this attendee."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration."
        }
      }
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean"
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
