{
  "swagger": "2.0",
  "host": "rqa3-cb.concurtech.net",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "",
    "description": "",
    "version": "3.0"
  },
  "paths": {
    "/insights/opportunities": {
      "get": {
        "summary": "Gets a collection of opportunities for a specified trip or for all trips that fall within a date range",
        "description": "Gets a collection of opportunities for a specified trip or for all trips that fall within a date range. Specify values for fromUtc and toUtc to get opportunities for a range of trips. Specify only tripId to get opportunities for a single trip. Specify OpportunityType to filter results by the specified opportunity types.",
        "parameters": [
          {
            "name": "tripId",
            "in": "query",
            "description": "The trip id",
            "required": false,
            "type": "string"
          },
          {
            "name": "opportunityType",
            "in": "query",
            "description": "Comma seperated list of opportunities (Hotel, Car, Air, Rail, Taxi and Service) to get. Do not specify any values to get all opportunities",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromUtc",
            "in": "query",
            "description": "The From date in UTC for the date range",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toUtc",
            "in": "query",
            "description": "The To date in UTC for the date range",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Opportunities"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Opportunities": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/Opportunity"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "Opportunity": {
      "properties": {
        "EndCityCode": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "EndDateLocal": {
          "type": "string",
          "format": "date-time",
          "description": "The local start date of the location where the opportunity is offered"
        },
        "EndPostalCode": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "ID": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "IsActive": {
          "type": "boolean",
          "description": "Indicates that the opportunity is currently active"
        },
        "StartCityCode": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "StartDateLocal": {
          "type": "string",
          "format": "date-time",
          "description": "The local start date of the location where the opportunity is offered"
        },
        "StartPostalCode": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "TripId": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "Type": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    }
  }
}
