{
  "swagger": "2.0",
  "host": "rqa3-cb.concurtech.net",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "",
    "description": "",
    "version": "3.0"
  },
  "paths": {
    "/invoice/paymentrequestdigests/{id}": {
      "get": {
        "summary": "Get the payment request digest based on ID. ",
        "description": "Returns the payment request digest based on ID. ",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The payment request ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PaymentRequestDigest"
            }
          }
        }
      }
    },
    "/invoice/paymentrequestdigests": {
      "get": {
        "summary": "Get all payment requests digests based on the search criteria.",
        "description": "Returns all payment requests digests based on the search criteria.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The start of the page offset.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return (default 1000).",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "description": "A code representing a Payment Request Approval Status. Use GET /invoice/localizeddata to get the available approval status codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "description": "A code representing a Payment Request Payment Status. Use GET /invoice/localizeddata to get the available payment status codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendorInvoiceNumber",
            "in": "query",
            "description": "Vendor invoice number tied to invoice.",
            "required": false,
            "type": "string"
          },
          {
            "name": "createDateBefore",
            "in": "query",
            "description": "The payment request create date is before this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createDateAfter",
            "in": "query",
            "description": "The payment request create date is after this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "userDefinedDateBefore",
            "in": "query",
            "description": "The payment request user defined date is before this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "userDefinedDateAfter",
            "in": "query",
            "description": "The payment request user defined date is after this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "submitDateBefore",
            "in": "query",
            "description": "The payment request submit date is before this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "submitDateAfter",
            "in": "query",
            "description": "The payment request submit date is after this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paidDateBefore",
            "in": "query",
            "description": "The payment request paid date is before this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paidDateAfter",
            "in": "query",
            "description": "The payment request paid date is after this date.Format: YYYY-MM-DD.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PaymentRequestDigestCollection"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PaymentRequestDigest": {
      "properties": {
        "ApprovalStatusCode": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "CreateDate": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "ID": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "IsDeleted": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "OwnerLoginID": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "OwnerName": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "PaidDate": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "PaymentRequestId": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "PaymentRequestUri": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "PaymentStatusCode": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "Total": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "URI": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "UserDefinedDate": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "VendorName": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "PaymentRequestDigestCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/PaymentRequestDigest"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "PaymentRequestDigest": {
          "$ref": "#/definitions/PaymentRequestDigest"
        },
        "TotalCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}
