---
layout: page
title: Sandbox Registration
---

<div class="col-md-12">
    <h2>Sandbox Creation Form</h2>
    <p> As a Concur customer, partner or developer, you can create a development sandbox by filling out and submitting this form. NOTE: Please log out of all Concur products before proceeding.</p><br>
    {% include form-error.html %}
    {% include form-wait.html %}
    <form action="{{ site.data.forms.server }}/register" method="POST" id="sandboxRegistration" class="sky-form" novalidate="novalidate">
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label">First Name &#42;</label>
            <label class="input">
              <input type="text" name="firstName" id="firstName" placeholder="First Name">
            </label>
          </section>
          <section class="col col-6">
            <label class="label">Last Name &#42;</label>
            <label class="input">
              <input type="text" name="lastName" id="lastName" placeholder="Last Name">
            </label>
          </section>
        </div>
        <div class="row">
          <section class="col col-6">
            <label class="label">Email Address (Use one NOT associated with a Concur account) &#42;</label>
            <label class="input">
              <input type="email" name="email" id="email" placeholder="example@example.com">
            </label>
          </section>
          <section class="col col-6">
            <label class="label">Company Name &#42;</label>
            <label class="input">
              <input type="text" name="company" id="company" placeholder="Company Name">
            </label>
          </section>
        </div>
        <div class="row">
          <section class="col col-6">
            <label class="label">Password &#42;</label>
            <label class="input">
              <input type="password" name="password" id="password" placeholder="Password">
            </label>
          </section>
          <section class="col col-6">
            <label class="label">Verify Password &#42;</label>
            <label class="input">
              <input type="password" name="passwordVerify" id="passwordVerify" placeholder="Password">
            </label>
          </section>
        </div>
        <div class="row">
          <section class="col col-6">
            <label class="label">Business Description</label>
            <label class="input">
              <input type="text" name="businessDescription" id="businessDescription" placeholder="Description">
            </label>
          </section>
          <section class="col col-6">
            <label class="label">Phone Number</label>
            <label class="input">
              <input type="text" name="phoneNumber" id="phoneNumber" placeholder="+1-555-555-5555">
            </label>
          </section>
        </div>
        <div class="row">
          <section class="col col-6">
            <label class="label">Country &#42;</label>
            <label class="select">
              <select name="country" id="country">
                {% for country in site.data.countries %}
                <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
              </select>
              <i></i>
            </label>
          </section>
          <section class="col col-6">
            <label class="label">Website</label>
            <label class="input">
              <input type="text" name="website" id="website" placeholder="http://example.com">
            </label>
          </section>
        </div>
        <div class="row">
          <section class="col col-6">
            <label class="label">Relationship with Concur</label>
            <label class="select">
              <select name="relationshipToConcur" id="relationshipToConcur">
                {% for rel in site.data.concur_relationships %}
                <option value="{{ rel.value }}">{{ rel.title }}</option>
                {% endfor %}
              </select>
              <i></i>
            </label>
          </section>
          <section class="col col-6">
            <label class="label">How would you like to use Concur?</label>
            <label class="input">
              <input type="text" name="desiredUse" id="desiredUse" placeholder="Desired Use">
            </label>
          </section>
        </div>
        <section>
          <label class="checkbox">
            <input type="checkbox" name="termsOfUseAgreement">
            <i></i>
            I Agree to the <a href="{{ site.baseurl }}/Terms-of-Use.html">Terms of Use</a> and <a href="https://www.concur.com/en-us/privacy-policy">Privacy Policy</a>
          </label>
        </section>
        <p>&#42; required field</p>
        <input type="text" name="email-alt" id="email-alt">
      </fieldset>
      <footer>
        <button type="submit" class="button">Submit</button>
      </footer>
    </form><br>
    <div>
      <h3>Before You Start</h3>
      <ul>
          <li>Do not use an email address that is currently used in any Concur product, is likely to be used in any Concur product in the future, or is an existing Concur email address; the email address must be unique within the Concur platform.</li>
      </ul>

      <h3>About Creating a Sandbox</h3>
      <div>
        When you register, Concur will create a sandbox company for testing applications. This test company provides access to the Concur expense reporting experience by default, and can be configured to access additional services. In your test company, you can create two (2) more user accounts to test functionality at three different access levels: end user, expense report approver, and administrator.
      </div>

      <div>
        The sandbox test company can be used with the following APIs:
        <ul>
          <li>Attendee</li>
          <li>Expense</li>
          <li>Imaging</li>
          <li>Itinerary</li>
          <li>List Item</li>
          <li>Payment Batch File</li>
          <li>Travel Profile</li>
          <li>User</li>
        </ul>

        To configure your sandbox for additional products or APIs, go to <a href="https://forum.developer.concur.com/c/sandbox">Concur Forums</a>.
      </div>

      <h3>When You Login</h3>
      <ul>
        <li>Concur automatically creates a partner application for you, and generates an Access Token for your user account. Copy the Consumer Key, Consumer Secret, and Access Token and keep them in a safe place.</li>
        <li>Once you close the initial window, you’ll reach the Setup wizard. Complete the Introduction page and click Next or Skip.</li>
        <li>To add users, you'll need to create a payment method on the Employee Reimbursements page. On the Invite Users page, click Invite Now to activate your company.</li>
        <li>You can now use your company to get familiar with the Concur experience.</li>
        <li>Ready to test? Use the credentials you received to test out your app. If you’d like to enable more APIs for the app, go to Administration &gt; Web Services to modify  your application.</li>
        <li>Prep your solution for App Review. </li>
      </ul>
    </div>
  </div><!--/col-md-12-->

<script>
  $("#sandboxRegistration").validate({
    // Rules for form validation
    rules: {
      firstName: { required: true },
      lastName: { required: true },
      email: {
        required: true,
        email: true
      },
      company: { required: true },
      password: { required: true },
      passwordVerify: {
        required: true,
        minlength: 7,
        equalTo: '#password'
      },
      country: { required: true },
      website: { url: true },
      termsOfUseAgreement: { required: true }
    },

    // Messages for form validation
    messages: {
      firstName: { required: 'Please enter your first name' },
      lastName: { required: 'Please enter your last name' },
      email: { required: 'Please enter a valid email address' },
      company: { required: 'Please enter your company name' },
      password: { required: 'Please enter your desired sandbox password' },
      passwordVerify: {
        required: 'Please verify your desired sandbox password',
        equalTo: 'Password and Verify Password must be equal'
      },
      country: { required: 'Please enter your country' },
      website: { required: 'Please enter a website, with full url including http://' },
      termsOfUseAgreement: { required: 'Please accept the terms of use to create your sandbox' }
    },

    // Ajax form submition
    submitHandler: function(form) {
      if($('#email-alt').val()) {
        return;
      }
      $(form).ajaxSubmit({
        beforeSend: function() {
          $('#status-modal').modal('show');
          $('#sandboxRegistration button[type="submit"]').attr('disabled', true);
        },
        error: function(res) {
          $('#status-modal').modal('hide');
          $('#form-error').removeClass('form-error-hidden');
          $('#form-error > h3').append(res.responseText);
          if (res.statusText === 'error' && $('#form-error > h3').text() === '') {
            $('#form-error > h3').append('Login Timeout Error: Please proceed to <a href="https://www.concursolutions.com">www.concursolutions.com</a> and login with the credentials submitted below.');
          }
        },
        success: function(data) {
          $("#sandboxRegistration").addClass('submited');
          $('#form-success').removeClass('form-success-hidden');

          var verifyLoginPage = 'https://www.concursolutions.com/verify_login.asp?breeze=y';
          // create a new hidden form

          var hiddenForm = $('<form></form>')
            .attr("name", "loginCS_hidden")
            .attr("id", "loginCS_hidden")
            .attr("style", "display:none")
            .attr("action", verifyLoginPage)
            .attr("method", "POST");

            $('<input></input>')
              .attr("type", "hidden")
              .attr("name", "userid")
              .attr("value", data.userid)
              .appendTo(hiddenForm)

            $('<input></input>')
              .attr("type", "hidden")
              .attr("name", "password")
              .attr("value", data.password)
              .appendTo(hiddenForm);

            hiddenForm.appendTo('body').submit();
        }
      });
    },

    // Do not change code below
    errorPlacement: function(error, element) {
      error.insertAfter(element.parent());
    }
  });
</script>
