{
  "x-sap-shortText": "Returns information about the configured form fields for a specified form in SAP Concur.",
  "swagger": "2.0",
  "host": "sandbox.api.sap.com",
  "basePath": "/concur/api",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "info": {
    "description": "Returns the configured fields for the specified expense form.",
    "version": "1.1",
    "title": "Expense Report Form Fields"
  },
  "paths": {
    "/expense/expensereport/v1.1/report/Forms/{FormId}/Fields": {
      "get": {
        "tags": [
          "Form Field Data"
        ],
        "summary": "Get form fields",
        "description": "Retrieves the list of configured form fields for the specified form.",
        "operationId": "getFormFieldsUsingGET",
        "produces": [ "application/xml" ],
        "parameters": [
          {
            "name": "FormId",
            "in": "path",
            "description": "The identifier for the desired form.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FormFieldsList" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "FormFieldsList": {
      "type": "object",
      "properties": {
        "FormField": {
          "type": "array",
          "description": "List of configured form fields for the specified form.",
          "items": {
            "$ref": "#/definitions/FormField"
          }
        }
      },
      "title": "FormFieldsList"
    },
    "FormField": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description":"The form field ID."
        },
        "Label": {
          "type": "string",
          "description":"The field label that appears in the user interface for the specified form."
        },
        "ControlType": {
          "type": "string",
          "description":"The type of field."
        },
        "DataType": {
          "type": "string",
          "description":"The type of data accepted by the field.",
          "enum": ["VARCHAR", "INTEGER", "CHAR", "TIMESTAMP", "NUMERIC", "MONEY", "SMALLINT", "BINARY", "LIST", "MLIST", "BOOLEANCHAR"]
        },
        "MaxLength": {
          "type": "integer",
          "description":"The maximum length of data in the field."
        },
        "Required": {
          "type": "string",
          "description":"Whether the field is required.",
          "enum": ["N", "Y"]
        },
        "Cols": {
          "type": "integer",
          "description":"The number of columns the field contains."
        },
        "Access": {
          "type": "string",
          "description":"The access level the specified user has to the field. RW is read/write, RO is read only, and HD is hidden.",
          "enum": ["RW", "RO", "HD"]
        },
        "Width": {
          "type": "integer",
          "description":"The width of the field."
        },
        "Custom": {
          "type": "string",
          "description":"Whether the field is custom.",
          "enum": ["N", "Y"]
        },
        "Sequence": {
          "type": "integer",
          "description":"The field order on the specified form."
        }
      },
      "title": "FormField"
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/expense/expensereport/v1.1",
      "description": "Concur Expense Report API endpoint"
    }
  ]
}
