.card {
  padding: 30px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}
