$notice-color: #333;
$notice-text-color: $white;

.navbar-notice {
  padding: 5px 0;
  background-color: $notice-color;
  color: $notice-text-color;
  opacity: 0.6;
  font-weight: 200;

  a, a:hover {
    color: $notice-text-color;
  }
}
