<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    {% if site.data.branch.branchname != 'livesite' %}
    <title>[{{ site.data.branch.branchname }}] Concur Developer Portal | {{ page.title }}</title>
    {% else %}
    <title>Concur Developer Portal | {{ page.title }}</title>
    {% endif %}
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The starting point for anyone interested in building anything with the Concur platform that reaches 25 million business travelers.">
    <meta name="author" content="">
    {% if site.data.branch.branchname != 'livesite' %}
      <META name="robots" content="noindex">
    {% endif %}

    <!-- Sitemap link -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.baseurl }}/sitemap.xml" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/concur_favicon.png" type="image/png">

    <!-- Canonical link-->
    <link rel="canonical" href="{{ site.canonical_site }}{{ page.url }}">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/page_one.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme-colors/default.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme-colors/default.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/header-default.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/app.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/blogcss.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/plugins.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/concur-brand.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/custom-sky-forms.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/concur_assets/css/github-markdown.css">

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- forms -->
    <script src="{{ site.baseurl }}/assets/plugins/sky-forms/version-2.0.1/js/jquery.validate.min.js"></script>
    <script src="{{ site.baseurl }}/assets/plugins/sky-forms/version-2.0.1/js/jquery.form.min.js"></script>
    {% if page.reference-type == 'swagger' %}
      {% include swagger.html %}
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Concur Developer Portal RSS" href="/feed.xml" />
</head>

<body>
<div class="wrapper page-option-v1">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
</div><!--/wrapper-->

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery.parallax.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Customization -->
<!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/blog-fetch.js"></script> -->
<!-- JS Page Level -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/app.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/fancybox/source/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/plugins/revolution-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initParallaxBg();
        FancyBox.initFancybox();
        OwlCarousel.initOwlCarousel();
        //RevolutionSlider.initRSfullWidth();
        jQuery(document).ready(function() {
             jQuery('.tp-banner').revolution(
            {
              delay:9000,
              startwidth:1170,
              startheight:400,
              hideThumbs:10
            });
            jQuery('.fancybox-media').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                helpers : {
                    media : {}
                }
            });
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60446701-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['forum.developer.concur.com'] );
  ga('send', 'pageview');
</script>

</body>
</html>
