<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/slate.css">
  </head>

<body>
  <div class="wrapper page-option-v1">
    {% include header.html %}

    <div>
      {% assign language_tabs = page.language_tabs %}

      <div id="slate-reference-root" class="{{ page_classes }}" data-languages="{{ language_tabs | inspect }}">
        <a href="#" id="nav-button">
          <span>
            NAV
            <img src="{{ site.baseurl | append: '/assets/img/slate/navbar.png' }}" alt="Navbar icon">
          </span>
        </a>
        <div class="tocify-wrapper">
          {% if language_tabs %}
            <div class="lang-selector">
              {% for lang in language_tabs %}
                <a href="#" data-language-name="{{ lang }}">{{ lang }}</a>
              {% endfor %}
            </div>
          {% endif %}
          {% if page.search %}
            <div class="search">
              <input type="text" class="search" id="input-search" placeholder="Search">
            </div>
            <ul class="search-results"></ul>
          {% endif %}
          {% if page.toc_headers %}
            <ul class="toc-footer">
              {% for header in page.toc_headers %}
                <li>{{ header }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <div id="toc">
          </div>
          {% if page.toc_footers %}
            <ul class="toc-footer">
              {% for footer in page.toc_footers %}
                <li>{{ footer }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="page-wrapper">
          <div class="dark-box"></div>
          <div class="content">
            {{ content }}
          </div>
          <div class="dark-box">
            {% if language_tabs %}
              <div class="lang-selector">
                {% for lang in language_tabs %}
                  <a href="#" data-language-name="{{ lang }}">{{ lang }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div><!--/wrapper-->

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/slate/lib/energize.js"></script>
  <script src="{{ site.baseurl }}/assets/js/slate/app/lang.js"></script>
  <script src="{{ site.baseurl }}/assets/js/slate/lib/jquery_ui.js"></script>
  <script src="{{ site.baseurl }}/assets/js/slate/lib/jquery.tocify.js"></script>
  <script src="{{ site.baseurl }}/assets/js/slate/lib/imagesloaded.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/slate/app/toc.js"></script>

</body>
</html>
