---
layout: blog
comments: true
---

<article >
  <header >
    <h1>{{ page.title }}</h1>
    <p>
      {% if page.author %}
        <span>By {{ page.author }} • {{ page.date | date: "%A, %B %-d, %Y" }}</span>
      {% else %}
      <span>{{ page.date | date: "%A, %B %d, %Y" }}</span>
      {% endif %}
    </p>
    <p>
      {% if page.tags %}
      <i class="glyphicon glyphicon-tags"></i>&nbsp;
      {% for tag in page.tags %}
        {% if forloop.index == page.tags.size %}
          <span class='navtags'><a href='/blog/tag/{{tag}}'>{{ tag  | replace: "-", " " }}</a></span>
        {% else %}
          <span class='navtags'><a href='/blog/tag/{{tag}}'>{{ tag  | replace: "-", " " }}, </a></span>
        {% endif %}
      {% endfor %}
      {% endif %}
    </p>
    {% if page.references %}
    <p>This page references:</p>
    <ul>
      {% for ref in page.references %}
        <li class="author">
          <a href="{{ref.url}}">{{ ref.link }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    </header>
  <div class="post-content" itemprop="articleBody">
    <br>
    {{ content }}
  </div>

  <br>

  <div id="disqus_thread"></div>

  <script>
  var disqus_config = function () {
    this.page.url = site.url;
    this.page.identifier = page.title;
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//developer-concur.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>

  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
