{
  "swagger": "2.0",
  "info": {
    "description": "Returns the configured expense forms in SAP Concur. Clients can have multiple forms configured for each form type.",
    "version": "1.1",
    "title": "Expense Report Form"
  },
  "host": "www.concursolutions.com",
  "basePath": "/api/expense/expensereport/v1.1/report",
  "tags": [
    {
      "name": "Form Types",
      "description": "Retrieves the list of configured form types."
    },
    {
      "name": "Form Data",
      "description": "Retrieves the list of configured forms for the specified form type."
    }
  ],
  "paths": {
    "/Forms/": {
      "get": {
        "tags": [
          "Form Types"
        ],
        "summary": "Retrieves the list of configured form types.",
        "operationId": "getFormTypesUsingGET",
        "produces": [ "application/xml" ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FormTypesList" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    },
    "/Forms/{FormCode}": {
      "get": {
        "tags": [
          "Form Data"
        ],
        "summary": "Retrieves the list of configured forms for the specified form type.  Note: The FormCode is returned in the FormCode element in the Get Form Types response.",
        "operationId": "getFormDataUsingGET",
        "produces": [ "application/xml" ],
        "parameters": [
          {
            "name": "FormCode",
            "in": "path",
            "description": "The identifier for the desired form.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FormDataList" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "FormTypesList": {
      "type": "object",
      "properties": {
        "FormType": {
          "type": "array",
          "description": "List of configured form types.",
          "items": {
            "$ref": "#/definitions/FormType"
          }
        }
      },
      "title": "FormTypesList"
    },
    "FormType": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "FormCode": {
          "type": "string"
        }
      },
      "title": "FormType"
    },
    "FormDataList": {
      "type": "object",
      "properties": {
        "FormData": {
          "type": "array",
          "description": "List of configured forms for the specified form type.",
          "items": {
            "$ref": "#/definitions/FormData"
          }
        }
      },
      "title": "FormDataList"
    },
    "FormData": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "FormId": {
          "type": "string"
        }
      },
      "title": "FormData"
    }
  }
}
