{
  "x-sap-shortText": "Manage receipt images for the OAuth consumer.",
  "swagger": "2.0",
  "host": "sandbox.api.sap.com",
  "basePath": "/concur/api",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "info": {
    "title": "Image API Documentation",
    "description": "The SAP Concur Image API allows clients to manage the receipt images attached to expense reports and the images attached to invoices. Clients can retrieve existing images by reportID, image ID, or invoiceID, and upload new images to a user, expense entry, report, or invoice.<p>The Image API supports the following image formats:</p><p><li>`application/pdf`<li>`image/jpg`<li>`image/jpeg`<li>`image/png`</p><p>The maximum file size allowed is 10 MB.</p>",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "Post an image",
      "description": "Add an expense report, expense entry, purchase request, or receipt image."
    },
    { "name": "Get an image URL", "description": "Retrieve image URLs. The URL is valid for 30 minutes after the request." }
  ],
  "paths": {
    "/image/v1.0/receipt": {
      "post": {
        "tags": ["Post an image"],
        "summary": "Post receipt image",
        "description": "Uploads a receipt image and associates it with the OAuth consumer. The user can view the image in the receipt management section of SAP Concur.",
        "operationId": "addReceiptLineItemUsingPOST",
        "consumes": ["application/pdf", "image/jpg", "image/jpeg", "image/png", "multipart/form-data"],
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "formData",
            "name": "Image File",
            "type": "file",
            "description": "Receipt image to upload.",
            "required": true
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Image" } },
          "201": { "description": "Created" },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    },
    "/image/v1.0/expenseentry/{entryId}": {
      "post": {
        "tags": ["Post an image"],
        "summary": "Post expense entry image",
        "description": "Uploads a receipt image and associates it with the expense entry that matches the supplied entry ID. Once an image is attached to the entry, you cannot append additional images.",
        "operationId": "addExpenseEntryLineItemUsingPOST",
        "consumes": ["application/pdf", "image/jpg", "image/jpeg", "image/png", "multipart/form-data"],
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "entryId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "Image File",
            "type": "file",
            "description": "Receipt Image to Upload",
            "required": true
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Image" } },
          "201": { "description": "Created" },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      },
      "get": {
        "tags": ["Get an image URL"],
        "summary": "Get an expense report entry image URL",
        "description": "Retrieve an expense report entry image URL.",
        "operationId": "getExpenseEntryImageUsingGET",
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "entryId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Image" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    },
    "/image/v1.0/invoice/{requestId}": {
      "post": {
        "tags": ["Post an image"],
        "summary": "Post invoice image",
        "description": "Uploads an invoice image and associates it with the invoice that matches the supplied request ID. Once an image is attached to the invoice, you cannot append additional images.",
        "operationId": "addInvoiceImageUsingPOST",
        "consumes": ["application/pdf", "image/jpg", "image/jpeg", "image/png", "multipart/form-data"],
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "Image File",
            "type": "file",
            "description": "Receipt image to upload",
            "required": true
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Image" } },
          "201": { "description": "Created" },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      },
      "get": {
        "tags": ["Get an image URL"],
        "summary": " Get invoice image URL",
        "description": "Retrieve invoice image URL.",
        "operationId": "getInvoiceImageUsingGET",
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Image" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    },
    "/image/v1.0/report/{reportId}": {
      "post": {
        "tags": ["Post an image"],
        "summary": "Post expense report image",
        "description": "Uploads a receipt image and associates it with the report that matches the supplied report ID. If a report image already exists for the report, the new image will be appended to the existing image.",
        "operationId": "addReportImageUsingPOST",
        "consumes": ["application/pdf", "image/jpg", "image/jpeg", "image/png", "multipart/form-data"],
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "Image File",
            "type": "file",
            "description": "Receipt image to upload",
            "required": true
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Image" } },
          "201": { "description": "Created" },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      },
      "get": {
        "tags": ["Get an image URL"],
        "summary": "Get report image URL",
        "description": "Retrieve expense report image URL.",
        "operationId": "getReportEntryImageUsingGET",
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Image" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    },
    "/image/v1.0/receipt/{imageId}": {
      "get": {
        "tags": ["Get an image URL"],
        "summary": "Get receipt image URL",
        "description": "Receive receipt image URL.",
        "operationId": "getReceiptImageUsingGET",
        "produces": ["application/xml"],
        "parameters": [
          {
            "in": "path",
            "name": "imageId",
            "description": "The unique identifier of the image.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Image" }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not found" },
          "500": { "description": "Internal error" }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "Image": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "The unique identifier of the image."
        },
        "Url": {
          "type": "string",
          "description": "The URL to the image. Note that special characters will be XML-encoded. You will need to unencode any special characters before using the link. This element is empty when uploading images."
        }
      },
      "title": "Image"
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v1.0",
      "description": "Concur API endpoint"
    }
  ]
}
