{
  "x-sap-shortText": "Retrieve and manage expense entry itemizations.",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
		"OAuth2": {
			"type": "oauth2",
			"description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
			"tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
			"flow": "application"
		}
	},
  "security": [
		{
			"OAuth2": []
		}
	],
  "info": {
    "title": "Itemizations",
    "description": "Expense Entry Itemizations are children of an expense entry that subdivide the expense. A common use case for itemizations is on a hotel bill, which can have separate itemizations for room rate, room tax, and services such as laundry or minibar.",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/expense/itemizations": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get expense itemizations",
        "description": "Gets all expense itemizations owned by the user, with optional filtering parameters.",
        "parameters": [
          {
            "name": "reportID",
            "in": "query",
            "description": "The report ID of the itemizations to be retrieved.  Format: An alpha-numeric string",
            "required": false,
            "type": "string"
          },
          {
            "name": "entryID",
            "in": "query",
            "description": "The entry ID for the itemizations to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expenseTypeCode",
            "in": "query",
            "description": "The expense type code for the itemizations to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. Default value: 25",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns the itemizations. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ItemizationCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create expense itemization",
        "description": "Creates a new expense itemization for the specified expense entry.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "The expense itemization object to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemizationPost"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns the itemizations. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    },
    "/expense/itemizations/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a single expense itemization",
        "description": "Gets the specified expense itemization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the expense itemization.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns the itemizations. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ItemizationGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update an expense itemization",
        "description": "Updates the specified expense itemization. Only the fields provided in the supplied object are updated. Missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the expense itemization.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The partial or complete expense itemization object to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemizationPut"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns the itemizations. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete an expense itemization",
        "description": "Deletes the specified expense itemization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the expense itemization to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user who owns the itemizations. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string"
        },
        "URI": {
          "type": "string"
        }
      }
    },
    "CustomField": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "For list fields, this is the list item code."
        },
        "ListItemID": {
          "type": "string",
          "description": "For list fields, this is the list item ID."
        },
        "Type": {
          "type": "string",
          "description": "The custom field type. Possible values: Amount, Boolean, ConnectedList, Date, Integer, List, Number, Text"
        },
        "Value": {
          "type": "string",
          "description": "The value in the Org Unit or Custom field. For list fields, this is the name of the list item.  Maximum length: 48 characters"
        }
      }
    },
    "ItemizationCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ItemizationGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "ItemizationGet": {
      "properties": {
        "AllocationType": {
          "type": "string",
          "description": "The type of allocation for the itemization. Supported values: P - partial allocation, F - full allocation, N - no allocation."
        },
        "ApprovedAmount": {
          "type": "number",
          "format": "double",
          "description": "The approved amount of the expense itemization, in the report currency."
        },
        "Custom1": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom10": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom11": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom12": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom13": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom14": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom15": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom16": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom17": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom18": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom19": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom2": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom20": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom21": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom22": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom23": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom24": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom25": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom26": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom27": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom28": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom29": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom3": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom30": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom31": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom32": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom33": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom34": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom35": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom36": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom37": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom38": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom39": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom4": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom40": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom5": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom6": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom7": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom8": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom9": {
          "$ref": "#/definitions/CustomField"
        },
        "Description": {
          "type": "string",
          "description": "The description of the expense. Maximum length: 64 characters"
        },
        "EntryID": {
          "type": "string",
          "description": "The ID of the expense entry that is the parent for the itemization."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code for the expense type. Use the \"GET ExpenseGroupConfigurations\" endpoint to learn the expense type code for expense types that are active for this report's policy."
        },
        "ExpenseTypeName": {
          "type": "string",
          "description": "The name of the expense type, localized to the user's language."
        },
        "HasComments": {
          "type": "boolean",
          "description": "Indicates whether the expense has comments. Format: true or false"
        },
        "HasExceptions": {
          "type": "boolean",
          "description": "Indicates whether the expense has exceptions. Format: true or false"
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsBillable": {
          "type": "boolean",
          "description": "Indicates whether the itemization is billable. Format: true or false"
        },
        "IsImageRequired": {
          "type": "boolean",
          "description": "Indicates whether a receipt image is required for the entry. Format: true or false"
        },
        "IsPersonal": {
          "type": "boolean",
          "description": "Indicates whether the itemization is personal (that is, non-reimbursable). Format: true or false"
        },
        "LastModified": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date when the itemization was last modified."
        },
        "LocationCountry": {
          "type": "string",
          "description": "The country where the expense was incurred. Format: 2-letter ISO 3166-1 country code"
        },
        "LocationID": {
          "type": "string",
          "description": "The unique identifier for the location where the expense was incurred."
        },
        "LocationName": {
          "type": "string",
          "description": "The location where the expense was incurred, usually the city name."
        },
        "LocationSubdivision": {
          "type": "string",
          "description": "The state, province, or other country subdivision where the expense was incurred. Format: ISO 3166-2:2007 country subdivision"
        },
        "OrgUnit1": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit2": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit3": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit4": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit5": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit6": {
          "$ref": "#/definitions/CustomField"
        },
        "PostedAmount": {
          "type": "number",
          "format": "double",
          "description": "The amount of the expense itemization, in the report currency."
        },
        "ReportID": {
          "type": "string",
          "description": "The ID of the report that is the parent for the itemization."
        },
        "ReportOwnerID": {
          "type": "string",
          "description": "The login ID for the report owner."
        },
        "SpendCategoryCode": {
          "type": "string",
          "description": "The code for the spending category that is specified for this itemization."
        },
        "SpendCategoryName": {
          "type": "string",
          "description": "The name of the spending category that is specified for this itemization, localized to the user's language."
        },
        "TransactionAmount": {
          "type": "number",
          "format": "double",
          "description": "The amount of the expense itemization, in the transaction currency of the parent expense entry."
        },
        "TransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the good or service associated with this itemization was provided. Format: YYYY-MM-DD"
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "ItemizationPost": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "The expense itemization comment. Maximum length: 500 characters"
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom21": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom22": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom23": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom24": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom25": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom26": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom27": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom28": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom29": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom30": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom31": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom32": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom33": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom34": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom35": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom36": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom37": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom38": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom39": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom40": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom8": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom9": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Description": {
          "type": "string",
          "description": "The description of the expense. Maximum length: 64 characters"
        },
        "EntryID": {
          "type": "string",
          "description": "The ID of the expense entry that is the parent for the itemization. Use the \"GET Entries\" endpoint to learn the entry ID for the expense itemizations."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code for the expense type. Use the \"GET Expense Group Configurations\" endpoint to learn the expense type code for expense types that are active for this report's policy."
        },
        "IsBillable": {
          "type": "boolean",
          "description": "Indicates whether the itemization is billable. Format: true or false"
        },
        "IsPersonal": {
          "type": "boolean",
          "description": "Indicates whether the itemization is personal (that is, non-reimbursable). Format: true or false"
        },
        "OrgUnit1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit6": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "TransactionAmount": {
          "type": "number",
          "format": "double",
          "description": "The amount of the expense itemization, in the transaction currency of the parent expense entry."
        },
        "TransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the good or service associated with this itemization was provided. Format: YYYY-MM-DD"
        }
      }
    },
    "ItemizationPut": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "The expense itemization comment. Maximum length: 500 characters"
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom21": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom22": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom23": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom24": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom25": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom26": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom27": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom28": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom29": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom30": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom31": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom32": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom33": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom34": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom35": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom36": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom37": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom38": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom39": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom40": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom8": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Custom9": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "Description": {
          "type": "string",
          "description": "The description of the expense. Maximum length: 64 characters"
        },
        "EntryID": {
          "type": "string",
          "description": "The ID of the expense entry that is the parent for the itemization. Use the \"GET Entries\" endpoint to learn the entry ID for the expense itemizations."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code for the expense type. Use the \"GET Expense Group Configurations\" endpoint to learn the expense type code for expense types that are active for this report's policy."
        },
        "IsBillable": {
          "type": "boolean",
          "description": "Indicates whether the itemization is billable. Format: true or false"
        },
        "IsPersonal": {
          "type": "boolean",
          "description": "Indicates whether the itemization is personal (that is, non-reimbursable). Format: true or false"
        },
        "OrgUnit1": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit2": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit3": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit4": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit5": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "OrgUnit6": {
          "type": "string",
          "description": "The details from the Custom fields. These fields may not have data, depending on the configuration. Maximum length: 64 characters"
        },
        "TransactionAmount": {
          "type": "number",
          "format": "double",
          "description": "The amount of the expense itemization, in the transaction currency of the parent expense entry."
        },
        "TransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the good or service associated with this itemization was provided. Format: YYYY-MM-DD"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "Concur API EndPoint"
    }
  ]
}
