{
  "x-sap-shortText": "Manage list items in your configured SAP Concur lists.",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "List Items",
    "description": "Provides an automated solution to clients who would like to manage list items. This API provides methods to view, add, update or delete list items owned by the specified lists. This API supports Concur Expense, Concur Invoice, and Concur Request.",
    "version": "3.0"
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/common/list items": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get all list items",
        "description": "Returns all list items based on the search criteria.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. The default is 25 and the maximum is 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The start of the page offset. The default is from the beginning.",
            "required": false,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "The unique identifier for the list this item is a member of.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the list item. Maximum length: 64.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "The unique identifier of this item's parent. Empty when there is no parent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "level1Code",
            "in": "query",
            "description": "The item code for the first level of the list. All lists have at least a Level1Code. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level2Code",
            "in": "query",
            "description": "The item code for the second level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level3Code",
            "in": "query",
            "description": "The item code for the third level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level4Code",
            "in": "query",
            "description": "The item code for the fourth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level5Code",
            "in": "query",
            "description": "The item code for the fifth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level6Code",
            "in": "query",
            "description": "The item code for the sixth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level7Code",
            "in": "query",
            "description": "The item code for the seventh level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level8Code",
            "in": "query",
            "description": "The item code for the eighth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level9Code",
            "in": "query",
            "description": "The item code for the ninth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level10Code",
            "in": "query",
            "description": "The item code for the tenth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListItemGetCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a new list item",
        "description": "Creates a new item in the specified list.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "List item object to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListItemPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    },
    "/common/listitems/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a single list item by ID",
        "description": "Returns the specified list item.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the list item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "The unique identifier for the list this item is a member.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListItemGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update list item",
        "description": "Updates the specified list item. Only the provided fields will be updated, missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the list item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The list item object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListItemPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete list item by ID",
        "description": "Deletes the specified list item.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the list item to delete",
            "required": true,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "The unique identifier of the list associated with a list item to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string"
        },
        "URI": {
          "type": "string"
        }
      }
    },
    "ListItemGet": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "Level10Code": {
          "type": "string",
          "description": "The item code for the tenth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level1Code": {
          "type": "string",
          "description": "The item code for the first level of the list. All lists have at least a Level1Code. Maximum 32 characters"
        },
        "Level2Code": {
          "type": "string",
          "description": "The item code for the second level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level3Code": {
          "type": "string",
          "description": "The item code for the third level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level4Code": {
          "type": "string",
          "description": "The item code for the fourth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level5Code": {
          "type": "string",
          "description": "The item code for the fifth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level6Code": {
          "type": "string",
          "description": "The item code for the sixth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level7Code": {
          "type": "string",
          "description": "The item code for the seventh level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level8Code": {
          "type": "string",
          "description": "The item code for the eighth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level9Code": {
          "type": "string",
          "description": "The item code for the ninth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "ListID": {
          "type": "string",
          "description": "The unique identifier for the list this item is a member of."
        },
        "Name": {
          "type": "string",
          "description": "The name of item. Maximum 64 characters"
        },
        "ParentID": {
          "type": "string",
          "description": "The unique identifier of this item's parent. Empty when there is no parent."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "ListItemGetCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ListItemGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "ListItemPost": {
      "properties": {
        "Level10Code": {
          "type": "string",
          "description": "The item code for the tenth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level1Code": {
          "type": "string",
          "description": "The item code for the first level of the list. All lists have at least a Level1Code. Maximum 32 characters"
        },
        "Level2Code": {
          "type": "string",
          "description": "The item code for the second level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level3Code": {
          "type": "string",
          "description": "The item code for the third level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level4Code": {
          "type": "string",
          "description": "The item code for the fourth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level5Code": {
          "type": "string",
          "description": "The item code for the fifth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level6Code": {
          "type": "string",
          "description": "The item code for the sixth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level7Code": {
          "type": "string",
          "description": "The item code for the seventh level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level8Code": {
          "type": "string",
          "description": "The item code for the eighth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "Level9Code": {
          "type": "string",
          "description": "The item code for the ninth level of the list. Empty when this level doesn't exist in the list. Maximum 32 characters"
        },
        "ListID": {
          "type": "string",
          "description": "The unique identifier for the list this item is a member of."
        },
        "Name": {
          "type": "string",
          "description": "The name of item. Maximum 64 characters"
        }
      }
    },
    "ListItemPut": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The item code of the list item. Maximum 32 characters"
        },
        "ListID": {
          "type": "string",
          "description": "The unique identifier for the list this item is a member of."
        },
        "Name": {
          "type": "string",
          "description": "The name of item. Maximum 64 characters"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "Concur API EndPoint"
    }
  ]
}
