{
  "x-sap-shortText": "Retrieves location information.",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Locations",
    "description": "The valid city location codes in SAP Concur. The location codes vary by client, and cannot be used across multiple clients. This API provides methods to get a list of valid locations for the supplied user, or get details of a location by ID.",
    "version": "3.0"
  },
  "securityDefinitions": {
		"OAuth2": {
			"type": "oauth2",
			"description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
			"tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
			"flow": "application"
		}
	},
  "security": [
		{
			"OAuth2": []
		}
	],
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/common/locations": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Retrieves all locations.",
        "description": "Gets details of locations that are used by SAP Concur and that are valid at the user's company.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. Default value: 25.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "description": "A common name associated with the location. This name can be a location description such as a neighborhood (SoHo), a landmark (Statue of Liberty), or a city name (New York).",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "The city name of the location.",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySubdivision",
            "in": "query",
            "description": "The ISO 3166-2:2007 country subdivision code for the location. Example: US-WA.",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "The 2-letter ISO 3166-1 country code for the location. Example: United States is US.",
            "required": false,
            "type": "string"
          },
          {
            "name": "administrativeRegion",
            "in": "query",
            "description": "The administrative region of the location. An administrative region is a government unit, such as a county, that contains one or more cities.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationCollection"
            }
          }
        }
      }
    },
    "/common/locations/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Retrieves a location by ID.",
        "description": "Gets details of the specified location.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the location.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Decimal": {
      "properties": {}
    },
    "Location": {
      "properties": {
        "AdministrativeRegion": {
          "type": "string",
          "description": "The administrative region of the location."
        },
        "Country": {
          "type": "string",
          "description": "The 2-letter ISO 3166-1 country code for the location."
        },
        "CountrySubdivision": {
          "type": "string",
          "description": "The ISO 3166-2:2007 country subdivision code for the location. Example: US-WA."
        },
        "IATACode": {
          "type": "string",
          "description": "The International Air Transport Association (IATA) airport code of the location."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsAirport": {
          "type": "boolean",
          "description": "Indicates whether the location is an airport. Format: true or false."
        },
        "IsBookingTool": {
          "type": "boolean",
          "description": "Indicates whether the location is used by the booking tool. Format: true or false."
        },
        "Latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude of the geocode for the location."
        },
        "Longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude of the geocode for the location."
        },
        "Name": {
          "type": "string",
          "description": "The location name. Maximum length: 64 characters."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "LocationCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/Location"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean",
          "description": "Indicates whether the location is used by the booking tool. Format: true or false"
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "SAP Concur API EndPoint"
    }
  ]
}
