{
  "x-sap-shortText": "View and manage invoice payment requests.",
  "swagger": "2.0",
  "host": "sandbox.api.sap.com",
  "basePath": "/concur/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Payment Request",
    "description": "A payment request is a request for payment (partial or full) of an invoice. This API provides methods to create or update a payment request, or view a payment request by ID.",
    "version": "3.0"
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/invoice/paymentrequest/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Gets all Payment Request information.",
        "description": "Gets all relevant information (Payment Request Header, Payment Request Line Item and Payment Request Allocation) of a Payment Request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment Request ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PaymentRequest"
            }
          }
        }
      }
    },
    "/invoice/paymentrequest": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a Payment Request.",
        "description": "Creates a new Payment Request with all relevant details including line items and associated allocations.",
        "parameters": [
          {
            "name": "paymentRequest",
            "in": "body",
            "description": "An XML or JSON representation of a Payment Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequestPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update a Payment Request.",
        "description": "Updates a payment request with all relevant details including line items and associated allocations.",
        "parameters": [
          {
            "name": "paymentRequest",
            "in": "body",
            "description": "An XML or JSON representation of a Payment Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequestPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Allocation": {
      "properties": {
        "AllocationAccountCode": {
          "type": "string",
          "description": "The Account Code that the allocation will be assigned to."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom8": {
          "type": "string",
          "description": "A value that can be applied to a custom field 8 that is part of the allocation form."
        },
        "Custom9": {
          "type": "string",
          "description": "A value that can be applied to a custom field 9 that is part of the allocation form."
        },
        "IsTestUser": {
          "type": "string",
          "description": "Indication that the Allocation record was created by a test user. Format: true/false."
        },
        "Percentage": {
          "type": "string",
          "description": "The percentage of the request line item that the individual allocation records. All allocations associated to a given line item should add up to 100."
        }
      }
    },
    "AllocationsCollection": {
      "properties": {
        "Allocation": {
          "$ref": "#/definitions/Allocation"
        }
      }
    },
    "CompanyAddress": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Line 1 of the street address."
        },
        "Address2": {
          "type": "string",
          "description": "Line 2 of the street address"
        },
        "Address3": {
          "type": "string",
          "description": "Line 3 of the street address"
        },
        "City": {
          "type": "string",
          "description": "The name of the city."
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code."
        },
        "Name": {
          "type": "string",
          "description": "The name given to the company location."
        },
        "PostalCode": {
          "type": "string",
          "description": "The postal / zip code."
        },
        "State": {
          "type": "string",
          "description": "The state code."
        }
      }
    },
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The ID of the resource."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "LineItem": {
      "properties": {
        "Allocations": {
          "$ref": "#/definitions/AllocationsCollection"
        },
        "AllocationStatus": {
          "type": "string",
          "description": "Current amount of allocation performed on the Request line item Supported values: None, Partial, Full."
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the line item, excluding VAT."
        },
        "ApprovedLineItemAmount": {
          "type": "string",
          "description": "The approved amount of the line item."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom8": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom9": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The delivery slip number associated with receiving receipt."
        },
        "Description": {
          "type": "string",
          "description": "Brief overview of the good or service ordered."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "A code which indicates the expense type for the line item."
        },
        "IsMatched": {
          "type": "string",
          "description": "Indication that the payment request line item is associated to a purchase order line item. Format: true/false."
        },
        "LineItemId": {
          "type": "string",
          "description": "The identifier of the payment request line item. The ID is only guaranteed to be unique for a given payment request."
        },
        "LineItemIsTestUser": {
          "type": "string",
          "description": "Indication that the allocation record was created by a test user. Format: true/false."
        },
        "MatchedPurchaseOrderLineItemId": {
          "type": "string",
          "description": "The identifier of the purchase order line item to which the payment request line item is matched (if any)."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The identifier of the purchase order containing the line item to which the payment request line item is matched (if any)."
        },
        "Quantity": {
          "type": "string",
          "description": "Total number of goods or services ordered."
        },
        "RequestedLineItemAmount": {
          "type": "string",
          "description": "The requested amount of the line item."
        },
        "RequestLineItemNumber": {
          "type": "string",
          "description": "The relative location of the line item in relation to other line items in the payment request."
        },
        "ShipFromPostalCode": {
          "type": "string",
          "description": "The postal code the good or service was shipped from."
        },
        "ShipToPostalCode": {
          "type": "string",
          "description": "The postal code the good or service will be shipped to."
        },
        "SupplierPartId": {
          "type": "string",
          "description": "The unique identifier provided by the supplier that is associated with the good or service."
        },
        "Tax": {
          "type": "string",
          "description": "The tax associated with the line item."
        },
        "TaxCode": {
          "type": "string",
          "description": "The tax code assigned for the line item, based on the tax setting."
        },
        "TaxCode2": {
          "type": "string",
          "description": "The tax code 2 assigned for the line item, based on the tax setting."
        },
        "TaxCode3": {
          "type": "string",
          "description": "The tax code 3 assigned for the line item, based on the tax setting."
        },
        "TaxCode4": {
          "type": "string",
          "description": "The tax code 4 assigned for the line item, based on the tax setting."
        },
        "TotalPrice": {
          "type": "string",
          "description": "The total amount of the line item."
        },
        "UnitOfMeasure": {
          "type": "string",
          "description": "The code for the measurement unit used to quantify the good or service. Use \"GET /invoice/localizeddata\" to look up codes and descriptions."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The cost for a single unit of the line item good or service."
        },
        "VatAmount": {
          "type": "string",
          "description": "The amount of VAT 1 included in the line item total."
        },
        "VatAmountFour": {
          "type": "string",
          "description": "The amount of VAT 4 included in the line item total."
        },
        "VatAmountThree": {
          "type": "string",
          "description": "The amount of VAT 3 included in the line item total."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The amount of VAT 2 included in the line item total."
        },
        "VatRate": {
          "type": "string",
          "description": "The VAT rate 1 applied to the net line item total."
        },
        "VatRateFour": {
          "type": "string",
          "description": "The VAT rate 4 applied to the net line item total."
        },
        "VatRateThree": {
          "type": "string",
          "description": "The VAT rate 3 applied to the net line item total."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The VAT rate 2 applied to the net line item total."
        }
      }
    },
    "LineItemsCollection": {
      "properties": {
        "LineItem": {
          "$ref": "#/definitions/LineItem"
        }
      }
    },
    "PaymentRequest": {
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the invoice, excluding VAT."
        },
        "ApprovalStatus": {
          "type": "string",
          "description": "A code which indicates the approval status of the payment request."
        },
        "ApprovedByDelegate": {
          "type": "string",
          "description": "Was the Payment Request approved by a delegate. Format: true/false."
        },
        "AssignedByUsername": {
          "type": "string",
          "description": "Username of the assigning employee."
        },
        "AssignedDate": {
          "type": "string",
          "description": "The date the payment request was assigned to the current owner."
        },
        "BuyerCostCenter": {
          "type": "string",
          "description": "The company defined center responsible for the payment request."
        },
        "CalculatedAmount": {
          "type": "string",
          "description": "The sum of all line item amounts plus shipping amount and tax amount for the payment request."
        },
        "CheckNumber": {
          "type": "string",
          "description": "Check number of the payment made to the vendor."
        },
        "CompanyBillToAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "CompanyShipToAddress": {
          "$ref": "#/definitions/CompanyAddress"
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code."
        },
        "CreatedByUsername": {
          "type": "string",
          "description": "Username of the payment request creator."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the expense report currency. Examples: USD - US dollars; BRL - Brazilian real; CAD - Canadian dollar; CHF - Swiss franc; EUR - Euro; GBO - Pound sterling; HKD - Hong Kong dollar; INR - Indian rupee; MXN - Mexican peso; NOK - Norwegian krone; SEK - Swedish krona."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom21": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom22": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom23": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom24": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom8": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom9": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "DataSource": {
          "type": "string",
          "description": "A code which indicates the method used to created the Payment Request. Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "DeletedDate": {
          "type": "string",
          "description": "The date the user deleted the payment request."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The delivery slip number associated with receiving receipt."
        },
        "Description": {
          "type": "string",
          "description": "User entered description of the Payment Request."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The discount from the supplier if the discount terms are met."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The NET discount terms with a supplier when discounts apply."
        },
        "EmployeeName": {
          "type": "string",
          "description": "The owner of the Payment Request."
        },
        "ExternalPolicyId": {
          "type": "string",
          "description": "The external policy ID. "
        },
        "ExtractDate": {
          "type": "string",
          "description": "The date the payment request was extracted, in order to import it into an accounts payable system and generate a payment."
        },
        "FirstApprovalDate": {
          "type": "string",
          "description": "The date the payment request received its first approval in its approval workflow."
        },
        "FirstSubmitDate": {
          "type": "string",
          "description": "The date the payment request was first submitted."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "User-entered value representing the total invoice amount, used to calculate amount remaining on the line item page."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The date the vendor issued the invoice."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The invoice Number from the vendor for the payment request."
        },
        "InvoiceReceivedDate": {
          "type": "string",
          "description": "The date on which the invoice was received."
        },
        "IsAssigned": {
          "type": "string",
          "description": "Whether the payment request is assigned. Format: true/false."
        },
        "IsInvoiceConfirmed": {
          "type": "string",
          "description": "Indicates if the payment request invoice is confirmed or in a different status. Format: true/false."
        },
        "IsPaymentRequestDeleted": {
          "type": "string",
          "description": "Whether the payment request is deleted. Format: true/false."
        },
        "IsPaymentRequestDuplicate": {
          "type": "string",
          "description": "Whether the payment request identified as a duplicate of another existing request. Format:true/false."
        },
        "IsTestTransaction": {
          "type": "string",
          "description": "Is the payment request a test transaction (true/false)."
        },
        "LastSubmitDate": {
          "type": "string",
          "description": "The date the payment request was last submitted."
        },
        "LedgerCode": {
          "type": "string",
          "description": "A code which indicates which company journal the payment request is assigned to. Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "LineItems": {
          "$ref": "#/definitions/LineItemsCollection"
        },
        "LineItemTotalAmount": {
          "type": "string",
          "description": "The sum of all line item amounts."
        },
        "LineItemVatAmount": {
          "type": "string",
          "description": "The sum amount of VAT from all line items in the request."
        },
        "Name": {
          "type": "string",
          "description": "The payment request name."
        },
        "NotesToVendor": {
          "type": "string",
          "description": "Information from the customer to the vendor for special requests or handling for the ordered good or service."
        },
        "OB10BuyerId": {
          "type": "string",
          "description": "A unique buyer account on the OB10 network."
        },
        "OB10TransactionId": {
          "type": "string",
          "description": "Unique identifier for the PR transaction (generated by OB10)."
        },
        "OrgUnit01": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit02": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit03": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit04": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit05": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit06": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "PaidAmount": {
          "type": "string",
          "description": "Represents the amount of the payment that will be/has been made for the invoice."
        },
        "PaidDate": {
          "type": "string",
          "description": "The date payment was made to the vendor."
        },
        "PaymentAdjustmentNotes": {
          "type": "string",
          "description": "Notes to the vendor regarding the amount paid (underpayment due to damages, for example)."
        },
        "PaymentDueDate": {
          "type": "string",
          "description": "The date the vendor needs to be paid by."
        },
        "PaymentMethod": {
          "type": "string",
          "description": "A code which indicates the method used to reimburse the vendor for the Payment Request. Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "PaymentRequestCreatedByTestUser": {
          "type": "string",
          "description": "Was the Payment Request created by a Test User. Format: true/false."
        },
        "PaymentRequestDeletedBy": {
          "type": "string",
          "description": "The user who deleted the payment request."
        },
        "PaymentStatus": {
          "type": "string",
          "description": "A code which indicates the payment status of the payment request."
        },
        "PaymentTermsDays": {
          "type": "string",
          "description": "This number, along with type of payment terms (example: NET), determine when the invoice is expected to be paid."
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The vendor provincial tax ID."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The purchase order number for the purchase order associated with the invoice."
        },
        "ReceiptConfirmationType": {
          "type": "string",
          "description": "A code which indicates the receipt confirmation type for this payment request (Invoice Confirmation, for example). Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The value for the shipping amount header field."
        },
        "SubmittedByDelegate": {
          "type": "string",
          "description": "Whether the payment request was created by a delegate. Format: true/false."
        },
        "TaxAmount": {
          "type": "string",
          "description": "The value for the tax amount header field."
        },
        "TaxCode": {
          "type": "string",
          "description": "The tax code assigned for the Request, based on the tax setting."
        },
        "TaxCode2": {
          "type": "string",
          "description": "The tax code 2 assigned for the request, based on the tax setting."
        },
        "TaxCode3": {
          "type": "string",
          "description": "The tax code 3 assigned for the request, based on the tax setting."
        },
        "TaxCode4": {
          "type": "string",
          "description": "The tax code 4 assigned for the request, based on the tax setting."
        },
        "TotalApprovedAmount": {
          "type": "string",
          "description": "The total amount that has been approved."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "UserCreationDate": {
          "type": "string",
          "description": "The date the Concur Invoice user first saved the payment request."
        },
        "VatAmountFour": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Fourth of four VAT amount fields available."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. First of four VAT amount fields available."
        },
        "VatAmountThree": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Third of four VAT amount fields available."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Second of four VAT amount fields available."
        },
        "VatRateFour": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the fourth VAT amount field."
        },
        "VatRateOne": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the first VAT amount field."
        },
        "VatRateThree": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the third VAT amount field."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the second VAT amount field."
        },
        "VendorRemitAddress": {
          "$ref": "#/definitions/VendorAddress"
        },
        "VendorShipFromAddress": {
          "$ref": "#/definitions/VendorAddress"
        },
        "VendorTaxId": {
          "type": "string",
          "description": "The vendor tax ID."
        },
        "WorkflowCompleteDate": {
          "type": "string",
          "description": "The date the last step in the workflow process completed."
        }
      }
    },
    "PaymentRequestAllocationPostPut": {
      "properties": {
        "Custom01": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom02": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom03": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom04": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom05": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom06": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom07": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom08": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom09": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Percentage": {
          "type": "string",
          "description": "The percentage of the request line item that the individual allocation records. All allocations associated to a given line item should add up to 100."
        }
      }
    },
    "PaymentRequestLineItemPost": {
      "properties": {
        "Allocations": {
          "$ref": "#/definitions/PaymentRequestAllocationPostPut"
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the line item, excluding VAT."
        },
        "Custom01": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom02": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom03": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom04": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom05": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom06": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom07": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom08": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom09": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Description": {
          "type": "string",
          "description": "Brief overview of the good or service ordered."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "A code which indicates the expense type for the line item."
        },
        "ItemCode": {
          "type": "string",
          "description": "Represents the item code (the unique code a vendor assigns to a good or code a vendor assigns to a good or service to identify it)."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "Purchase order that is associated to the line item ."
        },
        "Quantity": {
          "type": "string",
          "description": "Total number of goods or services ordered."
        },
        "ShipFromPostalCode": {
          "type": "string",
          "description": "The postal code the good or service was shipped from."
        },
        "ShipToPostalCode": {
          "type": "string",
          "description": "The postal code the good or service will be shipped to."
        },
        "SupplierPartId": {
          "type": "string",
          "description": "The unique identifier provided by the supplier that is associated with the good or service."
        },
        "Tax": {
          "type": "string",
          "description": "The tax associated with the line item."
        },
        "TaxCode": {
          "type": "string",
          "description": "The tax code assigned for the line item, based on the tax setting."
        },
        "TaxCode2": {
          "type": "string",
          "description": "The tax code 2 assigned for the line item, based on the tax setting."
        },
        "TaxCode3": {
          "type": "string",
          "description": "The tax code 3 assigned for the line item, based on the tax setting."
        },
        "TaxCode4": {
          "type": "string",
          "description": "The tax code 4 assigned for the line item, based on the tax setting."
        },
        "TotalPrice": {
          "type": "string",
          "description": "The total amount of the line item."
        },
        "UnitOfMeasure": {
          "type": "string",
          "description": "The code for the measurement unit used to quantify the good or service. Use \"GET /invoice/localizeddata\" to look up codes and descriptions."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The cost for a single unit of the line item good or service."
        },
        "VatAmount": {
          "type": "string",
          "description": "The amount of VAT 1 included in the line item total."
        },
        "VatAmountFour": {
          "type": "string",
          "description": "The amount of VAT 4 included in the line item total."
        },
        "VatAmountThree": {
          "type": "string",
          "description": "The amount of VAT 3 included in the line item total."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The amount of VAT 2 included in the line item total."
        },
        "VatRate": {
          "type": "string",
          "description": "The VAT rate 1 applied to the net line item total."
        },
        "VatRateFour": {
          "type": "string",
          "description": "The VAT rate 4 applied to the net line item total."
        },
        "VatRateThree": {
          "type": "string",
          "description": "The VAT rate 3 applied to the net line item total."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The VAT rate 2 applied to the net line item total."
        }
      }
    },
    "PaymentRequestLineItemPut": {
      "properties": {
        "Action": {
          "type": "string",
          "description": "The operation(INSERT/UPDATE/DELETE) to be performed on the line item."
        },
        "Allocations": {
          "$ref": "#/definitions/PaymentRequestAllocationPostPut"
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the line item, excluding VAT."
        },
        "Custom01": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom02": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom03": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom04": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom05": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom06": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom07": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom08": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom09": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Description": {
          "type": "string",
          "description": "Brief overview of the good or service ordered."
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "A code which indicates the expense type for the line item."
        },
        "ItemCode": {
          "type": "string",
          "description": "Represents the item code (the unique code a vendor assigns to a good or code a vendor assigns to a good or service to identify it)."
        },
        "LineItemID": {
          "type": "string",
          "description": "Line item ID of the payment request."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "Purchase order that is associated to the line item ."
        },
        "Quantity": {
          "type": "string",
          "description": "Total number of goods or services ordered."
        },
        "ShipFromPostalCode": {
          "type": "string",
          "description": "The postal code the good or service was shipped from."
        },
        "ShipToPostalCode": {
          "type": "string",
          "description": "The postal code the good or service will be shipped to."
        },
        "SupplierPartId": {
          "type": "string",
          "description": "The unique identifier provided by the supplier that is associated with the good or service."
        },
        "Tax": {
          "type": "string",
          "description": "The tax associated with the line item."
        },
        "TaxCode": {
          "type": "string",
          "description": "The tax code 1 assigned for the line item, based on the tax setting."
        },
        "TaxCode2": {
          "type": "string",
          "description": "The tax code 2 assigned for the line item, based on the tax setting."
        },
        "TaxCode3": {
          "type": "string",
          "description": "The tax code 3 assigned for the line item, based on the tax setting."
        },
        "TaxCode4": {
          "type": "string",
          "description": "The tax code 4 assigned for the line item, based on the tax setting."
        },
        "UnitOfMeasure": {
          "type": "string",
          "description": "The code for the measurement unit used to quantify the good or service. Use \"GET /invoice/localizeddata\" to look up codes and descriptions."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The cost for a single unit of the line item good or service."
        },
        "VatAmount": {
          "type": "string",
          "description": "The amount of VAT 1 included in the line item total."
        },
        "VatAmountFour": {
          "type": "string",
          "description": "The amount of VAT 4 included in the line item total."
        },
        "VatAmountThree": {
          "type": "string",
          "description": "The amount of VAT 3 included in the line item total."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The amount of VAT 2 included in the line item total."
        },
        "VatRate": {
          "type": "string",
          "description": "The VAT rate 1 applied to the net line item total."
        },
        "VatRateFour": {
          "type": "string",
          "description": "The VAT rate 4 applied to the net line item total."
        },
        "VatRateThree": {
          "type": "string",
          "description": "The VAT rate 3 applied to the net line item total."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The VAT rate 2 applied to the net line item total."
        }
      }
    },
    "PaymentRequestPost": {
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the invoice, excluding VAT."
        },
        "BuyerCostCenter": {
          "type": "string",
          "description": "The company defined center responsible for the payment request."
        },
        "CheckNumber": {
          "type": "string",
          "description": "Check number of the payment made to the vendor."
        },
        "CompanyBillToAddressCode": {
          "type": "string",
          "description": "The code which identifies the company location to which the vendor billed the invoice."
        },
        "CompanyShipToAddressCode": {
          "type": "string",
          "description": "The code which identifies the company location to which the vendor shipped items listed in the invoice."
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the expense report currency. Examples: USD - US dollars; BRL - Brazilian real; CAD - Canadian dollar; CHF - Swiss franc; EUR - Euro; GBO - Pound sterling; HKD - Hong Kong dollar; INR - Indian rupee; MXN - Mexican peso; NOK - Norwegian krone; SEK - Swedish krona."
        },
        "Custom01": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom02": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom03": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom04": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom05": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom06": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom07": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom08": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom09": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom21": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom22": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom23": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom24": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "DataSource": {
          "type": "string",
          "description": "A code which indicates the method used to created the payment request. Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The delivery slip number associated with receiving receipt."
        },
        "Description": {
          "type": "string",
          "description": "User entered description of the payment request."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The discount from the supplier if the discount terms are met."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The NET discount terms with a supplier when discounts apply."
        },
        "EmployeeEmailAddress": {
          "type": "string",
          "description": "The email address of the employee to whom the request should be assigned. Not evaluated if EmployeeLoginId or EmployeeId match an employee. This value is <strong>required</strong> if none of the following are provided: LedgerCode, EmployeeLoginId, EmployeeId; PurchaseOrderNumber; ExternalPolicyId."
        },
        "EmployeeId": {
          "type": "string",
          "description": "The company ID of the employee to whom the request should be assigned. Has precedence over EmployeeEmail; not evaluated if EmployeeLoginId matches an employee. This value is <strong>required</strong> if none of the following are provided: LedgerCode, EmployeeLoginId; EmployeeEmail; PurchaseOrderNumber; ExternalPolicyId."
        },
        "EmployeeLoginId": {
          "type": "string",
          "description": "The login ID of the employee to whom the request should be assigned. Has precedence over EmployeeId and EmployeeEmail. This value is <strong>required</strong> if none of the following are provided: LedgerCode, EmployeeId; EmployeeEmail; PurchaseOrderNumber; ExternalPolicyId."
        },
        "ExternalPolicyId": {
          "type": "string",
          "description": "The external policy ID of the Payment Request. This value is <strong>required</strong> if none of the following are provided: LedgerCode, EmployeeLoginId, EmployeeId; EmployeeEmail; PurchaseOrderNumber."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "User-entered value representing the total invoice amount, used to calculate amount remaining on the line item page."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The date the vendor issued the invoice."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The invoice number from the vendor for the payment request."
        },
        "InvoiceReceivedDate": {
          "type": "string",
          "description": "The date on which the invoice was received."
        },
        "IsEmergencyCheckRun": {
          "type": "string",
          "description": "Is an emergency check run required. Format: Y/N"
        },
        "IsInvoiceConfirmed": {
          "type": "string",
          "description": "Indicates if the Payment Request Invoice is confirmed or in a different status. Format: true/false."
        },
        "LedgerCode": {
          "type": "string",
          "description": "A code which indicates which company journal the Payment Request is assigned to. Use \"GET /invoice/localizeddata\" to obtain valid codes. This value is <strong>required</strong> if none of the following are provided: EmployeeLoginId; EmployeeId; EmployeeEmail; PurchaseOrderNumber; ExternalPolicyId."
        },
        "LineItems": {
          "$ref": "#/definitions/PaymentRequestLineItemPost"
        },
        "Name": {
          "type": "string",
          "description": "The Payment Request Name."
        },
        "NotesToVendor": {
          "type": "string",
          "description": "Information from the customer to the vendor for special requests or handling for the ordered good or service."
        },
        "OB10BuyerId": {
          "type": "string",
          "description": "A unique buyer account on the OB10 network."
        },
        "OB10TransactionId": {
          "type": "string",
          "description": "Unique Identifier for the PR transaction (generated by OB10)."
        },
        "OrgUnit01": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit02": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit03": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit04": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit05": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit06": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "PaymentAdjustmentNotes": {
          "type": "string",
          "description": "Notes to the vendor regarding the amount paid (underpayment due to damages, for example)."
        },
        "PaymentAmount": {
          "type": "string",
          "description": "Represents the amount of the payment that will be/has been made for the invoice."
        },
        "PaymentDueDate": {
          "type": "string",
          "description": "The date the vendor needs to be paid by."
        },
        "PaymentTermsDays": {
          "type": "string",
          "description": "This number, along with type of payment terms (example: NET), determine when the invoice is expected to be paid."
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The vendor provincial tax ID."
        },
        "PurchaseOrderId": {
          "type": "string",
          "description": "The ID of the Purchase Order to which the Payment Request should be matched. This value is <strong>required</strong> if none of the following are provided: LedgerCode, EmployeeLoginId, EmployeeId; EmployeeEmail; ExternalPolicyId."
        },
        "ReceiptConfirmationType": {
          "type": "string",
          "description": "A code which indicates the receipt confirmation type for this Payment Request (Invoice Confirmation, for example). Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The value for the Shipping Amount header field."
        },
        "TaxAmount": {
          "type": "string",
          "description": "The value for the Tax Amount header field."
        },
        "VatAmountFour": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Fourth of four VAT amount fields available."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. First of four VAT amount fields available."
        },
        "VatAmountThree": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Third of four VAT amount fields available."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Second of four VAT amount fields available."
        },
        "VatRateFour": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the fourth VAT amount field."
        },
        "VatRateOne": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the first VAT amount field."
        },
        "VatRateThree": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the third VAT amount field."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the second VAT amount field."
        },
        "VendorRemitToIdentifier": {
          "$ref": "#/definitions/VendorIdentifier"
        },
        "VendorShipFromAddressCode": {
          "type": "string",
          "description": "The code which identifies the location from which the vendor shipped items listed in the invoice."
        },
        "VendorTaxId": {
          "type": "string",
          "description": "The vendor tax ID."
        }
      }
    },
    "PaymentRequestPut": {
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the invoice, excluding VAT."
        },
        "BuyerCostCenter": {
          "type": "string",
          "description": "The company defined center responsible for the payment request."
        },
        "CheckNumber": {
          "type": "string",
          "description": "Check number of the payment made to the vendor."
        },
        "CompanyBillToAddressCode": {
          "type": "string",
          "description": "The code which identifies the company location to which the vendor billed the invoice."
        },
        "CompanyShipToAddressCode": {
          "type": "string",
          "description": "The code which identifies the company location to which the vendor shipped items listed in the invoice."
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the expense report currency. Examples: USD - US dollars; BRL - Brazilian real; CAD - Canadian dollar; CHF - Swiss franc; EUR - Euro; GBO - Pound sterling; HKD - Hong Kong dollar; INR - Indian rupee; MXN - Mexican peso; NOK - Norwegian krone; SEK - Swedish krona."
        },
        "Custom01": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom02": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom03": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom04": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom05": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom06": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom07": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom08": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom09": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom21": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom22": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom23": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "Custom24": {
          "type": "string",
          "description": "The details from the custom fields. These may not have data, depending on configuration."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "The delivery slip number associated with receiving receipt."
        },
        "Description": {
          "type": "string",
          "description": "User entered description of the payment request."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The discount from the supplier if the discount terms are met."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The NET discount terms with a supplier when discounts apply."
        },
        "DoCopyDown": {
          "type": "string",
          "description": "Use new request owner's employee copydown values in this request"
        },
        "DoCopyDownFromPO": {
          "type": "string",
          "description": "Use purchase order copydown values in this request"
        },
        "EmployeeEmailAddress": {
          "type": "string",
          "description": "The email address of the employee to whom the request should be assigned. Not evaluated if EmployeeLoginId or EmployeeId match an employee."
        },
        "EmployeeId": {
          "type": "string",
          "description": "The company ID of the employee to whom the request should be assigned. Has precedence over EmployeeEmail; not evaluated if EmployeeLoginId matches an employee."
        },
        "EmployeeLoginId": {
          "type": "string",
          "description": "The login ID of the employee to whom the request should be assigned. Has precedence over EmployeeId and EmployeeEmail."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "User-entered value representing the total invoice amount, used to calculate amount remaining on the line item page."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The date the vendor issued the invoice."
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "The invoice number from the vendor for the payment request."
        },
        "InvoiceReceivedDate": {
          "type": "string",
          "description": "The date on which the invoice was received."
        },
        "IsEmergencyCheckRun": {
          "type": "string",
          "description": "Is an emergency check run required. Format: Y/N."
        },
        "IsInvoiceConfirmed": {
          "type": "string",
          "description": "Indicates if the payment request invoice is confirmed or in a different status. Format: true/false."
        },
        "LineItems": {
          "$ref": "#/definitions/PaymentRequestLineItemPut"
        },
        "Name": {
          "type": "string",
          "description": "The payment request name."
        },
        "NotesToVendor": {
          "type": "string",
          "description": "Information from the customer to the vendor for special requests or handling for the ordered good or service."
        },
        "OB10BuyerId": {
          "type": "string",
          "description": "A unique buyer account on the OB10 network."
        },
        "OB10TransactionId": {
          "type": "string",
          "description": "Unique identifier for the PR transaction (generated by OB10)."
        },
        "OrgUnit01": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit02": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit03": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit04": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit05": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit06": {
          "type": "string",
          "description": "The details from the organization unit fields. These may not have data, depending on configuration."
        },
        "PaymentAdjustmentNotes": {
          "type": "string",
          "description": "Notes to the vendor regarding the amount paid (underpayment due to damages, for example)."
        },
        "PaymentAmount": {
          "type": "string",
          "description": "Represents the amount of the payment that will be/has been made for the Invoice."
        },
        "PaymentDueDate": {
          "type": "string",
          "description": "The date the vendor needs to be paid by."
        },
        "PaymentTermsDays": {
          "type": "string",
          "description": "This number, along with type of payment terms (example: NET), determine when the invoice is expected to be paid."
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The vendor provincial tax ID."
        },
        "PurchaseOrderId": {
          "type": "string",
          "description": "The ID of the purchase order to which the payment request should be matched."
        },
        "ReceiptConfirmationType": {
          "type": "string",
          "description": "A code which indicates the receipt confirmation type for this payment request (Invoice Confirmation, for example). Use \"GET /invoice/localizeddata\" to translate the code into text."
        },
        "RequestID": {
          "type": "string",
          "description": "The request ID of the payment request"
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The value for the shipping s amount header field."
        },
        "TaxAmount": {
          "type": "string",
          "description": "The value for the tax amount header field."
        },
        "VatAmountFour": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Fourth of four VAT amount fields available."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. First of four VAT amount fields available."
        },
        "VatAmountThree": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Third of four VAT amount fields available."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "The amount of VAT included in the invoice total. Second of four VAT amount fields available."
        },
        "VatRateFour": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the fourth VAT amount field."
        },
        "VatRateOne": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the first VAT amount field."
        },
        "VatRateThree": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the third VAT amount field."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "The VAT rate applied to the net invoice total. Should relate to the second VAT amount field."
        },
        "VendorRemitToIdentifier": {
          "$ref": "#/definitions/VendorIdentifier"
        },
        "VendorShipFromAddressCode": {
          "type": "string",
          "description": "The code which identifies the location from which the vendor shipped items listed in the invoice."
        },
        "VendorTaxId": {
          "type": "string",
          "description": "The vendor tax ID."
        }
      }
    },
    "VendorAddress": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Line 1 of the street address."
        },
        "Address2": {
          "type": "string",
          "description": "Line 2 of the street address"
        },
        "Address3": {
          "type": "string",
          "description": "Line 3 of the street address"
        },
        "City": {
          "type": "string",
          "description": "The name of the city."
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The NET discount terms with a supplier when discounts apply."
        },
        "Name": {
          "type": "string",
          "description": "The name of the vendor."
        },
        "PostalCode": {
          "type": "string",
          "description": "The postal / zip code."
        },
        "State": {
          "type": "string",
          "description": "The state code."
        }
      }
    },
    "VendorIdentifier": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Line 1 of the street address."
        },
        "AddressCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor location."
        },
        "Name": {
          "type": "string",
          "description": "The name of the vendor."
        },
        "PostalCode": {
          "type": "string",
          "description": "The postal / zip code."
        },
        "VendorCode": {
          "type": "string",
          "description": "The code which identifies a particular vendor."
        }
      }
    },
    "Void": {
      "properties": {}
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "Concur API EndPoint"
    }
  ]
}
