{
  "x-sap-shortText": "Manages your purchase orders and purchase order related data.",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Purchase Orders",
    "description": "In Concur Invoice, purchase orders are requests for a vendor to supply goods or services. This API provides methods to create a new purchase order, or view or update an existing purchase order.",
    "version": "3.0"
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/invoice/purchaseorders": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a purchase order",
        "description": "Creates a purchase order and returns the status of the creation request.",
        "parameters": [
          {
            "name": "purchaseOrder",
            "in": "body",
            "description": "The details of the purchase order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update a purchase order.",
        "description": "Updates the specified purchase order and returns the status of the update request.",
        "parameters": [
          {
            "name": "purchaseOrder",
            "in": "body",
            "description": "The details of the purchase order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    },
    "/invoice/purchaseorders/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a purchase order.",
        "description": "Retrieves information about the specified purchase order.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier for the purchase order.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Allocation": {
      "required": [
        "Amount"
      ],
      "properties": {
        "Amount": {
          "type": "string",
          "description": "Required. The total amount of the allocation."
        },
        "Custom1": {
          "type": "string",
          "description": "A value that can be applied to a custom field 1 that is part of the allocation form."
        },
        "Custom10": {
          "type": "string",
          "description": "A value that can be applied to a custom field 10 that is part of the allocation form."
        },
        "Custom11": {
          "type": "string",
          "description": "A value that can be applied to a custom field 11 that is part of the allocation form."
        },
        "Custom12": {
          "type": "string",
          "description": "A value that can be applied to a custom field 12 that is part of the allocation form."
        },
        "Custom13": {
          "type": "string",
          "description": "A value that can be applied to a custom field 13 that is part of the allocation form."
        },
        "Custom14": {
          "type": "string",
          "description": "A value that can be applied to a custom field 14 that is part of the allocation form."
        },
        "Custom15": {
          "type": "string",
          "description": "A value that can be applied to a custom field 15 that is part of the allocation form."
        },
        "Custom16": {
          "type": "string",
          "description": "A value that can be applied to a custom field 16 that is part of the allocation form."
        },
        "Custom17": {
          "type": "string",
          "description": "A value that can be applied to a custom field 17 that is part of the allocation form."
        },
        "Custom18": {
          "type": "string",
          "description": "A value that can be applied to a custom field 18 that is part of the allocation form."
        },
        "Custom19": {
          "type": "string",
          "description": "A value that can be applied to a custom field 19 that is part of the allocation form."
        },
        "Custom2": {
          "type": "string",
          "description": "A value that can be applied to a custom field 2 that is part of the allocation form."
        },
        "Custom20": {
          "type": "string",
          "description": "A value that can be applied to a custom field 20 that is part of the allocation form."
        },
        "Custom3": {
          "type": "string",
          "description": "A value that can be applied to a custom field 3 that is part of the allocation form."
        },
        "Custom4": {
          "type": "string",
          "description": "A value that can be applied to a custom field 4 that is part of the allocation form."
        },
        "Custom5": {
          "type": "string",
          "description": "A value that can be applied to a custom field 5 that is part of the allocation form."
        },
        "Custom6": {
          "type": "string",
          "description": "A value that can be applied to a custom field 6 that is part of the allocation form."
        },
        "Custom7": {
          "type": "string",
          "description": "A value that can be applied to a custom field 7 that is part of the allocation form."
        },
        "Custom8": {
          "type": "string",
          "description": "A value that can be applied to a custom field 8 that is part of the allocation form."
        },
        "Custom9": {
          "type": "string",
          "description": "A value that can be applied to a custom field 9 that is part of the allocation form."
        },
        "GrossAmount": {
          "type": "string",
          "description": "Required. The allocation gross amount."
        },
        "Percentage": {
          "type": "string",
          "description": "Required. The allocation percentage."
        }
      }
    },
    "BillToAddress": {
      "required": [
        "Address1",
        "City",
        "CountryCode",
        "ExternalID",
        "PostalCode"
      ],
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Required. Address line 1 of the shipping or billing address."
        },
        "Address2": {
          "type": "string",
          "description": "Address line 2 of the shipping or billing address."
        },
        "Address3": {
          "type": "string",
          "description": "Address line 3 of the shipping or billing address."
        },
        "City": {
          "type": "string",
          "description": "Required. The city of the shipping or billing address."
        },
        "CountryCode": {
          "type": "string",
          "description": "Required. The code of the country for the shipping or billing address."
        },
        "ExternalID": {
          "type": "string",
          "description": "Required. A unique value supplied by the customer to identify a particular shipping or billing address."
        },
        "Name": {
          "type": "string",
          "description": "An optional name that can be given to the shipping or billing address."
        },
        "PostalCode": {
          "type": "string",
          "description": "Required. The postal code of the shipping or billing address."
        },
        "State": {
          "type": "string",
          "description": "The state or province of the shipping or billing address."
        },
        "StateProvince": {
          "type": "string",
          "description": "Required. The state or province of the shipping or billing address."
        }
      }
    },
    "LineItem": {
      "required": [
        "LineNumber",
        "ExternalID",
        "Quantity",
        "UnitPrice"
      ],
      "properties": {
        "AccountCode": {
          "type": "string",
          "description": "The account code of the line item. A value must be supplied for either ExpenseType or AccountCode, but not both. This field is required if an ExpenseType value is not supplied."
        },
        "Allocation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Allocation"
          }
        },
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the line item (excluding VAT)."
        },
        "CreateDate": {
          "type": "string",
          "description": "The date the line item was created. Format: YYYY-MM-DD"
        },
        "Custom1": {
          "type": "string",
          "description": "A value that can be applied to a custom field 1 that is part of the purchase order line item form."
        },
        "Custom10": {
          "type": "string",
          "description": "A value that can be applied to a custom field 10 that is part of the purchase order line item form."
        },
        "Custom11": {
          "type": "string",
          "description": "A value that can be applied to a custom field 11 that is part of the purchase order line item form."
        },
        "Custom12": {
          "type": "string",
          "description": "A value that can be applied to a custom field 12 that is part of the purchase order line item form."
        },
        "Custom13": {
          "type": "string",
          "description": "A value that can be applied to a custom field 13 that is part of the purchase order line item form."
        },
        "Custom14": {
          "type": "string",
          "description": "A value that can be applied to a custom field 14 that is part of the purchase order line item form."
        },
        "Custom15": {
          "type": "string",
          "description": "A value that can be applied to a custom field 15 that is part of the purchase order line item form."
        },
        "Custom16": {
          "type": "string",
          "description": "A value that can be applied to a custom field 16 that is part of the purchase order line item form."
        },
        "Custom17": {
          "type": "string",
          "description": "A value that can be applied to a custom field 17 that is part of the purchase order line item form."
        },
        "Custom18": {
          "type": "string",
          "description": "A value that can be applied to a custom field 18 that is part of the purchase order line item form."
        },
        "Custom19": {
          "type": "string",
          "description": "A value that can be applied to a custom field 19 that is part of the purchase order line item form."
        },
        "Custom2": {
          "type": "string",
          "description": "A value that can be applied to a custom field 2 that is part of the purchase order line item form."
        },
        "Custom20": {
          "type": "string",
          "description": "A value that can be applied to a custom field 20 that is part of the purchase order line item form."
        },
        "Custom3": {
          "type": "string",
          "description": "A value that can be applied to a custom field 3 that is part of the purchase order line item form."
        },
        "Custom4": {
          "type": "string",
          "description": "A value that can be applied to a custom field 4 that is part of the purchase order line item form."
        },
        "Custom5": {
          "type": "string",
          "description": "A value that can be applied to a custom field 5 that is part of the purchase order line item form."
        },
        "Custom6": {
          "type": "string",
          "description": "A value that can be applied to a custom field 6 that is part of the purchase order line item form."
        },
        "Custom7": {
          "type": "string",
          "description": "A value that can be applied to a custom field 7 that is part of the purchase order line item form."
        },
        "Custom8": {
          "type": "string",
          "description": "A value that can be applied to a custom field 8 that is part of the purchase order line item form."
        },
        "Custom9": {
          "type": "string",
          "description": "A value that can be applied to a custom field 9 that is part of the purchase order line item form."
        },
        "Description": {
          "type": "string",
          "description": "A description of the line item."
        },
        "ExpenseType": {
          "type": "string",
          "description": "The expense type of the line item. A value must be supplied for either ExpenseType or AccountCode, but not both. This field is required if an AccountCode value is not supplied."
        },
        "ExternalID": {
          "type": "string",
          "description": "Required. A customer-supplied value that uniquely identifies the line item within the purchase order."
        },
        "IsReceiptRequired": {
          "type": "string",
          "description": "Indicates whether the line item requires a receipt. Format: true or false"
        },
        "LineNumber": {
          "type": "string",
          "description": "Required. The line item number within the purchase order."
        },
        "PurchaseOrderReceiptType": {
          "type": "string",
          "description": "Purchase order ReceiptType of the line item. Accepted values are QUANTITY_RECEIPT or NONE. If a value is not provided, it will default to NONE. If you are using Concur Receiving and need to enter Goods Receipts against the resulting PO lines use QUANTITY_RECEIPT. "
        },
        "Quantity": {
          "type": "string",
          "description": "Required. The quantity associated with the line item."
        },
        "RequestedBy": {
          "type": "string",
          "description": "The person who requests the goods in the line item of the purchase order."
        },
        "RequestedDeliveryDate": {
          "type": "string",
          "description": "The date the line item of the purchase order instructed the vendor to deliver the goods. Format: YYYY-MM-DD"
        },
        "SupplierPartID": {
          "type": "string",
          "description": "Any number that might help to identify the line item. This could be a value such as the vendor's part number or even the manufacturer number."
        },
        "Tax": {
          "type": "string",
          "description": "Any tax that is associated with the line item."
        },
        "UnitOfMeasureCode": {
          "type": "string",
          "description": "The unit of measure code of the line item."
        },
        "UnitPrice": {
          "type": "string",
          "description": "Required. The price of each item of the line item."
        },
        "VatAmount": {
          "type": "string",
          "description": "This field has not been implemented by purchase request yet. Any data in this field will be ignored."
        },
        "VatRate": {
          "type": "string",
          "description": "This field has not been implemented by purchase request yet. Any data in this field will be ignored."
        }
      }
    },
    "PurchaseOrder": {
      "required": [
        "BillToAddress",
        "LineItem",
        "PolicyExternalID",
        "ShipToAddress",
        "CurrencyCode",
        "OrderDate",
        "VendorAddressCode",
        "VendorCode"
      ],
      "properties": {
        "AmountWithoutVat": {
          "type": "string",
          "description": "The net amount of the purchase order, excluding VAT."
        },
        "BillToAddress": {
          "$ref": "#/definitions/BillToAddress"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "Required. The 3-letter ISO 4217 currency code of the currency that is associated with the purchase order."
        },
        "Custom1": {
          "type": "string",
          "description": "A value that can be applied to a custom field 1 that is part of the purchase order header form."
        },
        "Custom10": {
          "type": "string",
          "description": "A value that can be applied to a custom field 10 that is part of the purchase order header form."
        },
        "Custom11": {
          "type": "string",
          "description": "A value that can be applied to a custom field 11 that is part of the purchase order header form."
        },
        "Custom12": {
          "type": "string",
          "description": "A value that can be applied to a custom field 12 that is part of the purchase order header form."
        },
        "Custom13": {
          "type": "string",
          "description": "A value that can be applied to a custom field 13 that is part of the purchase order header form."
        },
        "Custom14": {
          "type": "string",
          "description": "A value that can be applied to a custom field 14 that is part of the purchase order header form."
        },
        "Custom15": {
          "type": "string",
          "description": "A value that can be applied to a custom field 15 that is part of the purchase order header form."
        },
        "Custom16": {
          "type": "string",
          "description": "A value that can be applied to a custom field 16 that is part of the purchase order header form."
        },
        "Custom17": {
          "type": "string",
          "description": "A value that can be applied to a custom field 17 that is part of the purchase order header form."
        },
        "Custom18": {
          "type": "string",
          "description": "A value that can be applied to a custom field 18 that is part of the purchase order header form."
        },
        "Custom19": {
          "type": "string",
          "description": "A value that can be applied to a custom field 19 that is part of the purchase order header form."
        },
        "Custom2": {
          "type": "string",
          "description": "A value that can be applied to a custom field 2 that is part of the purchase order header form."
        },
        "Custom20": {
          "type": "string",
          "description": "A value that can be applied to a custom field 20 that is part of the purchase order header form."
        },
        "Custom21": {
          "type": "string",
          "description": "A value that can be applied to a custom field 21 that is part of the purchase order header form."
        },
        "Custom22": {
          "type": "string",
          "description": "A value that can be applied to a custom field 22 that is part of the purchase order header form."
        },
        "Custom23": {
          "type": "string",
          "description": "A value that can be applied to a custom field 23 that is part of the purchase order header form."
        },
        "Custom24": {
          "type": "string",
          "description": "A value that can be applied to a custom field 24 that is part of the purchase order header form."
        },
        "Custom3": {
          "type": "string",
          "description": "A value that can be applied to a custom field 3 that is part of the purchase order header form."
        },
        "Custom4": {
          "type": "string",
          "description": "A value that can be applied to a custom field 4 that is part of the purchase order header form."
        },
        "Custom5": {
          "type": "string",
          "description": "A value that can be applied to a custom field 5 that is part of the purchase order header form."
        },
        "Custom6": {
          "type": "string",
          "description": "A value that can be applied to a custom field 6 that is part of the purchase order header form."
        },
        "Custom7": {
          "type": "string",
          "description": "A value that can be applied to a custom field 7 that is part of the purchase order header form."
        },
        "Custom8": {
          "type": "string",
          "description": "A value that can be applied to a custom field 8 that is part of the purchase order header form."
        },
        "Custom9": {
          "type": "string",
          "description": "A value that can be applied to a custom field 9 that is part of the purchase order header form."
        },
        "Description": {
          "type": "string",
          "description": "A description of the purchase order."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "The discount from the vendor, if the discount terms are met."
        },
        "DiscountTerms": {
          "type": "string",
          "description": "The net discount terms that the vendor offers, when discounts apply."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsTest": {
          "type": "boolean",
          "description": "If the purchase order is a test."
        },
        "IsChangeOrder": {
          "type": "boolean",
          "description": "If the purchase order has a change order or not."
        },
        "LedgerCode": {
          "type": "string",
          "description": "A code which indicates which company journal the Purchase Order is assigned to. Use \"GET /purchase order/localizeddata\" to translate the code into text."
        },
        "LineItem": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "Name": {
          "type": "string",
          "description": "Required. A name for the purchase order."
        },
        "NeededByDate": {
          "type": "string",
          "description": "The date by which the purchase order must be fulfilled. Format: YYYY-MM-DD"
        },
        "OrderDate": {
          "type": "string",
          "description": "Required. The date when goods were ordered. Format: YYYY-MM-DD"
        },
        "PaymentTerms": {
          "type": "string",
          "description": "The net payment terms that have been set up with a vendor."
        },
        "PolicyExternalID": {
          "type": "string",
          "description": "Required. The external identifier of the policy that should be associated with the purchase order. The external Id is a property of the policy configuration screen. Clients will need to get these ID’s from the Implementation team if using professional version. For standard version the value is always 'PO'"
        },
        "PoVendorTaxId": {
          "type": "string",
          "description": "The vendor tax ID"
        },
        "ProvincialTaxId": {
          "type": "string",
          "description": "The vendor provincial tax ID."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The purchase order number."
        },
        "PurchaseRequestNumber": {
          "type": "string",
          "description": "The related purchase request number that generated the purchase order."
        },
        "ReceiptType": {
          "type": "string",
          "description": "Deprecated, use the PurchaseOrderReceiptType at line item level instead."
        },
        "RequestedBy": {
          "type": "string",
          "description": "The person who requests the goods in the purchase order."
        },
        "RequestedDeliveryDate": {
          "type": "string",
          "description": "The date the purchase order instructed the vendor to deliver the goods. Format YYYY-MM-DD"
        },
        "Shipping": {
          "type": "string",
          "description": "The total shipping cost for the purchase order."
        },
        "ShippingDescription": {
          "type": "string",
          "description": "A description of how the goods in the purchase order will ship. For example, via FedEx."
        },
        "ShippingMethodKey": {
          "type": "string",
          "description": "A code that represents the shipping method used by the vendor. Maximum length: 10 characters"
        },
        "ShippingTermsKey": {
          "type": "string",
          "description": "A code that represents the shipping terms that the vendor offers. Maximum length: 10 characters"
        },
        "ShipToAddress": {
          "$ref": "#/definitions/ShipToAddress"
        },
        "Status": {
          "type": "string",
          "description": "The current status of the purchase order. Status should be either Closed or Transmitted. If a value is not provided, it will default to Transmitted."
        },
        "Tax": {
          "type": "string",
          "description": "The total tax for the purchase order."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "VatAmountOne": {
          "type": "string",
          "description": "This field has not been implemented by Purchase Request yet. Any data in this field will be ignored."
        },
        "VatAmountTwo": {
          "type": "string",
          "description": "This field has not been implemented by Purchase Request yet. Any data in this field will be ignored."
        },
        "VatRateOne": {
          "type": "string",
          "description": "This field has not been implemented by Purchase Request yet. Any data in this field will be ignored."
        },
        "VatRateTwo": {
          "type": "string",
          "description": "This field has not been implemented by Purchase Request yet. Any data in this field will be ignored."
        },
        "VendorAccountNumber": {
          "type": "string",
          "description": "The vendor account number."
        },
        "VendorAddressCode": {
          "type": "string",
          "description": "Required. The code that identifies the vendor's remit address for the purchase order."
        },
        "VendorCode": {
          "type": "string",
          "description": "Required. The code that identifies the vendor for the purchase order."
        }
      }
    },
    "PurchaseOrderResult": {
      "properties": {
        "ErrorCode": {
          "type": "string",
          "description": "A code that indicates why the purchase order was not processed successfully."
        },
        "ErrorMessage": {
          "type": "string",
          "description": "A description of the error."
        },
        "FieldCode": {
          "type": "string",
          "description": "A code that indicates which field caused an issue. This code typically appears only when a field is being validated against a field of a form type. Format: LEVEL|CODE. The possible levels are: Header, ShipTo, BillTo, LineItem, Allocation."
        },
        "LineItemExternalID": {
          "type": "string",
          "description": "The external ID of a line item that caused an error. If the error is related to an allocation, this field indicates the external ID of the line item that the allocation is associated with, and also indicates the allocation that caused of the error."
        },
        "Message": {
          "type": "string",
          "description": "Message of request result."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The purchase order number."
        },
        "Status": {
          "type": "string",
          "description": "The result of processing the purchase order. Format: SUCCESS or FAILURE"
        }
      }
    },
    "ShipToAddress": {
      "required": [
        "Address1",
        "City",
        "CountryCode",
        "ExternalID",
        "PostalCode"
      ],
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Required. Address line 1 of the shipping or billing address."
        },
        "Address2": {
          "type": "string",
          "description": "Address line 2 of the shipping or billing address."
        },
        "Address3": {
          "type": "string",
          "description": "Address line 3 of the shipping or billing address."
        },
        "City": {
          "type": "string",
          "description": "Required. The city of the shipping or billing address."
        },
        "CountryCode": {
          "type": "string",
          "description": "Required. The code of the country for the shipping or billing address."
        },
        "ExternalID": {
          "type": "string",
          "description": "Required. A unique value supplied by the customer to identify a particular shipping or billing address."
        },
        "Name": {
          "type": "string",
          "description": "An optional name that can be given to the shipping or billing address."
        },
        "PostalCode": {
          "type": "string",
          "description": "Required. The postal code of the shipping or billing address."
        },
        "State": {
          "type": "string",
          "description": "The state or province of the shipping or billing address."
        },
        "StateProvince": {
          "type": "string",
          "description": "Required. The state or province of the shipping or billing address."
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
