{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Purchase Order Receipts",
    "description": "Purchase order receipts are records that the purchase order was completed. This API provides methods to create a new purchase order receipt, view or update an existing purchase order receipt, or delete a purchase order receipt.",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/invoice/purchaseorderreceipts": {
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Updates purchase order receipts that are already in the system.",
        "description": "Updates purchase order receipts that are already in the system and returns status of the update.",
        "parameters": [
          {
            "name": "purchaseOrderReceipt",
            "in": "body",
            "description": "Purchase order receipt information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrderReceipt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderReceiptResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create purchase order receiving information for a purchase order line item.",
        "description": "Creates purchase order receipts and associate if to purchase order line item and returns status of updation.",
        "parameters": [
          {
            "name": "purchaseOrderReceipt",
            "in": "body",
            "description": "Purchase order receipt information that needs to be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrderReceipt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderReceiptResult"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Gets existing purchase order receipts information.",
        "description": "Gets existing purchase order receipts using below parameters.",
        "parameters": [
          {
            "name": "goodsReceiptNumber",
            "in": "query",
            "description": "Goods receipt number for a purchase order line item receipt. This parameter can be used alone or in combination with the other two parameters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "purchaseOrderNumber",
            "in": "query",
            "description": "The purchase order number. This parameter can be used alone or in combination with the other two parameters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemExternalID",
            "in": "query",
            "description": "A value that uniquely identifies the line item within the purchase order. This parameter cannot be used alone. It must be used in combination with one or more of the other available parameters.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReceiptsCollection"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Deletes a purchase order line item receipt.",
        "description": "Deletes a existing purchase order line item receipt using the available parameters below. The delete will only be executed if a unique record is found and not associated to a payment request.",
        "parameters": [
          {
            "name": "goodsReceiptNumber",
            "in": "query",
            "description": "Goods receipt number for a purchase order line item receipt. This parameter can be used alone or in combination with the other two parameters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "purchaseOrderNumber",
            "in": "query",
            "description": "The purchase order number. This parameter can be used alone or in combination with the other two parameters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemExternalID",
            "in": "query",
            "description": "A value that uniquely identifies the line item within the purchase order. This parameter cannot be used alone. It must be used in combination with one or more of the other available parameters.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PurchaseOrderReceipt": {
      "required":["LineItemExternalID","PurchaseOrderNumber"],
      "properties": {
        "Custom1": {
          "type": "string",
          "description": "Custom 1 value for purchase order line item receipt."
        },
        "Custom10": {
          "type": "string",
          "description": "Custom 10 value for purchase order line item receipt."
        },
        "Custom2": {
          "type": "string",
          "description": "Custom 2 value for purchase order line item receipt."
        },
        "Custom3": {
          "type": "string",
          "description": "Custom 3 value for purchase order line item receipt."
        },
        "Custom4": {
          "type": "string",
          "description": "Custom 4 value for purchase order line item receipt."
        },
        "Custom5": {
          "type": "string",
          "description": "Custom 5 value for purchase order line item receipt."
        },
        "Custom6": {
          "type": "string",
          "description": "Custom 6 value for purchase order line item receipt."
        },
        "Custom7": {
          "type": "string",
          "description": "Custom 7 value for purchase order line item receipt."
        },
        "Custom8": {
          "type": "string",
          "description": "Custom 8 value for purchase order line item receipt."
        },
        "Custom9": {
          "type": "string",
          "description": "Custom 9 value for purchase order line item receipt."
        },
        "Deleted": {
          "type": "string",
          "description": "Delete status of purchase order line item receipt."
        },
        "DeliverySlipNumber": {
          "type": "string",
          "description": "Delivery slip number for a purchase order line item receipt."
        },
        "GoodsReceiptNumber": {
          "type": "string",
          "description": "Goods receipt number for a purchase order line item receipt. This field is Required for V2 Version when using Concur Receiving."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "LineItemExternalID": {
          "type": "string",
          "description": "A customer-supplied value that uniquely identifies the line item within the purchase order."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The purchase order number."
        },
        "ReceivedDate": {
          "type": "string",
          "description": "The date the line item was received. Format: YYYY-MM-DD"
        },
        "ReceivedQuantity": {
          "type": "string",
          "description": "The number of items that were received."
        },
        "UnitOfMeasureCode": {
          "type": "string",
          "description": "Unit of measure code for a purchase order line item receipt."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "Version": {
          "type": "string",
          "description": "The version of purchase order line item receipt. Use Version 2.0 here unless doing receipt confirmation only."
        }
      }
    },
    "PurchaseOrderReceiptResult": {
      "properties": {
        "ErrorCode": {
          "type": "string",
          "description": "A code that indicates why the purchase order receipt was not processed successfully."
        },
        "ErrorMessage": {
          "type": "string",
          "description": "A description of the error."
        },
        "FieldCode": {
          "type": "string",
          "description": "A code that indicates which field caused an issue."
        },
        "LineItemExternalID": {
          "type": "string",
          "description": "The external ID of a line item that caused an error."
        },
        "Message": {
          "type": "string",
          "description": "Message of request result."
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The purchase order number."
        },
        "Status": {
          "type": "string",
          "description": "The result of processing the purchase order receipt. Format: SUCCESS or FAILURE"
        }
      }
    },
    "ReceiptsCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/PurchaseOrderReceipt"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any"
        },
        "TotalCount": {
          "description": "Total number of receipts",
          "type": "integer",
          "format": "int32"
        },
        "Info": {
          "description": "Any additional information messages",
          "type": "string"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
