{
  "x-sap-shortText": "Manage sales tax information on invoices.",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Sales Tax Validation Request",
    "description": "An invoice is a bill of sale for goods or services. This API provides invoice information so that clients can calculate appropriate sales tax for invoice items. It also allows clients to update the invoice with the calculated sales tax.",
    "version": "3.0"
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/invoice/salestaxvalidationrequest": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get invoices",
        "description": "Gets invoices for the purpose of calculating sales tax.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of invoices to retrieve. Maximum value: 1000",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modifiedafter",
            "in": "query",
            "description": "A parameter that can be used to limit the results to invoices modified after the specified date.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceGetCollection"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update invoices with the calculated tax information",
        "description": "Updates the specified invoices with the calculated tax amount and tax rate.",
        "parameters": [
          {
            "name": "invoice",
            "in": "body",
            "description": "The tax information for the invoice that is to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceStatus"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BillToAddress": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Address line 1 of the shipping or billing address."
        },
        "Address2": {
          "type": "string",
          "description": "Address line 2 of the shipping or billing address."
        },
        "Address3": {
          "type": "string",
          "description": "Address line 3 of the shipping or billing address."
        },
        "City": {
          "type": "string",
          "description": "The city of the shipping or billing address."
        },
        "CountryCode": {
          "type": "string",
          "description": "The code of the country for the shipping or billing address."
        },
        "ExternalID": {
          "type": "string",
          "description": "A unique value supplied by the customer to identify a particular shipping or billing address."
        },
        "Name": {
          "type": "string",
          "description": "An optional name that can be given to the shipping or billing address."
        },
        "PostalCode": {
          "type": "string",
          "description": "The postal code of the shipping or billing address."
        },
        "State": {
          "type": "string",
          "description": "The state or province of the shipping or billing address."
        },
        "StateProvince": {
          "type": "string",
          "description": "The state or province of the shipping or billing address."
        }
      }
    },
    "Invoice": {
      "properties": {
        "CalculatedTaxAmount": {
          "type": "string",
          "description": "The calculated tax amount for the invoice."
        },
        "CalculatedTaxRate": {
          "type": "string",
          "description": "The calculated tax rate for the invoice."
        },
        "Comments": {
          "type": "string",
          "description": "Comments for the invoice."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "LineItem": {
          "$ref": "#/definitions/InvoiceLineItemPut"
        },
        "Status": {
          "type": "string",
          "description": "The status of the invoice."
        },
        "StatusCode": {
          "type": "string",
          "description": "The status code that indicates the outcome of tax validation. Supported values: ERROR, CMPLT"
        },
        "TaxReferenceID": {
          "type": "string",
          "description": "The tax reference ID of the invoice."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "InvoiceGet": {
      "properties": {
        "BillToAddress": {
          "$ref": "#/definitions/BillToAddress"
        },
        "CalculatedTaxAmount": {
          "type": "string",
          "description": "The calculated tax amount for the invoice."
        },
        "CalculatedTaxRate": {
          "type": "string",
          "description": "The calculated tax rate for the invoice."
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code for the line item."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the invoice currency. For example, USD or CAD."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "InvoiceAmount": {
          "type": "string",
          "description": "The invoice amount (the cost of the purchased items)."
        },
        "InvoiceDate": {
          "type": "string",
          "description": "The invoice date."
        },
        "LineItem": {
          "$ref": "#/definitions/InvoiceLineItem"
        },
        "PurchaseOrderNumber": {
          "type": "string",
          "description": "The purchase order number for the purchase order associated with the invoice."
        },
        "RequestID": {
          "type": "string",
          "description": "The request ID of the payment request"
        },
        "ShippingAmount": {
          "type": "string",
          "description": "The shipping amount for the invoice."
        },
        "ShipToAddress": {
          "$ref": "#/definitions/ShipToAddress"
        },
        "Status": {
          "type": "string",
          "description": "The status of the invoice."
        },
        "StatusCode": {
          "type": "string",
          "description": "The status code that indicates the outcome of tax validation. Supported values: ERROR, CMPLT"
        },
        "Tax": {
          "type": "string",
          "description": "The tax as shown on the invoice. This is the tax applied by the vendor."
        },
        "TaxReferenceID": {
          "type": "string",
          "description": "The tax reference ID of the invoice."
        },
        "Title": {
          "type": "string",
          "description": "The title of the invoice."
        },
        "Total": {
          "type": "string",
          "description": "The total amount of the request."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "VendorInvoiceNumber": {
          "type": "string",
          "description": "The vendor invoice number that is associated with the invoice."
        }
      }
    },
    "InvoiceGetCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/InvoiceGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "TotalCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "InvoiceLineItem": {
      "properties": {
        "CalculatedTaxAmount": {
          "type": "string",
          "description": "The calculated tax amount for the individual line item."
        },
        "CalculatedTaxRate": {
          "type": "string",
          "description": "The calculated tax rate for the individual line item."
        },
        "CommodityCode": {
          "type": "string",
          "description": "The commodity code that is tied to the expense type associated with the line item."
        },
        "CountryCode": {
          "type": "string",
          "description": "The country code for the line item."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The currency code for the individual line item."
        },
        "LineItemKey": {
          "type": "string",
          "description": "A value that uniquely identifies the line item."
        },
        "Quantity": {
          "type": "string",
          "description": "The quantity for the line item."
        },
        "Total": {
          "type": "string",
          "description": "The total amount for the line item."
        },
        "UnitPrice": {
          "type": "string",
          "description": "The unit price for the line item."
        },
        "Vendor": {
          "$ref": "#/definitions/InvoiceVendor"
        }
      }
    },
    "InvoiceLineItemPut": {
      "properties": {
        "CalculatedTaxAmount": {
          "type": "string",
          "description": "The calculated tax amount for the individual line item."
        },
        "CalculatedTaxRate": {
          "type": "string",
          "description": "The calculated tax rate for the individual line item."
        },
        "LineItemKey": {
          "type": "string",
          "description": "A value that uniquely identifies the line item."
        }
      }
    },
    "InvoiceStatus": {
      "properties": {
        "Code": {
          "type": "integer",
          "format": "int32",
          "description": "Code of request result"
        },
        "Comments": {
          "type": "string",
          "description": "Comments that are returned for the update request."
        },
        "Message": {
          "type": "string",
          "description": "Message of request result"
        },
        "RecordNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Record Number for create/update request."
        },
        "Status": {
          "type": "string",
          "description": "The status of the update. Supported values: SUCCESS, FAILURE"
        },
        "TaxReferenceID": {
          "type": "string",
          "description": "The tax reference ID of the updated invoice."
        },
        "Type": {
          "type": "string",
          "description": "Type request result"
        }
      }
    },
    "InvoiceVendor": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "The Vendor Address 1."
        },
        "Address2": {
          "type": "string",
          "description": "The Vendor Address 2."
        },
        "Address3": {
          "type": "string",
          "description": "The Vendor Address 3."
        },
        "City": {
          "type": "string",
          "description": "The Vendor City."
        },
        "CountryCode": {
          "type": "string",
          "description": "The Vendor Country Code."
        },
        "PostalCode": {
          "type": "string",
          "description": "The Vendor Postal Code / Zip."
        },
        "State": {
          "type": "string",
          "description": "The Vendor State."
        },
        "VendorAddressName": {
          "type": "string",
          "description": "Name for Vendor Address."
        },
        "VendorName": {
          "type": "string",
          "description": "The name of the vendor."
        }
      }
    },
    "ShipToAddress": {
      "properties": {
        "Address1": {
          "type": "string",
          "description": "Address line 1 of the shipping or billing address."
        },
        "Address2": {
          "type": "string",
          "description": "Address line 2 of the shipping or billing address."
        },
        "Address3": {
          "type": "string",
          "description": "Address line 3 of the shipping or billing address."
        },
        "City": {
          "type": "string",
          "description": "The city of the shipping or billing address."
        },
        "CountryCode": {
          "type": "string",
          "description": "The code of the country for the shipping or billing address."
        },
        "ExternalID": {
          "type": "string",
          "description": "A unique value supplied by the customer to identify a particular shipping or billing address."
        },
        "Name": {
          "type": "string",
          "description": "An optional name that can be given to the shipping or billing address."
        },
        "PostalCode": {
          "type": "string",
          "description": "The postal code of the shipping or billing address."
        },
        "State": {
          "type": "string",
          "description": "The state or province of the shipping or billing address."
        },
        "StateProvince": {
          "type": "string",
          "description": "The state or province of the shipping or billing address."
        }
      }
    },
    "Void": {
  "properties": {}
}
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "Concur API EndPoint"
    }
  ]
}
