{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Attendees",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/expense/attendees": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get all attendees",
        "description": "Gets all attendees owned by the specified user.",
        "parameters": [
          {
            "name": "externalID",
            "in": "query",
            "description": "The external ID of an attendee. By entering a value for this parameter, you can limit the results to the attendees who match the specified external ID. Up to 10 comma-separated external IDs may be specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "attendeeTypeID",
            "in": "query",
            "description": "The ID of an attendee type. By entering a value for this parameter, you can limit the results to the attendees who match the specified type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. Default value: 25",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user that has added the attendee to an expense. The user who is performing this API request must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AttendeeCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a new attendee",
        "description": "Creates a new attendee.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "The Attendee object to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttendeePost"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user that has added the attendee to an expense. The user who is performing this API request must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/expense/attendees/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a single attendee by ID",
        "description": "Gets a single attendee by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The attendee ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user that has added the attendee to an expense. The user who is performing this API request must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AttendeeGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update an attendee by ID",
        "description": "Updates the specified attendee. Only the fields provided in the supplied object are updated. Missing fields are not altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The attendee ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The partial or complete Attendee object to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttendeePut"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user that has added the attendee to an expense. The user who is performing this API request must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete an attendee by ID",
        "description": "Deletes the specified attendee.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attendee to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user that has added the attendee to an expense. The user who is performing this API request must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AttendeeCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/AttendeeGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "AttendeeGet": {
      "properties": {
        "AttendeeTypeCode": {
          "type": "string",
          "description": "A code that indicates the type of attendee. Examples: EMPLOYEE, SPOUSE, BUSGUEST. Maximum length: 40 characters"
        },
        "AttendeeTypeID": {
          "type": "string",
          "description": "The ID of the attendee type. To obtain the attendee type ID value, use the <a target=\"_blank\" href=\"https://www.concursolutions.com/api/docs/index.html#!/AttendeeTypes/Get_offset_limit_get_0\">GET /expense/attendeetypes</a> endpoint. The value of the ID element in the response is the attendee type ID. "
        },
        "Company": {
          "type": "string",
          "description": "The name of the attendee's company. Maximum length: 150 characters"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for monetary amounts related to an attendee."
        },
        "Custom1": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom10": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom11": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom12": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom13": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom14": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom15": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom16": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom17": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom18": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom19": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom2": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom20": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom21": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom22": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom23": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom24": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom25": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom3": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom4": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom5": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom6": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom7": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom8": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom9": {
          "$ref": "#/definitions/CustomField"
        },
        "ExternalID": {
          "type": "string",
          "description": "A unique identifier for the attendee, assigned outside of Concur. Maximum length: 48 characters"
        },
        "FirstName": {
          "type": "string",
          "description": "The attendee's first name. Maximum length: 50 characters"
        },
        "HasExceptionsPrevYear": {
          "type": "boolean",
          "description": "Determines whether the attendee had exceptions in the previous year, based on yearly total limits for attendees. Format: true or false"
        },
        "HasExceptionsYTD": {
          "type": "boolean",
          "description": "Determines whether the attendee has exceptions in the current year, based on yearly total limits for attendees. Format: true or false"
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "LastName": {
          "type": "string",
          "description": "The attendee's last name. Maximum length: 132 characters"
        },
        "MiddleInitial": {
          "type": "string",
          "description": "The attendee's middle initial. Maximum length: 1 character"
        },
        "OwnerLoginID": {
          "type": "string",
          "description": "The login ID of the user who owns the attendee record."
        },
        "OwnerName": {
          "type": "string",
          "description": "The name of the user who owns the attendee record."
        },
        "Suffix": {
          "type": "string",
          "description": "The attendee's name suffix. Maximum length: 32 characters"
        },
        "Title": {
          "type": "string",
          "description": "The attendee's title. Maximum length: 32 characters"
        },
        "TotalAmountPrevYear": {
          "type": "number",
          "format": "double",
          "description": "The total amount spent on the attendee in the previous calendar year."
        },
        "TotalAmountYTD": {
          "type": "number",
          "format": "double",
          "description": "The total amount spent on the attendee in the current calendar year."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "VersionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The attendee's version number."
        }
      }
    },
    "AttendeePost": {
      "properties": {
        "AttendeeTypeID": {
          "type": "string",
          "description": "The ID of the attendee type. To obtain the attendee type ID value, use the <a target=\"_blank\" href=\"https://www.concursolutions.com/api/docs/index.html#!/AttendeeTypes/Get_offset_limit_get_0\">GET /expense/attendeetypes</a> endpoint. The value of the ID element in the response is the attendee type ID. "
        },
        "Company": {
          "type": "string",
          "description": "The name of the attendee's company. Maximum length: 150 characters"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for monetary amounts related to an attendee."
        },
        "Custom1": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom10": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom11": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom12": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom13": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom14": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom15": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom16": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom17": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom18": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom19": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom2": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom20": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom21": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom22": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom23": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom24": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom25": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom3": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom4": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom5": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom6": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom7": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom8": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom9": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "ExternalID": {
          "type": "string",
          "description": "A unique identifier for the attendee, assigned outside of Concur. Maximum length: 48 characters"
        },
        "FirstName": {
          "type": "string",
          "description": "The attendee's first name. Maximum length: 50 characters"
        },
        "LastName": {
          "type": "string",
          "description": "The attendee's last name. Maximum length: 132 characters"
        },
        "MiddleInitial": {
          "type": "string",
          "description": "The attendee's middle initial. Maximum length: 1 character"
        },
        "Suffix": {
          "type": "string",
          "description": "The attendee's name suffix. Maximum length: 32 characters"
        },
        "Title": {
          "type": "string",
          "description": "The attendee's title. Maximum length: 32 characters"
        },
        "TotalAmountYTD": {
          "type": "number",
          "format": "double",
          "description": "The total amount spent on the attendee in the current calendar year."
        }
      }
    },
    "AttendeePut": {
      "properties": {
        "AttendeeTypeID": {
          "type": "string",
          "description": "The ID of the attendee type. To obtain the attendee type ID value, use the <a target=\"_blank\" href=\"https://www.concursolutions.com/api/docs/index.html#!/AttendeeTypes/Get_offset_limit_get_0\">GET /expense/attendeetypes</a> endpoint. The value of the ID element in the response is the attendee type ID. "
        },
        "Company": {
          "type": "string",
          "description": "The name of the attendee's company. Maximum length: 150 characters"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\">3-letter ISO 4217 currency code</a> for monetary amounts related to an attendee."
        },
        "Custom1": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom10": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom11": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom12": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom13": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom14": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom15": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom16": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom17": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom18": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom19": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom2": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom20": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom21": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom22": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom23": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom24": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom25": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom3": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom4": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom5": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom6": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom7": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom8": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "Custom9": {
          "type": "string",
          "description": "A custom field associated with the attendee. This field may or may not have data, depending on how Expense is configured."
        },
        "ExternalID": {
          "type": "string",
          "description": "A unique identifier for the attendee, assigned outside of Concur. Maximum length: 48 characters"
        },
        "FirstName": {
          "type": "string",
          "description": "The attendee's first name. Maximum length: 50 characters"
        },
        "LastName": {
          "type": "string",
          "description": "The attendee's last name. Maximum length: 132 characters"
        },
        "MiddleInitial": {
          "type": "string",
          "description": "The attendee's middle initial. Maximum length: 1 character"
        },
        "Suffix": {
          "type": "string",
          "description": "The attendee's name suffix. Maximum length: 32 characters"
        },
        "Title": {
          "type": "string",
          "description": "The attendee's title. Maximum length: 32 characters"
        },
        "TotalAmountYTD": {
          "type": "number",
          "format": "double",
          "description": "The total amount spent on the attendee in the current calendar year."
        }
      }
    },
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The attendee's title. Maximum length: 32 characters"
        },
        "URI": {
          "type": "string",
          "description": "The attendee's title. Maximum length: 32 characters"
        }
      }
    },
    "CustomField": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "For list fields, this is the list item code."
        },
        "ListItemID": {
          "type": "string",
          "description": "For list fields, this is the list item ID."
        },
        "Type": {
          "type": "string",
          "description": "The custom field type. Possible values: Amount, Boolean, ConnectedList, Date, Integer, List, Number, Text"
        },
        "Value": {
          "type": "string",
          "description": "The value in the Org Unit or Custom field. For list fields, this is the name of the list item.  Maximum length: 48 characters"
        }
      }
    },
    "Decimal": {
      "properties": {}
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean",
          "description": "Determines whether the attendee has exceptions in the current year, based on yearly total limits for attendees. Format: true or false"
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
