{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "List Items",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/common/listitems": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Gets all listitems",
        "description": "Returns all list items based on the search criteria.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. The default is 25 and the maximum is 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The start of the page offset. The default is from the beginning.",
            "required": false,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "The unique identifier for the list this item is a member.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the listItem. Text Max length: 64.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "The unique identifier of this item's parent. Is empty when there is no parent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "level1Code",
            "in": "query",
            "description": "The item code for the first level of the list. All lists have at least a Level1Code. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level2Code",
            "in": "query",
            "description": "The item code for the second level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level3Code",
            "in": "query",
            "description": "The item code for the third level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level4Code",
            "in": "query",
            "description": "The item code for the fourth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level5Code",
            "in": "query",
            "description": "The item code for the fifth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level6Code",
            "in": "query",
            "description": "The item code for the sixth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level7Code",
            "in": "query",
            "description": "The item code for the seventh level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level8Code",
            "in": "query",
            "description": "The item code for the eighth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level9Code",
            "in": "query",
            "description": "The item code for the ninth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          },
          {
            "name": "level10Code",
            "in": "query",
            "description": "The item code for the tenth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListItemGetCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a new listitem",
        "description": "Create a new listitem",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "listitem object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListItemPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/common/listitems/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a single listitem by ID",
        "description": "Returns a listitem by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the listItem.",
            "required": true,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "The unique identifier for the list this item is a member.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListItemGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update listitem",
        "description": "Updates listitem specified in the URL.  Only the fields provided in the supplied object will be updated, missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the listItem.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The listitem object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListItemPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete listitem by ID",
        "description": "Deletes the specified listitem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the listitem to delete",
            "required": true,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "The unique identifier of the list associated with a listitem to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string"
        },
        "URI": {
          "type": "string"
        }
      }
    },
    "ListItemGet": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "Level10Code": {
          "type": "string",
          "description": "The item code for the tenth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level1Code": {
          "type": "string",
          "description": "The item code for the first level of the list. All lists have at least a Level1Code. Text maximum 32 characters"
        },
        "Level2Code": {
          "type": "string",
          "description": "The item code for the second level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level3Code": {
          "type": "string",
          "description": "The item code for the third level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level4Code": {
          "type": "string",
          "description": "The item code for the fourth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level5Code": {
          "type": "string",
          "description": "The item code for the fifth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level6Code": {
          "type": "string",
          "description": "The item code for the sixth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level7Code": {
          "type": "string",
          "description": "The item code for the seventh level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level8Code": {
          "type": "string",
          "description": "The item code for the eighth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level9Code": {
          "type": "string",
          "description": "The item code for the ninth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "ListID": {
          "type": "string",
          "description": "The unique identifier for the list this item is a member."
        },
        "Name": {
          "type": "string",
          "description": "The name of item. Text maximum 64 characters"
        },
        "ParentID": {
          "type": "string",
          "description": "The unique identifier of this item's parent. Is empty when there is no parent."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "ListItemGetCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ListItemGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "ListItemPost": {
      "properties": {
        "Level10Code": {
          "type": "string",
          "description": "The item code for the tenth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level1Code": {
          "type": "string",
          "description": "The item code for the first level of the list. All lists have at least a Level1Code. Text maximum 32 characters"
        },
        "Level2Code": {
          "type": "string",
          "description": "The item code for the second level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level3Code": {
          "type": "string",
          "description": "The item code for the third level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level4Code": {
          "type": "string",
          "description": "The item code for the fourth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level5Code": {
          "type": "string",
          "description": "The item code for the fifth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level6Code": {
          "type": "string",
          "description": "The item code for the sixth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level7Code": {
          "type": "string",
          "description": "The item code for the seventh level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level8Code": {
          "type": "string",
          "description": "The item code for the eighth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "Level9Code": {
          "type": "string",
          "description": "The item code for the ninth level of the list. Empty when this level doesn't exist in the list. Text maximum 32 characters"
        },
        "ListID": {
          "type": "string",
          "description": "The unique identifier for the list this item is a member."
        },
        "Name": {
          "type": "string",
          "description": "The name of item. Text maximum 64 characters"
        }
      }
    },
    "ListItemPut": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "The item code of the listitem. Text maximum 32 characters"
        },
        "ListID": {
          "type": "string",
          "description": "The unique identifier for the list this item is a member."
        },
        "Name": {
          "type": "string",
          "description": "The name of item. Text maximum 64 characters"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
