{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Lists",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/common/lists": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Gets all lists",
        "description": "Returns all lists based on the search criteria.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. The default is 25 and the maximum is 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The start of the page offset. The default is from the beginning.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListGetCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a new list",
        "description": "Create a new list",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "list object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/common/lists/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a single list by ID",
        "description": "Returns a list by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the list.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update list",
        "description": "Updates list specified in the URL.  Only the fields provided in the supplied object will be updated, missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the list.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The list object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string"
        },
        "URI": {
          "type": "string"
        }
      }
    },
    "ListGet": {
      "properties": {
        "ConnectorID": {
          "type": "string",
          "description": "Optional. Defines the encrypted ConnectorID. If not provided then the list isn't associated with a connector."
        },
        "DisplayCodeFirst": {
          "type": "boolean",
          "description": "Required. Defines whether CODE should appear before TEXT, or vice-versa."
        },
        "ExternalThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Default value is 1. Defines the threshold from where the level starts being external. This value can only be set if a ConnectorID is provided."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsVendorList": {
          "type": "boolean",
          "description": "Required. Defines whether it is a vendor list."
        },
        "Name": {
          "type": "string",
          "description": "Required. Defines a name for the list. This name must be unique."
        },
        "SearchCriteriaCode": {
          "type": "string",
          "description": "Required. Defines whether the search criteria should apply to the CODE or to the TEXT."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "ListGetCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ListGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "ListPost": {
      "properties": {
        "ConnectorID": {
          "type": "string",
          "description": "Optional. Defines the encrypted ConnectorID. If not provided then the list isn't associated with a connector."
        },
        "DisplayCodeFirst": {
          "type": "boolean",
          "description": "Required. Defines whether CODE should appear before TEXT, or vice-versa."
        },
        "ExternalThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Default value is 1. Defines the threshold from where the level starts being external. This value can only be set if a ConnectorID is provided."
        },
        "IsVendorList": {
          "type": "boolean",
          "description": "Required. Defines whether it is a vendor list."
        },
        "Name": {
          "type": "string",
          "description": "Required. Defines a name for the list. This name must be unique."
        },
        "SearchCriteriaCode": {
          "type": "string",
          "description": "Required. Defines whether the search criteria should apply to the CODE or to the TEXT."
        }
      }
    },
    "ListPut": {
      "properties": {
        "DisplayCodeFirst": {
          "type": "boolean",
          "description": "Optional. Defines whether CODE should appear before TEXT, or vice-versa."
        },
        "Name": {
          "type": "string",
          "description": "Optional. Defines a name for the list. This name must be unique."
        },
        "SearchCriteriaCode": {
          "type": "string",
          "description": "Optional. Defines whether the search criteria should apply to the CODE or to the TEXT."
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
