{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Quick Expenses",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/expense/quickexpenses": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Get all quick expenses",
        "description": "Returns all quick expenses owned by the user.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The start of the page offset.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return (default 25).",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/QuickExpenseCollection"
            }
          }
        }
      },
      "post": {
        "tags": [ "Resources" ],
        "summary": "Create a new quick expense",
        "description": "Creates a new quick expense.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "The quick expense object to be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuickExpensePost"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/expense/quickexpenses/{id}": {
      "get": {
        "tags": [ "Resources" ],
        "summary": "Get a single quick expense by ID",
        "description": "Returns a quick expenses by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the quick expense.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/QuickExpenseGet"
            }
          }
        }
      },
      "put": {
        "tags": [ "Resources" ],
        "summary": "Update a quick expense by ID",
        "description": "Updates the QuickExpense specified in the URL.  Only the fields provided in the supplied object will be updated, missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the quick expense.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "Partial or complete QuickExpense object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuickExpensePut"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "tags": [ "Resources" ],
        "summary": "Delete a quick expense by ID",
        "description": "Deletes the specified quick expense.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the quick expense to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "TEXT NEEDED"
        },
        "URI": {
          "type": "string",
          "description": "TEXT NEEDED"
        }
      }
    },
    "Decimal": {
      "properties": {}
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean"
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    },
    "QuickExpenseCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/QuickExpenseGet"
        },
        "NextPage": {
          "type": "string",
          "description": ""
        }
      }
    },
    "QuickExpenseGet": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "A comment that describes the expense. Max Length: 2000"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the expense transaction amount. Example: USD"
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code for the expense type in the company’s expense management system. Currently supports Concur Expense codes. The Expense Type Code is returned in the ExpKey element of the Get Expense Group Configuration function response."
        },
        "ExpenseTypeName": {
          "type": "string",
          "description": "The name of the expense type associated with the quick expense."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "LocationName": {
          "type": "string",
          "description": "The name of the location where the expense was incurred."
        },
        "OwnerLoginID": {
          "type": "string",
          "description": "The Concur login ID for the expense owner. Useful for system to system integration when there are expenses for multiple users."
        },
        "OwnerName": {
          "type": "string",
          "description": "The first and last name for the expense owner. Useful for system to system integration when there are expenses for multiple users."
        },
        "PaymentTypeCode": {
          "type": "string",
          "description": "This element specifies the method of payment for the expense. Format: CASHX = Cash, CPAID = Company Paid, or PENDC = Pending Card Transaction (default)"
        },
        "ReceiptImageID": {
          "type": "string",
          "description": "The ID of the receipt image associated with this quick expense, if any."
        },
        "TransactionAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the expense in the original currency, with up to three decimal places. Example: 123.654"
        },
        "TransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the expense was incurred. Format: YYYY-MM-DD"
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "VendorDescription": {
          "type": "string",
          "description": "The descriptive text for the vendor for the quick expense. This often matches the Merchant Name found in a credit card transaction.  Max Length: 64"
        }
      }
    },
    "QuickExpensePost": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "A comment that describes the expense. Max Length: 2000"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the expense transaction amount. Example: USD"
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code for the expense type in the company’s expense management system. Currently supports Concur Expense codes. The Expense Type Code is returned in the ExpKey element of the Get Expense Group Configuration function response."
        },
        "LocationCity": {
          "type": "string",
          "description": "The name of the city where the expense was incurred."
        },
        "LocationCountry": {
          "type": "string",
          "description": "The name of the country where the expense was incurred."
        },
        "LocationSubdivision": {
          "type": "string",
          "description": "TEXT NEEDED"
        },
        "PaymentTypeCode": {
          "type": "string",
          "description": "	This element specifies the method of payment for the expense. Format: CASHX = Cash, CPAID = Company Paid, or PENDC = Pending Card Transaction (default)"
        },
        "ReceiptImageID": {
          "type": "string",
          "description": "The ID of the receipt image associated with this quick expense, if any."
        },
        "SpendCategoryCode": {
          "type": "string",
          "description": "TEXT NEEDED"
        },
        "TransactionAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the expense in the original currency, with up to three decimal places. Example: 123.654"
        },
        "TransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the expense was incurred. Format: YYYY-MM-DD"
        },
        "VendorDescription": {
          "type": "string",
          "description": "The descriptive text for the vendor for the quick expense. This often matches the Merchant Name found in a credit card transaction.  Max Length: 64"
        }
      }
    },
    "QuickExpensePut": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "A comment that describes the expense. Max Length: 2000"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The 3-letter ISO 4217 currency code for the expense transaction amount. Example: USD"
        },
        "ExpenseTypeCode": {
          "type": "string",
          "description": "The code for the expense type in the company’s expense management system. Currently supports Concur Expense codes. The Expense Type Code is returned in the ExpKey element of the Get Expense Group Configuration function response."
        },
        "LocationCity": {
          "type": "string",
          "description": "The name of the city where the expense was incurred."
        },
        "LocationCountry": {
          "type": "string",
          "description": "The name of the country where the expense was incurred."
        },
        "LocationSubdivision": {
          "type": "string",
          "description": "TEXT NEEDED"
        },
        "PaymentTypeCode": {
          "type": "string",
          "description": "	This element specifies the method of payment for the expense. Format: CASHX = Cash, CPAID = Company Paid, or PENDC = Pending Card Transaction (default)"
        },
        "ReceiptImageID": {
          "type": "string",
          "description": "The ID of the receipt image associated with this quick expense, if any."
        },
        "SpendCategoryCode": {
          "type": "string",
          "description": "TEXT NEEDED"
        },
        "TransactionAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the expense in the original currency, with up to three decimal places. Example: 123.654"
        },
        "TransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the expense was incurred. Format: YYYY-MM-DD"
        },
        "VendorDescription": {
          "type": "string",
          "description": "The descriptive text for the vendor for the quick expense. This often matches the Merchant Name found in a credit card transaction.  Max Length: 64"
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
