{
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Reports",
    "description": "",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/expense/reports": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Gets all reports",
        "description": "Returns all reports owned by the user based on the search criteria.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Starting page offset",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return (default 25)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "Optional. The login ID of the report owner(s) to use when searching for reports. If the value is set to LoginID, reports for the report owner with this login ID value are returned. If the value is set to ALL, reports for all report owners are returned. If this parameter is not specified, reports for the OAuth Consumer are returned. The access token owner (OAuth Consumer) must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "approvalStatusCode",
            "in": "query",
            "description": "The status code for the Approval Status. The values can include Concur Expense standard codes or custom codes. The Concur Expense standard code values are: A_AAFH - Report submission triggered an anomaly and fraud check; A_ACCO - Report is pending reviews; A_APPR - Report has been approved; A_EXTV - Report is pending external validation; A_FILE - Report has been submitted; A_NOTF - Report has not been submitted; A_PBDG - Report approval is pending Budget approval; A_PECO - Report approval is pending Cost object approval; A_PEND - Report is pending manager approval; A_PVAL - Report is pending prepayment validation; A_RESU - Report needs to be resubmitted; A_RHLD - Report submission is pending receipt images; A_TEXP - Report expired in approval queue. For custom codes, contact Concur Developer Support.",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentStatusCode",
            "in": "query",
            "description": "The payment status code for the report. The values can include Concur Expense standard codes or custom codes. The Concur Expense standard code values are: P_HOLD - Report payment is on hold; P_NOTP - Report has not been paid; P_PAID - Report has been paid; P_PAYC - Payment is confirmed. Some or all of the report expenses have been paid; P_PROC - Report is in process to be paid. For custom codes, contact Concur Developer Support.",
            "required": false,
            "type": "string"
          },
          {
            "name": "currencyCode",
            "in": "query",
            "description": "The 3-letter ISO 4217 currency code for the report currency. Example: USD.",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentType",
            "in": "query",
            "description": "The unique identifier for the payment type that is the payment type for at least one expense entry in the report. Use PaymentTypeID from Response of GET Expense Group Configurations V3 to obtain valid payment types.",
            "required": false,
            "type": "string"
          },
          {
            "name": "reimbursementMethod",
            "in": "query",
            "description": "The method the report owner will be reimbursed. VALUES: ADPPAYR - ADP Payroll; APCHECK - AP (Company Check); CNQRPAY - Expense Pay; PMTSERV - Other Payment Service. NOTE: PAY_PAL is NOT supported.",
            "required": false,
            "type": "string"
          },
          {
            "name": "approverLoginID",
            "in": "query",
            "description": "The login ID for the report approver that is the current approver assigned to the report.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expenseTypeCode",
            "in": "query",
            "description": "The expense type code that is the expense type for at least one expense entry in the report. Use ExpenseTypeCode from Response of GET Expense Group Configurations V3.",
            "required": false,
            "type": "string"
          },
          {
            "name": "attendeeTypeCode",
            "in": "query",
            "description": "The report contains expense entries that have attendees of the specified type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "The report country. Maximum 2 characters. Format: The ISO 3166-1 alpha-2 country code. Example: United States is US.",
            "required": false,
            "type": "string"
          },
          {
            "name": "batchID",
            "in": "query",
            "description": "The unique identifier for a payment batch where there is at least one report payee within the report. Use the BatchID from Response of GET Payment Batch List.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendorName",
            "in": "query",
            "description": "The Vendor Description that is the vendor for at least one expense entry in the report.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hasVAT",
            "in": "query",
            "description": "Determines if the report has at least one expense entry with VAT details. FORMAT: true or false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasImages",
            "in": "query",
            "description": "Determines if the report has at least one expense entry with an entry image or if there is a report image for this report. FORMAT: true or false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasAttendees",
            "in": "query",
            "description": "Determines if the report has at least one expense entry with an attendee. FORMAT: true or false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasBillableExpenses",
            "in": "query",
            "description": "The IsBillable flag for at least one expense entry in the report. FORMAT: true or false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isTestUser",
            "in": "query",
            "description": "The report owner is a test user using the report for testing purposes in a non-production envirnment. FORMAT: true or false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "expenseGroupConfigID",
            "in": "query",
            "description": "The unique identifier for the expense group configuration associated to the report's expense group. Use the ID from the Response of the Expense Group Configurations V3.",
            "required": false,
            "type": "string"
          },
          {
            "name": "costObject",
            "in": "query",
            "description": "The list item code for an allocation field for at least allocation in the report.",
            "required": false,
            "type": "string"
          },
          {
            "name": "entryTransactionDateBefore",
            "in": "query",
            "description": "The entry transaction date for at least one expense entry in the report is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "entryTransactionDateAfter",
            "in": "query",
            "description": "The entry transaction date for at least one expense entry in the report is after this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createDateBefore",
            "in": "query",
            "description": "The report create date is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createDateAfter",
            "in": "query",
            "description": "The report create date is after this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "userDefinedDateBefore",
            "in": "query",
            "description": "The report user defined date is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "userDefinedDateAfter",
            "in": "query",
            "description": "The report user defined date is after this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "submitDateBefore",
            "in": "query",
            "description": "The report submit date is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "submitDateAfter",
            "in": "query",
            "description": "The report submit date is after this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "processingPaymentDateBefore",
            "in": "query",
            "description": "The report processing payment date is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "processingPaymentDateAfter",
            "in": "query",
            "description": "The report processing payment date is after this date. Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paidDateBefore",
            "in": "query",
            "description": "The report paid date is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paidDateAfter",
            "in": "query",
            "description": "The report paid date is after this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "modifiedDateBefore",
            "in": "query",
            "description": "The report modified date is before this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "modifiedDateAfter",
            "in": "query",
            "description": "The report modified date is after this date.Format: YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a new report",
        "description": "Create a new report",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "report object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportPost"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Optional. The login ID for the Report Owner.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          }
        }
      }
    },
    "/expense/reports/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Gets a single report by ID",
        "description": "Returns a report by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "report ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "Optional. The login ID of the report owner(s) to use when searching for reports. If the value is set to LoginID, reports for the report owner with this login ID value are returned. If the value is set to ALL, reports for all report owners are returned. If this parameter is not specified, reports for the OAuth Consumer are returned. The access token owner (OAuth Consumer) must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportGet"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update report",
        "description": "Updates report specified in the URL.  Only the fields provided in the supplied object will be updated, missing fields will not be altered.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The report object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportPut"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Optional. The login ID for the Report Owner.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateResponse": {
      "properties": {
        "ID": {
          "type": "string"
        },
        "URI": {
          "type": "string"
        }
      }
    },
    "CustomField": {
      "properties": {
        "Code": {
          "type": "string",
          "description": "For list fields, this is the list item code."
        },
        "ListItemID": {
          "type": "string",
          "description": "For list fields, this is the list item ID."
        },
        "Type": {
          "type": "string",
          "description": "The custom field type. Possible values: Amount, Boolean, ConnectedList, Date, Integer, List, Number, Text"
        },
        "Value": {
          "type": "string",
          "description": "The value in the Org Unit or Custom field. For list fields, this is the name of the list item.  Maximum length: 48 characters"
        }
      }
    },
    "Decimal": {
      "properties": {}
    },
    "Nullable`1": {
      "properties": {
        "HasValue": {
          "type": "boolean"
        },
        "Value": {
          "$ref": "#/definitions/Decimal"
        }
      }
    },
    "ReportCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ReportGet"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "ReportGet": {
      "properties": {
        "AmountDueCompanyCard": {
          "type": "number",
          "format": "double",
          "description": "The total amount due to the company card for the report. Maximum 23 characters."
        },
        "AmountDueEmployee": {
          "type": "number",
          "format": "double",
          "description": "The total amount due to the employee for the report. Maximum 23 characters."
        },
        "ApprovalStatusCode": {
          "type": "string",
          "description": "The approval status code for the report."
        },
        "ApprovalStatusName": {
          "type": "string",
          "description": "The report's approval status, in the OAuth consumer's language."
        },
        "ApproverLoginID": {
          "type": "string",
          "description": "The Login ID of the report owner's expense approver."
        },
        "ApproverName": {
          "type": "string",
          "description": "The name of the report owner's expense approver."
        },
        "Country": {
          "type": "string",
          "description": "The report country. Maximum 2 characters. Format: The ISO 3166-1 alpha-2 country code. Example: United States is US."
        },
        "CountrySubdivision": {
          "type": "string",
          "description": "The report country subdivision.  Format: ISO 3166-2:2007 country subdivision."
        },
        "CreateDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the report was created."
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The <a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/ISO_4217\\\">3-letter ISO 4217 currency code</a> for the expense report currency. Examples: USD - US dollars; BRL - Brazilian real; CAD - Canadian dollar; CHF - Swiss franc; EUR - Euro; GBO - Pound sterling; HKD - Hong Kong dollar; INR - Indian rupee; MXN - Mexican peso; NOK - Norwegian krone; SEK - Swedish krona."
        },
        "Custom1": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom10": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom11": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom12": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom13": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom14": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom15": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom16": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom17": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom18": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom19": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom2": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom20": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom3": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom4": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom5": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom6": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom7": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom8": {
          "$ref": "#/definitions/CustomField"
        },
        "Custom9": {
          "$ref": "#/definitions/CustomField"
        },
        "EverSentBack": {
          "type": "boolean",
          "description": "Whether the report has ever been sent back to the employee. Format: Y/N"
        },
        "HasException": {
          "type": "boolean",
          "description": "Whether the report has exceptions. Format: Y/N "
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "LastComment": {
          "type": "string",
          "description": "The text of the most recent comment on the report."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the report header was last modified."
        },
        "LedgerName": {
          "type": "string",
          "description": "The name of the expense report ledger. Maximum 20 characters."
        },
        "Name": {
          "type": "string",
          "description": "The name of the report."
        },
        "OrgUnit1": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit2": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit3": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit4": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit5": {
          "$ref": "#/definitions/CustomField"
        },
        "OrgUnit6": {
          "$ref": "#/definitions/CustomField"
        },
        "OwnerLoginID": {
          "type": "string",
          "description": "The Login ID of the user this report belongs to."
        },
        "OwnerName": {
          "type": "string",
          "description": "The name of the expense report owner."
        },
        "PaidDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when all journal entries in the report was integrated with or extracted to the financial system."
        },
        "PaymentStatusCode": {
          "type": "string",
          "description": "The code for the payment status of the report."
        },
        "PaymentStatusName": {
          "type": "string",
          "description": "The report's payment status, in the OAuth consumer's language."
        },
        "PersonalAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of expenses marked as personal. Maximum 23 characters."
        },
        "PolicyID": {
          "type": "string",
          "description": "The unique identifier of the policy that applies to this report. Maximum 64 characters."
        },
        "ProcessingPaymentDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date that the report completed all approvals and was ready to be extracted for payment."
        },
        "ReceiptsReceived": {
          "type": "boolean",
          "description": "If Y, then this report has its receipt receipt confirmed by the Expense Processor. Format: Y/N"
        },
        "SubmitDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date the report was submitted."
        },
        "Total": {
          "type": "number",
          "format": "double",
          "description": "The total amount of the report."
        },
        "TotalApprovedAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of approved expenses in the report. Maximum 23 characters."
        },
        "TotalClaimedAmount": {
          "type": "number",
          "format": "double",
          "description": "The total amount of all non-personal expenses in the report. Maximum 23 characters."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "UserDefinedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the report assigned by the user."
        },
        "WorkflowActionUrl": {
          "type": "string",
          "description": "The URL to post a workflow action to the report using the Post Report Workflow Action function."
        }
      }
    },
    "ReportPost": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "The report header comment. Maximum length: 500."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom8": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom9": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Name": {
          "type": "string",
          "description": "The name of the report."
        },
        "OrgUnit1": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit2": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit3": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit4": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit5": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit6": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "PolicyID": {
          "type": "string",
          "description": "The unique identifier for the policy.  This is the protected, Policy Key"
        },
        "Purpose": {
          "type": "string",
          "description": "The business purpose of the report. Maximum length: 500."
        },
        "UserDefinedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the report assigned by the user."
        }
      }
    },
    "ReportPut": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "The report header comment. Maximum length: 500."
        },
        "Custom1": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom10": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom11": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom12": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom13": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom14": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom15": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom16": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom17": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom18": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom19": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom2": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom20": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom3": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom4": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom5": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom6": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom7": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom8": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Custom9": {
          "type": "string",
          "description": "The details from the Custom fields. These may not have data, depending on configuration."
        },
        "Name": {
          "type": "string",
          "description": "The name of the report."
        },
        "OrgUnit1": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit2": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit3": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit4": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit5": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "OrgUnit6": {
          "type": "string",
          "description": "The details from the Org Unit fields. These may not have data, depending on configuration."
        },
        "PolicyID": {
          "type": "string",
          "description": "The unique identifier for the policy.  This is the protected, Policy Key"
        },
        "Purpose": {
          "type": "string",
          "description": "The business purpose of the report. Maximum length: 500."
        },
        "UserDefinedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the report assigned by the user."
        }
      }
    },
    "Void": {
      "properties": {}
    }
  }
}
